@tailwind base;
@tailwind components;
@tailwind utilities;
/* v4 tailwind, not used at the moment */
/* @import 'tailwindcss'; */

/* Via shadcn */
@layer base {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(250, 12%, 20%);

    --muted: hsl(0, 0%, 95%);
    --muted-foreground: hsl(0, 0%, 27%);

    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(250, 12%, 20%);

    --tooltip: hsl(240, 10%, 17%);
    --tooltip-foreground: hsl(0, 0%, 100%);

    --border: hsl(220, 25%, 86%);
    --input: hsl(220, 25%, 86%);

    --card: hsl(0, 0%, 100%);
    --card-border: hsl(220, 13%, 91%);
    --card-foreground: hsl(250, 12%, 20%);

    --primary: hsl(250, 12%, 20%);
    --primary-foreground: hsl(220, 35%, 92%);

    --secondary: hsl(0, 0%, 100%);
    --secondary-foreground: hsl(250, 12%, 20%);

    --accent: hsl(0, 0%, 95%);
    --accent-foreground: hsl(250, 12%, 20%);

    --destructive: hsl(0, 100%, 50%);
    --destructive-foreground: hsl(220, 35%, 92%);
    --destructive-hover: hsl(0, 100%, 40%);
    --destructive-stroke: hsl(0, 100%, 65%);

    --outline-hover-foreground: hsl(0, 0%, 32%);

    --ring: hsl(235, 7%, 46%);

    --radius: 0.5rem;

    --button: hsl(265, 100%, 57%);
    --button-light: hsl(255, 90%, 96%);
    --button-foreground: hsl(0, 0%, 100%);
    --button-hover: hsl(258, 67%, 46%);
    --button-stroke: #a884ff;
    --button-secondary: transparent;
    --button-secondary-foreground: hsl(250, 12%, 20%);
    --button-secondary-stroke: hsl(220, 25%, 86%);
    --button-secondary-hover: hsl(0, 0%, 95%);

    --tab: hsl(0, 0%, 100%);
    --navbar: hsl(0, 0%, 100%);
    --sidebar: hsl(0, 0%, 100%);

    --toast-bg-default: hsl(0, 0%, 100%);
    --toast-border-default: hsl(220, 25%, 86%);
    --toast-bg-success: hsl(134, 58%, 47%);
    --toast-border-success: hsl(134, 79%, 32%);
    --toast-bg-loading: hsl(0, 0%, 64%);
    --toast-border-loading: hsl(0, 0%, 42%);
    --toast-bg-destructive: hsl(0, 100%, 63%);
    --toast-border-destructive: hsl(0, 60%, 55%);
    --toast-foreground: hsl(0, 0%, 100%);

    --spinner-bg: hsla(0, 0%, 100%, 0.7); /* Equivalent to bg-white/70 */
  }
  /* TODO: Uncomment when we want to support dark theme on the console */
  /* .dark {
    --background: hsl(0, 0, 11%);
    --foreground: hsl(0, 0%, 96.5%);

    --muted: hsla(0, 0%, 100%, 0.097);
    --muted-foreground: hsl(0, 0%, 60%);

    --accent: hsla(0, 0%, 100%, 0.097);
    --accent-foreground: hsla(0, 0%, 92%, 0.635);

    --popover: hsl(0, 0%, 14%);
    --popover-foreground: hsl(0, 0%, 96.5%);

    --border: hsl(0, 0%, 20%);
    --input: hsla(0, 0%, 100%, 0.097);

    --card: hsl(0, 0%, 14%);
    --card-border: hsl(0, 0%, 20%);
    --card-foreground: hsl(0, 0%, 96.5%);

    --primary: hsl(0, 0%, 96.5%);
    --primary-foreground: hsl(0, 0%, 11%);

    --secondary: hsl(0, 0%, 14%);
    --secondary-foreground: hsl(0, 0%, 96.5%);

    --destructive: hsl(7, 68%, 53%);
    --destructive-foreground: hsl(220, 35%, 92%);

    --ring: hsla(0, 0%, 100%, 0.097);

    --button: hsl(255, 90%, 66%);
    --button-light: hsl(255, 90%, 96%);
    --button-foreground: hsl(0, 0%, 96.5%);
    --button-hover: hsl(255, 70%, 71%);
    --button-stroke: hsl(255, 45%, 51%);
    --button-secondary: hsl(0, 0%, 14%);
    --button-secondary-foreground: hsl(0, 0%, 96.5%);
    --button-secondary-stroke: hsl(0, 0%, 20%);
    --button-secondary-hover: hsl(0, 0%, 24%);

    --tab: hsl(0, 0%, 14%);
    --navbar: hsl(0, 0%, 100%);
    --sidebar: hsl(0, 0%, 100%);

    --toast-bg-default: hsl(0, 0%, 14%);
    --toast-border-default: hsl(0, 0%, 20%);
    --toast-bg-success: hsl(138, 41%, 25%);
    --toast-border-success: hsl(138, 47%, 48%);
    --toast-bg-loading: hsl(0, 0%, 27%);
    --toast-border-loading: hsl(0, 0%, 42%);
    --toast-bg-destructive: hsl(0, 50%, 28%);
    --toast-border-destructive: hsl(0, 41%, 50%);
    --toast-foreground: hsl(0, 0%, 100%);
    --spinner-bg: hsla(0, 0%, 100%, 0.098);
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-8 w-8 items-center justify-center rounded-full bg-muted text-center -indent-px text-base font-medium;
    @apply ml-[-41px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

@import "../../../packages/ui/schema-form.css";
