{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenInt",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.openint.dev/v1"
    }
  ],
  "paths": {
    "/connection/{id}": {
      "get": {
        "operationId": "getConnection",
        "summary": "Get Connection & Credentials",
        "description": "Get details of a specific connection, including credentials",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the connection, starts with `conn_`",
            "schema": {
              "type": "string",
              "pattern": "^conn_",
              "description": "The id of the connection, starts with `conn_`"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "include_secrets",
            "description": "Controls secret inclusion: none (default), basic (auth only), or all secrets",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "basic",
                "all"
              ],
              "description": "Controls secret inclusion: none (default), basic (auth only), or all secrets",
              "default": "none"
            }
          },
          {
            "in": "query",
            "name": "refresh_policy",
            "description": "Controls credential refresh: none (never), force (always), or auto (when expired, default)",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "force",
                "auto"
              ],
              "description": "Controls credential refresh: none (never), force (always), or auto (when expired, default)",
              "default": "auto"
            }
          },
          {
            "in": "query",
            "name": "expand",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "connector"
                ],
                "description": "Fields to expand: connector (includes connector details)"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/core.connection",
                  "description": "The connection details"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/connection": {
      "get": {
        "operationId": "listConnections",
        "summary": "List Connections",
        "description": "List all connections with optional filtering",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the number of items returned",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 50,
              "description": "Limit the number of items returned"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the items returned",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "description": "Offset the items returned"
            }
          },
          {
            "in": "query",
            "name": "connector_name",
            "description": "The name of the connector",
            "schema": {
              "type": "string",
              "enum": [
                "aircall",
                "airtable",
                "apollo",
                "beancount",
                "brex",
                "coda",
                "confluence",
                "discord",
                "finch",
                "firebase",
                "foreceipt",
                "github",
                "gong",
                "google",
                "greenhouse",
                "heron",
                "hubspot",
                "intercom",
                "jira",
                "kustomer",
                "lever",
                "linear",
                "lunchmoney",
                "merge",
                "microsoft",
                "moota",
                "onebrick",
                "outreach",
                "pipedrive",
                "plaid",
                "qbo",
                "ramp",
                "salesforce",
                "salesloft",
                "saltedge",
                "slack",
                "splitwise",
                "stripe",
                "teller",
                "toggl",
                "twenty",
                "wise",
                "xero",
                "yodlee",
                "zohodesk",
                "googledrive"
              ],
              "description": "The name of the connector"
            }
          },
          {
            "in": "query",
            "name": "customer_id",
            "description": "The id of the customer in your application. Ensure it is unique for that customer.",
            "schema": {
              "type": "string",
              "description": "The id of the customer in your application. Ensure it is unique for that customer."
            }
          },
          {
            "in": "query",
            "name": "connector_config_id",
            "description": "The id of the connector config, starts with `ccfg_`",
            "schema": {
              "type": "string",
              "pattern": "^ccfg_",
              "description": "The id of the connector config, starts with `ccfg_`"
            }
          },
          {
            "in": "query",
            "name": "include_secrets",
            "description": "Controls secret inclusion: none (default), basic (auth only), or all secrets",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "basic",
                "all"
              ],
              "description": "Controls secret inclusion: none (default), basic (auth only), or all secrets",
              "default": "none"
            }
          },
          {
            "in": "query",
            "name": "expand",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "connector"
                ],
                "description": "Fields to expand: connector (includes connector details)"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/core.connection"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Total number of items in the database for the organization"
                    },
                    "limit": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 100,
                      "default": 50,
                      "description": "Limit the number of items returned"
                    },
                    "offset": {
                      "type": "integer",
                      "minimum": 0,
                      "default": 0,
                      "description": "Offset the items returned"
                    }
                  },
                  "required": [
                    "items",
                    "total",
                    "limit",
                    "offset"
                  ],
                  "description": "The list of connections"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/connection/{id}/check": {
      "post": {
        "operationId": "checkConnection",
        "summary": "Check Connection Health",
        "description": "Verify that a connection is healthy",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the connection, starts with `conn_`",
            "schema": {
              "type": "string",
              "pattern": "^conn_",
              "description": "The id of the connection, starts with `conn_`"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^conn_",
                      "description": "The id of the connection, starts with `conn_`"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "healthy",
                        "disconnected",
                        "error",
                        "manual"
                      ],
                      "description": "Connection status: healthy (all well), disconnected (needs reconnection), error (system issue), manual (import connection)"
                    },
                    "error": {
                      "type": "string",
                      "enum": [
                        "refresh_failed",
                        "unknown_external_error"
                      ],
                      "description": "Error types: refresh_failed and unknown_external_error"
                    },
                    "errorMessage": {
                      "type": "string",
                      "description": "Optional expanded error message"
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/connector-config": {
      "get": {
        "operationId": "listConnectorConfigs",
        "summary": "List Connector Configurations",
        "description": "List all connector configurations with optional filtering",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the number of items returned",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 50,
              "description": "Limit the number of items returned"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the items returned",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "description": "Offset the items returned"
            }
          },
          {
            "in": "query",
            "name": "expand",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "connector"
                ],
                "description": "Fields to expand: connector (includes connector details)"
              },
              "default": []
            }
          },
          {
            "in": "query",
            "name": "connector_name",
            "description": "The name of the connector",
            "schema": {
              "type": "string",
              "enum": [
                "aircall",
                "airtable",
                "apollo",
                "beancount",
                "brex",
                "coda",
                "confluence",
                "discord",
                "finch",
                "firebase",
                "foreceipt",
                "github",
                "gong",
                "google",
                "greenhouse",
                "heron",
                "hubspot",
                "intercom",
                "jira",
                "kustomer",
                "lever",
                "linear",
                "lunchmoney",
                "merge",
                "microsoft",
                "moota",
                "onebrick",
                "outreach",
                "pipedrive",
                "plaid",
                "qbo",
                "ramp",
                "salesforce",
                "salesloft",
                "saltedge",
                "slack",
                "splitwise",
                "stripe",
                "teller",
                "toggl",
                "twenty",
                "wise",
                "xero",
                "yodlee",
                "zohodesk",
                "googledrive"
              ],
              "description": "The name of the connector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "org_id": {
                            "type": "string"
                          },
                          "connector_name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "org_id",
                          "connector_name"
                        ]
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Total number of items in the database for the organization"
                    },
                    "limit": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 100,
                      "default": 50,
                      "description": "Limit the number of items returned"
                    },
                    "offset": {
                      "type": "integer",
                      "minimum": 0,
                      "default": 0,
                      "description": "Offset the items returned"
                    }
                  },
                  "required": [
                    "items",
                    "total",
                    "limit",
                    "offset"
                  ],
                  "description": "The list of connector configurations"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createConnectorConfig",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "connector_name": {
                    "type": "string"
                  }
                },
                "required": [
                  "connector_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "org_id": {
                      "type": "string"
                    },
                    "connector_name": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "org_id",
                    "connector_name"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/event": {
      "get": {
        "operationId": "listEvents",
        "summary": "List Organization Events",
        "description": "List all events for an organization",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the number of items returned",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 50,
              "description": "Limit the number of items returned"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the items returned",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "description": "Offset the items returned"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/core.event"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Total number of items in the database for the organization"
                    },
                    "limit": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 100,
                      "default": 50,
                      "description": "Limit the number of items returned"
                    },
                    "offset": {
                      "type": "integer",
                      "minimum": 0,
                      "default": 0,
                      "description": "Offset the items returned"
                    }
                  },
                  "required": [
                    "items",
                    "total",
                    "limit",
                    "offset"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Health Check",
        "description": "Check if the API is operational",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "healthEcho",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/viewer": {
      "get": {
        "operationId": "viewer",
        "summary": "Get Current User",
        "description": "Get information about the current authenticated user",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "const": "anon"
                        }
                      },
                      "required": [
                        "role"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "const": "customer"
                        },
                        "customerId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "orgId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "role",
                        "customerId",
                        "orgId"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "const": "user"
                        },
                        "userId": {
                          "type": "string"
                        },
                        "orgId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "extra": {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "role",
                        "userId"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "const": "org"
                        },
                        "orgId": {
                          "type": "string"
                        },
                        "extra": {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "role",
                        "orgId"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "const": "system"
                        }
                      },
                      "required": [
                        "role"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/customer/{customer_id}/magic-link": {
      "post": {
        "operationId": "createMagicLink",
        "summary": "Create Magic Link",
        "description": "Create a magic link for connecting integrations",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "customer_id",
            "description": "The id of the customer in your application. Ensure it is unique for that customer.",
            "schema": {
              "type": "string",
              "description": "The id of the customer in your application. Ensure it is unique for that customer."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "validity_in_seconds": {
                    "type": "number",
                    "default": 2592000,
                    "description": "How long the magic link will be valid for (in seconds) before it expires"
                  },
                  "redirect_url": {
                    "type": "string",
                    "description": "Where to send user to after connect / if they press back button"
                  },
                  "connector_names": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "aircall",
                        "airtable",
                        "apollo",
                        "beancount",
                        "brex",
                        "coda",
                        "confluence",
                        "discord",
                        "finch",
                        "firebase",
                        "foreceipt",
                        "github",
                        "gong",
                        "google",
                        "greenhouse",
                        "heron",
                        "hubspot",
                        "intercom",
                        "jira",
                        "kustomer",
                        "lever",
                        "linear",
                        "lunchmoney",
                        "merge",
                        "microsoft",
                        "moota",
                        "onebrick",
                        "outreach",
                        "pipedrive",
                        "plaid",
                        "qbo",
                        "ramp",
                        "salesforce",
                        "salesloft",
                        "saltedge",
                        "slack",
                        "splitwise",
                        "stripe",
                        "teller",
                        "toggl",
                        "twenty",
                        "wise",
                        "xero",
                        "yodlee",
                        "zohodesk",
                        "googledrive"
                      ],
                      "description": ""
                    },
                    "default": [],
                    "description": "Filter integrations by connector names"
                  },
                  "connection_id": {
                    "type": "string",
                    "pattern": "^conn_",
                    "description": "The specific connection id to load"
                  },
                  "theme": {
                    "type": "string",
                    "enum": [
                      "light",
                      "dark"
                    ],
                    "default": "light",
                    "description": "Magic Link display theme"
                  },
                  "view": {
                    "type": "string",
                    "enum": [
                      "manage",
                      "manage-deeplink",
                      "add",
                      "add-deeplink"
                    ],
                    "default": "add",
                    "description": "Magic Link tab view to load in the connect magic link"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "magic_link_url": {
                      "type": "string",
                      "description": "The Connect magic link url to share with the user."
                    }
                  },
                  "required": [
                    "magic_link_url"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/customer/{customer_id}/token": {
      "post": {
        "operationId": "createToken",
        "summary": "Create Customer Authentication Token",
        "description": "Create an authentication token for a customer",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "customer_id",
            "description": "The id of the customer in your application. Ensure it is unique for that customer.",
            "schema": {
              "type": "string",
              "description": "The id of the customer in your application. Ensure it is unique for that customer."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "validity_in_seconds": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "default": 2592000,
                    "description": "How long the token will be valid for (in seconds) before it expires"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "The authentication token to use for API requests"
                    }
                  },
                  "required": [
                    "token"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "name": "authorization",
        "in": "header",
        "description": "Organization API key generated in the OpenInt Console and passed in the `authorization` header with format: `Bearer {apiKey}`"
      },
      "CustomerToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Customer authentication token created using the create customer token API and passed in the `authorization` header with format: `Bearer {token}`"
      }
    },
    "schemas": {
      "connectors.aircall.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "aircall"
          },
          "settings": {
            "type": "object",
            "properties": {
              "apiId": {
                "type": "string"
              },
              "apiToken": {
                "type": "string"
              }
            },
            "required": [
              "apiId",
              "apiToken"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "aircall"
      },
      "connectors.airtable.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "airtable"
          },
          "settings": {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "airtableBase": {
                "type": "string"
              }
            },
            "required": [
              "apiKey",
              "airtableBase"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "airtable"
      },
      "connectors.apollo.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "apollo"
          },
          "settings": {
            "type": "object",
            "properties": {
              "oauth": {
                "type": "object",
                "properties": {
                  "credentials": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "OAUTH2",
                          "OAUTH1",
                          "BASIC",
                          "API_KEY"
                        ]
                      },
                      "api_key": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "access_token": {
                        "type": "string"
                      },
                      "refresh_token": {
                        "type": "string"
                      },
                      "expires_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "raw": {
                        "type": "object",
                        "properties": {
                          "access_token": {
                            "type": "string"
                          },
                          "expires_in": {
                            "type": "number"
                          },
                          "expires_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "refresh_token": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "refresh_token_expires_in": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "token_type": {
                            "type": "string"
                          },
                          "scope": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "access_token",
                          "token_type"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "raw"
                    ]
                  },
                  "connection_config": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "portalId": {
                        "type": [
                          "number",
                          "null"
                        ]
                      },
                      "instance_url": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": {}
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {}
                  }
                },
                "required": [
                  "credentials",
                  "metadata"
                ]
              },
              "error": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "code": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "refresh_token_external_error"
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "code"
                ]
              }
            },
            "required": [
              "oauth"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "apollo"
      },
      "connectors.beancount.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "beancount"
          },
          "settings": {
            "type": "null"
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "beancount"
      },
      "connectors.brex.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "brex"
          },
          "settings": {
            "type": "object",
            "properties": {
              "accessToken": {
                "type": "string"
              }
            },
            "required": [
              "accessToken"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "brex"
      },
      "connectors.coda.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "coda"
          },
          "settings": {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              }
            },
            "required": [
              "apiKey"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "coda"
      },
      "connectors.confluence.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "confluence"
          },
          "settings": {
            "type": "object",
            "properties": {
              "oauth": {
                "type": "object",
                "properties": {
                  "credentials": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "OAUTH2",
                          "OAUTH1",
                          "BASIC",
                          "API_KEY"
                        ]
                      },
                      "api_key": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "access_token": {
                        "type": "string"
                      },
                      "refresh_token": {
                        "type": "string"
                      },
                      "expires_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "raw": {
                        "type": "object",
                        "properties": {
                          "access_token": {
                            "type": "string"
                          },
                          "expires_in": {
                            "type": "number"
                          },
                          "expires_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "refresh_token": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "refresh_token_expires_in": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "token_type": {
                            "type": "string"
                          },
                          "scope": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "access_token",
                          "token_type"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "raw"
                    ]
                  },
                  "connection_config": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "portalId": {
                        "type": [
                          "number",
                          "null"
                        ]
                      },
                      "instance_url": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": {}
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {}
                  }
                },
                "required": [
                  "credentials",
                  "metadata"
                ]
              },
              "error": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "code": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "refresh_token_external_error"
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "code"
                ]
              }
            },
            "required": [
              "oauth"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "confluence"
      },
      "connectors.discord.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "discord"
          },
          "settings": {
            "type": "object",
            "properties": {
              "oauth": {
                "type": "object",
                "properties": {
                  "credentials": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "OAUTH2",
                          "OAUTH1",
                          "BASIC",
                          "API_KEY"
                        ]
                      },
                      "api_key": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "access_token": {
                        "type": "string"
                      },
                      "refresh_token": {
                        "type": "string"
                      },
                      "expires_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "raw": {
                        "type": "object",
                        "properties": {
                          "access_token": {
                            "type": "string"
                          },
                          "expires_in": {
                            "type": "number"
                          },
                          "expires_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "refresh_token": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "refresh_token_expires_in": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "token_type": {
                            "type": "string"
                          },
                          "scope": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "access_token",
                          "token_type"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "raw"
                    ]
                  },
                  "connection_config": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "portalId": {
                        "type": [
                          "number",
                          "null"
                        ]
                      },
                      "instance_url": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": {}
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {}
                  }
                },
                "required": [
                  "credentials",
                  "metadata"
                ]
              },
              "error": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "code": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "refresh_token_external_error"
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "code"
                ]
              }
            },
            "required": [
              "oauth"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "discord"
      },
      "connectors.finch.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "finch"
          },
          "settings": {
            "type": "object",
            "properties": {
              "access_token": {
                "type": "string"
              }
            },
            "required": [
              "access_token"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "finch"
      },
      "connectors.firebase.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "firebase"
          },
          "settings": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "const": "admin"
                  },
                  "serviceAccount": {
                    "type": "object",
                    "properties": {
                      "project_id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "project_id"
                    ],
                    "additionalProperties": {}
                  }
                },
                "required": [
                  "role",
                  "serviceAccount"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "const": "user"
                  },
                  "firebaseConfig": {
                    "type": "object",
                    "properties": {
                      "projectId": {
                        "type": "string"
                      },
                      "apiKey": {
                        "type": "string"
                      },
                      "appId": {
                        "type": "string"
                      },
                      "authDomain": {
                        "type": "string"
                      },
                      "databaseURL": {
                        "type": "string"
                      },
                      "storageBucket": {
                        "type": "string"
                      },
                      "measurementId": {
                        "type": "string"
                      },
                      "messagingSenderId": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "projectId",
                      "apiKey",
                      "appId",
                      "authDomain",
                      "databaseURL"
                    ]
                  },
                  "authData": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string",
                            "const": "userJson"
                          },
                          "userJson": {
                            "type": "object",
                            "properties": {
                              "uid": {
                                "type": "string"
                              },
                              "appName": {
                                "type": "string"
                              },
                              "stsTokenManager": {
                                "type": "object",
                                "additionalProperties": {}
                              }
                            },
                            "required": [
                              "uid",
                              "appName",
                              "stsTokenManager"
                            ],
                            "additionalProperties": {}
                          }
                        },
                        "required": [
                          "method",
                          "userJson"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string",
                            "const": "customToken"
                          },
                          "customToken": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "method",
                          "customToken"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string",
                            "const": "emailPassword"
                          },
                          "email": {
                            "type": "string"
                          },
                          "password": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "method",
                          "email",
                          "password"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "role",
                  "firebaseConfig",
                  "authData"
                ]
              }
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "firebase"
      },
      "connectors.foreceipt.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "foreceipt"
          },
          "settings": {
            "type": "object",
            "properties": {
              "credentials": {},
              "options": {},
              "_id": {},
              "envName": {
                "type": "string",
                "enum": [
                  "staging",
                  "production"
                ]
              }
            },
            "required": [
              "envName"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "foreceipt"
      },
      "connectors.github.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "github"
          },
          "settings": {
            "type": "object",
            "properties": {
              "oauth": {
                "type": "object",
                "properties": {
                  "credentials": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "OAUTH2",
                          "OAUTH1",
                          "BASIC",
                          "API_KEY"
                        ]
                      },
                      "api_key": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "access_token": {
                        "type": "string"
                      },
                      "refresh_token": {
                        "type": "string"
                      },
                      "expires_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "raw": {
                        "type": "object",
                        "properties": {
                          "access_token": {
                            "type": "string"
                          },
                          "expires_in": {
                            "type": "number"
                          },
                          "expires_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "refresh_token": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "refresh_token_expires_in": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "token_type": {
                            "type": "string"
                          },
                          "scope": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "access_token",
                          "token_type"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "raw"
                    ]
                  },
                  "connection_config": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "portalId": {
                        "type": [
                          "number",
                          "null"
                        ]
                      },
                      "instance_url": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": {}
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {}
                  }
                },
                "required": [
                  "credentials",
                  "metadata"
                ]
              },
              "error": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "code": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "refresh_token_external_error"
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "code"
                ]
              }
            },
            "required": [
              "oauth"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "github"
      },
      "connectors.gong.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "gong"
          },
          "settings": {
            "type": "object",
            "properties": {
              "oauth": {
                "type": "object",
                "properties": {
                  "credentials": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "OAUTH2",
                          "OAUTH1",
                          "BASIC",
                          "API_KEY"
                        ]
                      },
                      "api_key": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "access_token": {
                        "type": "string"
                      },
                      "refresh_token": {
                        "type": "string"
                      },
                      "expires_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "raw": {
                        "type": "object",
                        "properties": {
                          "access_token": {
                            "type": "string"
                          },
                          "expires_in": {
                            "type": "number"
                          },
                          "expires_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "refresh_token": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "refresh_token_expires_in": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "token_type": {
                            "type": "string"
                          },
                          "scope": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "access_token",
                          "token_type"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "raw"
                    ]
                  },
                  "connection_config": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "portalId": {
                        "type": [
                          "number",
                          "null"
                        ]
                      },
                      "instance_url": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": {}
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {}
                  }
                },
                "required": [
                  "credentials",
                  "metadata"
                ]
              },
              "error": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "code": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "refresh_token_external_error"
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "code"
                ]
              }
            },
            "required": [
              "oauth"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "gong"
      },
      "connectors.google.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "google"
          },
          "settings": {
            "type": "object",
            "properties": {
              "oauth": {
                "type": "object",
                "properties": {
                  "credentials": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "OAUTH2",
                          "OAUTH1",
                          "BASIC",
                          "API_KEY"
                        ]
                      },
                      "api_key": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "access_token": {
                        "type": "string"
                      },
                      "refresh_token": {
                        "type": "string"
                      },
                      "expires_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "raw": {
                        "type": "object",
                        "properties": {
                          "access_token": {
                            "type": "string"
                          },
                          "expires_in": {
                            "type": "number"
                          },
                          "expires_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "refresh_token": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "refresh_token_expires_in": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "token_type": {
                            "type": "string"
                          },
                          "scope": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "access_token",
                          "token_type"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "raw"
                    ]
                  },
                  "connection_config": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "portalId": {
                        "type": [
                          "number",
                          "null"
                        ]
                      },
                      "instance_url": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": {}
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {}
                  }
                },
                "required": [
                  "credentials",
                  "metadata"
                ]
              },
              "error": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "code": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "refresh_token_external_error"
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "code"
                ]
              },
              "client_id": {
                "type": "string"
              }
            },
            "required": [
              "oauth"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "google"
      },
      "connectors.googledrive.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "googledrive"
          },
          "settings": {
            "type": "null"
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "googledrive"
      },
      "connectors.greenhouse.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "greenhouse"
          },
          "settings": {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              }
            },
            "required": [
              "apiKey"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "greenhouse"
      },
      "connectors.heron.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "heron"
          },
          "settings": {
            "type": "null"
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "heron"
      },
      "connectors.hubspot.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "hubspot"
          },
          "settings": {
            "type": "object",
            "properties": {
              "oauth": {
                "type": "object",
                "properties": {
                  "credentials": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "OAUTH2",
                          "OAUTH1",
                          "BASIC",
                          "API_KEY"
                        ]
                      },
                      "api_key": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "access_token": {
                        "type": "string"
                      },
                      "refresh_token": {
                        "type": "string"
                      },
                      "expires_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "raw": {
                        "type": "object",
                        "properties": {
                          "access_token": {
                            "type": "string"
                          },
                          "expires_in": {
                            "type": "number"
                          },
                          "expires_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "refresh_token": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "refresh_token_expires_in": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "token_type": {
                            "type": "string"
                          },
                          "scope": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "access_token",
                          "token_type"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "raw"
                    ]
                  },
                  "connection_config": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "portalId": {
                        "type": [
                          "number",
                          "null"
                        ]
                      },
                      "instance_url": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": {}
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {}
                  }
                },
                "required": [
                  "credentials",
                  "metadata"
                ]
              },
              "error": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "code": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "refresh_token_external_error"
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "code"
                ]
              },
              "extra": {}
            },
            "required": [
              "oauth"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "hubspot"
      },
      "connectors.intercom.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "intercom"
          },
          "settings": {
            "type": "object",
            "properties": {
              "oauth": {
                "type": "object",
                "properties": {
                  "credentials": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "OAUTH2",
                          "OAUTH1",
                          "BASIC",
                          "API_KEY"
                        ]
                      },
                      "api_key": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "access_token": {
                        "type": "string"
                      },
                      "refresh_token": {
                        "type": "string"
                      },
                      "expires_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "raw": {
                        "type": "object",
                        "properties": {
                          "access_token": {
                            "type": "string"
                          },
                          "expires_in": {
                            "type": "number"
                          },
                          "expires_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "refresh_token": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "refresh_token_expires_in": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "token_type": {
                            "type": "string"
                          },
                          "scope": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "access_token",
                          "token_type"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "raw"
                    ]
                  },
                  "connection_config": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "portalId": {
                        "type": [
                          "number",
                          "null"
                        ]
                      },
                      "instance_url": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": {}
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {}
                  }
                },
                "required": [
                  "credentials",
                  "metadata"
                ]
              },
              "error": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "code": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "refresh_token_external_error"
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "message": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "code"
                ]
              }
            },
            "required": [
              "oauth"
            ]
          }
        },
        "required": [
          "connector_name",
          "settings"
        ],
        "title": "intercom"
      },
      "connectors.jira.connectionSettings": {
        "type": "object",
        "properties": {
          "connector_name": {
            "type": "string",
            "const": "jira"
          },
          "settings": {
            "type": "object",
            "properties": {
              "oauth": {
                "type": "object",
                "properties": {
                  "credentials": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "OAUTH2",
                          "OAUTH1",
                          "BASIC",
                          "API_KEY"
                        ]
                      },
                      "api_key": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "access_token": {
                        "type": "string"
                      },
                      "refresh_token": {
                        "type": "string"
                      },
                      "expires_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "raw": {
                        "type": "object",
                        "properties": {
                          "access_token": {
                            "type": "string"
                          },
                          "expires_in": {
                            "type": "number"
                          },
                          "expires_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "refresh_token": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "refresh_token_expires_in": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "token_type": {
                            "type": "string"
                          },
                          "scope": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "access_token",
                          "token_type"
[...]
