{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenInt",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.openint.dev/v1"
    }
  ],
  "paths": {
    "/connector": {
      "get": {
        "operationId": "listConnectors",
        "summary": "List all connectors",
        "description": "List all connectors with optional filtering",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "expand",
            "description": "Comma separated list of fields to optionally expand.\n\nAvailable Options: `integrations`",
            "schema": {
              "type": "string",
              "description": "Comma separated list of fields to optionally expand.\n\nAvailable Options: `integrations`"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/core.connector"
                      }
                    ],
                    "properties": {
                      "integrations": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/core.integration"
                        }
                      }
                    }
                  },
                  "description": "List of connectors with selected fields"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/connector-config": {
      "get": {
        "operationId": "listConnectorConfigs",
        "summary": "List Connector Configurations",
        "description": "List all connector configurations",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the number of items returned",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 50,
              "description": "Limit the number of items returned"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the items returned",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "description": "Offset the items returned"
            }
          },
          {
            "in": "query",
            "name": "expand",
            "description": "Comma separated list of fields to optionally expand.\n\nAvailable Options: `connector`, `enabled_integrations`",
            "schema": {
              "type": "string",
              "description": "Comma separated list of fields to optionally expand.\n\nAvailable Options: `connector`, `enabled_integrations`"
            }
          },
          {
            "in": "query",
            "name": "connector_name",
            "description": "The name of the connector",
            "schema": {
              "type": "string",
              "enum": [
                "aircall",
                "airtable",
                "apollo",
                "brex",
                "coda",
                "confluence",
                "discord",
                "facebook",
                "finch",
                "firebase",
                "foreceipt",
                "github",
                "gong",
                "googlecalendar",
                "googledocs",
                "googledrive",
                "googlemail",
                "googlesheet",
                "greenhouse",
                "heron",
                "hubspot",
                "instagram",
                "intercom",
                "jira",
                "kustomer",
                "lever",
                "linear",
                "linkedin",
                "lunchmoney",
                "merge",
                "microsoft",
                "moota",
                "notion",
                "onebrick",
                "outreach",
                "pipedrive",
                "plaid",
                "quickbooks",
                "ramp",
                "reddit",
                "salesforce",
                "salesloft",
                "saltedge",
                "sharepointonline",
                "slack",
                "splitwise",
                "stripe",
                "teller",
                "toggl",
                "twenty",
                "twitter",
                "wise",
                "xero",
                "yodlee",
                "zohodesk"
              ],
              "description": "The name of the connector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "org_id": {
                                "type": "string"
                              },
                              "display_name": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "disabled": {
                                "type": [
                                  "boolean",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "updated_at",
                              "created_at",
                              "org_id",
                              "display_name",
                              "disabled"
                            ],
                            "description": "Connector Config Base"
                          },
                          {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/connectors.aircall.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.airtable.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.apollo.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.brex.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.coda.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.confluence.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.discord.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.facebook.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.finch.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.firebase.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.foreceipt.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.github.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.gong.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.googlecalendar.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.googledocs.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.googledrive.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.googlemail.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.googlesheet.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.greenhouse.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.heron.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.hubspot.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.instagram.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.intercom.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.jira.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.kustomer.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.lever.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.linear.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.linkedin.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.lunchmoney.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.mercury.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.merge.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.microsoft.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.moota.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.notion.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.onebrick.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.outreach.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.pipedrive.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.plaid.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.postgres.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.quickbooks.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.ramp.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.reddit.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.salesforce.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.salesloft.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.saltedge.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.sharepointonline.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.slack.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.splitwise.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.stripe.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.teller.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.toggl.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.twenty.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.twitter.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.venmo.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.wise.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.xero.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.yodlee.connectorConfig"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.zohodesk.connectorConfig"
                              }
                            ],
                            "discriminator": {
                              "propertyName": "connector_name",
                              "mapping": {
                                "aircall": "#/components/schemas/connectors.aircall.connectorConfig",
                                "airtable": "#/components/schemas/connectors.airtable.connectorConfig",
                                "apollo": "#/components/schemas/connectors.apollo.connectorConfig",
                                "brex": "#/components/schemas/connectors.brex.connectorConfig",
                                "coda": "#/components/schemas/connectors.coda.connectorConfig",
                                "confluence": "#/components/schemas/connectors.confluence.connectorConfig",
                                "discord": "#/components/schemas/connectors.discord.connectorConfig",
                                "facebook": "#/components/schemas/connectors.facebook.connectorConfig",
                                "finch": "#/components/schemas/connectors.finch.connectorConfig",
                                "firebase": "#/components/schemas/connectors.firebase.connectorConfig",
                                "foreceipt": "#/components/schemas/connectors.foreceipt.connectorConfig",
                                "github": "#/components/schemas/connectors.github.connectorConfig",
                                "gong": "#/components/schemas/connectors.gong.connectorConfig",
                                "googlecalendar": "#/components/schemas/connectors.googlecalendar.connectorConfig",
                                "googledocs": "#/components/schemas/connectors.googledocs.connectorConfig",
                                "googledrive": "#/components/schemas/connectors.googledrive.connectorConfig",
                                "googlemail": "#/components/schemas/connectors.googlemail.connectorConfig",
                                "googlesheet": "#/components/schemas/connectors.googlesheet.connectorConfig",
                                "greenhouse": "#/components/schemas/connectors.greenhouse.connectorConfig",
                                "heron": "#/components/schemas/connectors.heron.connectorConfig",
                                "hubspot": "#/components/schemas/connectors.hubspot.connectorConfig",
                                "instagram": "#/components/schemas/connectors.instagram.connectorConfig",
                                "intercom": "#/components/schemas/connectors.intercom.connectorConfig",
                                "jira": "#/components/schemas/connectors.jira.connectorConfig",
                                "kustomer": "#/components/schemas/connectors.kustomer.connectorConfig",
                                "lever": "#/components/schemas/connectors.lever.connectorConfig",
                                "linear": "#/components/schemas/connectors.linear.connectorConfig",
                                "linkedin": "#/components/schemas/connectors.linkedin.connectorConfig",
                                "lunchmoney": "#/components/schemas/connectors.lunchmoney.connectorConfig",
                                "mercury": "#/components/schemas/connectors.mercury.connectorConfig",
                                "merge": "#/components/schemas/connectors.merge.connectorConfig",
                                "microsoft": "#/components/schemas/connectors.microsoft.connectorConfig",
                                "moota": "#/components/schemas/connectors.moota.connectorConfig",
                                "notion": "#/components/schemas/connectors.notion.connectorConfig",
                                "onebrick": "#/components/schemas/connectors.onebrick.connectorConfig",
                                "outreach": "#/components/schemas/connectors.outreach.connectorConfig",
                                "pipedrive": "#/components/schemas/connectors.pipedrive.connectorConfig",
                                "plaid": "#/components/schemas/connectors.plaid.connectorConfig",
                                "postgres": "#/components/schemas/connectors.postgres.connectorConfig",
                                "quickbooks": "#/components/schemas/connectors.quickbooks.connectorConfig",
                                "ramp": "#/components/schemas/connectors.ramp.connectorConfig",
                                "reddit": "#/components/schemas/connectors.reddit.connectorConfig",
                                "salesforce": "#/components/schemas/connectors.salesforce.connectorConfig",
                                "salesloft": "#/components/schemas/connectors.salesloft.connectorConfig",
                                "saltedge": "#/components/schemas/connectors.saltedge.connectorConfig",
                                "sharepointonline": "#/components/schemas/connectors.sharepointonline.connectorConfig",
                                "slack": "#/components/schemas/connectors.slack.connectorConfig",
                                "splitwise": "#/components/schemas/connectors.splitwise.connectorConfig",
                                "stripe": "#/components/schemas/connectors.stripe.connectorConfig",
                                "teller": "#/components/schemas/connectors.teller.connectorConfig",
                                "toggl": "#/components/schemas/connectors.toggl.connectorConfig",
                                "twenty": "#/components/schemas/connectors.twenty.connectorConfig",
                                "twitter": "#/components/schemas/connectors.twitter.connectorConfig",
                                "venmo": "#/components/schemas/connectors.venmo.connectorConfig",
                                "wise": "#/components/schemas/connectors.wise.connectorConfig",
                                "xero": "#/components/schemas/connectors.xero.connectorConfig",
                                "yodlee": "#/components/schemas/connectors.yodlee.connectorConfig",
                                "zohodesk": "#/components/schemas/connectors.zohodesk.connectorConfig"
                              }
                            },
                            "description": "Connector specific data"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "connector": {
                                "$ref": "#/components/schemas/core.connector"
                              },
                              "integrations": {
                                "type": "object",
                                "additionalProperties": {
                                  "$ref": "#/components/schemas/core.integration"
                                }
                              },
                              "connection_count": {
                                "type": "number"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Total number of items in the database for the organization"
                    },
                    "limit": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 100,
                      "default": 50,
                      "description": "Limit the number of items returned"
                    },
                    "offset": {
                      "type": "integer",
                      "minimum": 0,
                      "default": 0,
                      "description": "Offset the items returned"
                    }
                  },
                  "required": [
                    "items",
                    "total",
                    "limit",
                    "offset"
                  ],
                  "description": "The list of connector configurations"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/connection/{id}": {
      "get": {
        "operationId": "getConnection",
        "summary": "Get Connection & Credentials",
        "description": "Get details of a specific connection, including credentials",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the connection, starts with `conn_`",
            "schema": {
              "type": "string",
              "pattern": "^conn_",
              "description": "The id of the connection, starts with `conn_`"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "include_secrets",
            "description": "Controls secret inclusion: none (default), basic (auth only), or all secrets",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "basic",
                "all"
              ],
              "description": "Controls secret inclusion: none (default), basic (auth only), or all secrets",
              "default": "none"
            }
          },
          {
            "in": "query",
            "name": "refresh_policy",
            "description": "Controls credential refresh: none (never), force (always), or auto (when expired, default)",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "force",
                "auto"
              ],
              "description": "Controls credential refresh: none (never), force (always), or auto (when expired, default)",
              "default": "auto"
            }
          },
          {
            "in": "query",
            "name": "expand",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "connector"
                ],
                "description": "Fields to expand: connector (includes connector details)"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "connector_config_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "customer_id": {
                          "type": "string"
                        },
                        "integration_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "metadata": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "id",
                        "updated_at",
                        "created_at",
                        "connector_config_id",
                        "customer_id",
                        "integration_id",
                        "metadata"
                      ],
                      "description": "Connection Base"
                    },
                    {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/connectors.aircall.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.airtable.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.apollo.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.brex.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.coda.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.confluence.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.discord.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.facebook.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.finch.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.firebase.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.foreceipt.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.github.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.gong.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.googlecalendar.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.googledocs.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.googledrive.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.googlemail.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.googlesheet.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.greenhouse.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.heron.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.hubspot.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.instagram.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.intercom.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.jira.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.kustomer.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.lever.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.linear.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.linkedin.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.lunchmoney.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.mercury.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.merge.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.microsoft.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.moota.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.notion.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.onebrick.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.outreach.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.pipedrive.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.plaid.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.postgres.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.quickbooks.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.ramp.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.reddit.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.salesforce.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.salesloft.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.saltedge.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.sharepointonline.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.slack.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.splitwise.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.stripe.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.teller.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.toggl.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.twenty.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.twitter.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.venmo.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.wise.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.xero.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.yodlee.connectionSettings"
                        },
                        {
                          "$ref": "#/components/schemas/connectors.zohodesk.connectionSettings"
                        }
                      ],
                      "discriminator": {
                        "propertyName": "connector_name",
                        "mapping": {
                          "aircall": "#/components/schemas/connectors.aircall.connectionSettings",
                          "airtable": "#/components/schemas/connectors.airtable.connectionSettings",
                          "apollo": "#/components/schemas/connectors.apollo.connectionSettings",
                          "brex": "#/components/schemas/connectors.brex.connectionSettings",
                          "coda": "#/components/schemas/connectors.coda.connectionSettings",
                          "confluence": "#/components/schemas/connectors.confluence.connectionSettings",
                          "discord": "#/components/schemas/connectors.discord.connectionSettings",
                          "facebook": "#/components/schemas/connectors.facebook.connectionSettings",
                          "finch": "#/components/schemas/connectors.finch.connectionSettings",
                          "firebase": "#/components/schemas/connectors.firebase.connectionSettings",
                          "foreceipt": "#/components/schemas/connectors.foreceipt.connectionSettings",
                          "github": "#/components/schemas/connectors.github.connectionSettings",
                          "gong": "#/components/schemas/connectors.gong.connectionSettings",
                          "googlecalendar": "#/components/schemas/connectors.googlecalendar.connectionSettings",
                          "googledocs": "#/components/schemas/connectors.googledocs.connectionSettings",
                          "googledrive": "#/components/schemas/connectors.googledrive.connectionSettings",
                          "googlemail": "#/components/schemas/connectors.googlemail.connectionSettings",
                          "googlesheet": "#/components/schemas/connectors.googlesheet.connectionSettings",
                          "greenhouse": "#/components/schemas/connectors.greenhouse.connectionSettings",
                          "heron": "#/components/schemas/connectors.heron.connectionSettings",
                          "hubspot": "#/components/schemas/connectors.hubspot.connectionSettings",
                          "instagram": "#/components/schemas/connectors.instagram.connectionSettings",
                          "intercom": "#/components/schemas/connectors.intercom.connectionSettings",
                          "jira": "#/components/schemas/connectors.jira.connectionSettings",
                          "kustomer": "#/components/schemas/connectors.kustomer.connectionSettings",
                          "lever": "#/components/schemas/connectors.lever.connectionSettings",
                          "linear": "#/components/schemas/connectors.linear.connectionSettings",
                          "linkedin": "#/components/schemas/connectors.linkedin.connectionSettings",
                          "lunchmoney": "#/components/schemas/connectors.lunchmoney.connectionSettings",
                          "mercury": "#/components/schemas/connectors.mercury.connectionSettings",
                          "merge": "#/components/schemas/connectors.merge.connectionSettings",
                          "microsoft": "#/components/schemas/connectors.microsoft.connectionSettings",
                          "moota": "#/components/schemas/connectors.moota.connectionSettings",
                          "notion": "#/components/schemas/connectors.notion.connectionSettings",
                          "onebrick": "#/components/schemas/connectors.onebrick.connectionSettings",
                          "outreach": "#/components/schemas/connectors.outreach.connectionSettings",
                          "pipedrive": "#/components/schemas/connectors.pipedrive.connectionSettings",
                          "plaid": "#/components/schemas/connectors.plaid.connectionSettings",
                          "postgres": "#/components/schemas/connectors.postgres.connectionSettings",
                          "quickbooks": "#/components/schemas/connectors.quickbooks.connectionSettings",
                          "ramp": "#/components/schemas/connectors.ramp.connectionSettings",
                          "reddit": "#/components/schemas/connectors.reddit.connectionSettings",
                          "salesforce": "#/components/schemas/connectors.salesforce.connectionSettings",
                          "salesloft": "#/components/schemas/connectors.salesloft.connectionSettings",
                          "saltedge": "#/components/schemas/connectors.saltedge.connectionSettings",
                          "sharepointonline": "#/components/schemas/connectors.sharepointonline.connectionSettings",
                          "slack": "#/components/schemas/connectors.slack.connectionSettings",
                          "splitwise": "#/components/schemas/connectors.splitwise.connectionSettings",
                          "stripe": "#/components/schemas/connectors.stripe.connectionSettings",
                          "teller": "#/components/schemas/connectors.teller.connectionSettings",
                          "toggl": "#/components/schemas/connectors.toggl.connectionSettings",
                          "twenty": "#/components/schemas/connectors.twenty.connectionSettings",
                          "twitter": "#/components/schemas/connectors.twitter.connectionSettings",
                          "venmo": "#/components/schemas/connectors.venmo.connectionSettings",
                          "wise": "#/components/schemas/connectors.wise.connectionSettings",
                          "xero": "#/components/schemas/connectors.xero.connectionSettings",
                          "yodlee": "#/components/schemas/connectors.yodlee.connectionSettings",
                          "zohodesk": "#/components/schemas/connectors.zohodesk.connectionSettings"
                        }
                      },
                      "description": "Connector specific data"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "connector": {
                          "$ref": "#/components/schemas/core.connector"
                        }
                      }
                    }
                  ],
                  "description": "The connection details"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteConnection",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the connection, starts with `conn_`",
            "schema": {
              "type": "string",
              "pattern": "^conn_",
              "description": "The id of the connection, starts with `conn_`"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^conn_",
                      "description": "The id of the connection, starts with `conn_`"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/connection": {
      "get": {
        "operationId": "listConnections",
        "summary": "List Connections",
        "description": "List all connections with optional filtering",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit the number of items returned",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 50,
              "description": "Limit the number of items returned"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset the items returned",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "description": "Offset the items returned"
            }
          },
          {
            "in": "query",
            "name": "connector_name",
            "description": "The name of the connector",
            "schema": {
              "type": "string",
              "enum": [
                "aircall",
                "airtable",
                "apollo",
                "brex",
                "coda",
                "confluence",
                "discord",
                "facebook",
                "finch",
                "firebase",
                "foreceipt",
                "github",
                "gong",
                "googlecalendar",
                "googledocs",
                "googledrive",
                "googlemail",
                "googlesheet",
                "greenhouse",
                "heron",
                "hubspot",
                "instagram",
                "intercom",
                "jira",
                "kustomer",
                "lever",
                "linear",
                "linkedin",
                "lunchmoney",
                "merge",
                "microsoft",
                "moota",
                "notion",
                "onebrick",
                "outreach",
                "pipedrive",
                "plaid",
                "quickbooks",
                "ramp",
                "reddit",
                "salesforce",
                "salesloft",
                "saltedge",
                "sharepointonline",
                "slack",
                "splitwise",
                "stripe",
                "teller",
                "toggl",
                "twenty",
                "twitter",
                "wise",
                "xero",
                "yodlee",
                "zohodesk"
              ],
              "description": "The name of the connector"
            }
          },
          {
            "in": "query",
            "name": "customer_id",
            "description": "The id of the customer in your application. Ensure it is unique for that customer.",
            "schema": {
              "type": "string",
              "description": "The id of the customer in your application. Ensure it is unique for that customer."
            }
          },
          {
            "in": "query",
            "name": "connector_config_id",
            "description": "The id of the connector config, starts with `ccfg_`",
            "schema": {
              "type": "string",
              "pattern": "^ccfg_",
              "description": "The id of the connector config, starts with `ccfg_`"
            }
          },
          {
            "in": "query",
            "name": "include_secrets",
            "description": "Controls secret inclusion: none (default), basic (auth only), or all secrets",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "basic",
                "all"
              ],
              "description": "Controls secret inclusion: none (default), basic (auth only), or all secrets",
              "default": "none"
            }
          },
          {
            "in": "query",
            "name": "expand",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "connector"
                ],
                "description": "Fields to expand: connector (includes connector details)"
              },
              "default": []
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "connector_config_id": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "customer_id": {
                                "type": "string"
                              },
                              "integration_id": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "metadata": {
                                "type": [
                                  "object",
                                  "null"
                                ],
                                "additionalProperties": {}
                              }
                            },
                            "required": [
                              "id",
                              "updated_at",
                              "created_at",
                              "connector_config_id",
                              "customer_id",
                              "integration_id",
                              "metadata"
                            ],
                            "description": "Connection Base"
                          },
                          {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/connectors.aircall.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.airtable.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.apollo.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.brex.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.coda.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.confluence.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.discord.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.facebook.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.finch.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.firebase.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.foreceipt.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.github.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.gong.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.googlecalendar.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.googledocs.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.googledrive.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.googlemail.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.googlesheet.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.greenhouse.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.heron.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.hubspot.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.instagram.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.intercom.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.jira.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.kustomer.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.lever.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.linear.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.linkedin.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.lunchmoney.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.mercury.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.merge.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.microsoft.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.moota.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.notion.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.onebrick.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.outreach.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.pipedrive.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.plaid.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.postgres.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.quickbooks.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.ramp.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.reddit.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.salesforce.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.salesloft.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.saltedge.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.sharepointonline.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.slack.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.splitwise.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.stripe.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.teller.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.toggl.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.twenty.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.twitter.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.venmo.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.wise.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.xero.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.yodlee.connectionSettings"
                              },
                              {
                                "$ref": "#/components/schemas/connectors.zohodesk.connectionSettings"
                              }
                            ],
                            "discriminator": {
                              "propertyName": "connector_name",
                              "mapping": {
                                "aircall": "#/components/schemas/connectors.aircall.connectionSettings",
                                "airtable": "#/components/schemas/connectors.airtable.connectionSettings",
                                "apollo": "#/components/schemas/connectors.apollo.connectionSettings",
                                "brex": "#/components/schemas/connectors.brex.connectionSettings",
                                "coda": "#/components/schemas/connectors.coda.connectionSettings",
                                "confluence": "#/components/schemas/connectors.confluence.connectionSettings",
                                "discord": "#/components/schemas/connectors.discord.connectionSettings",
                                "facebook": "#/components/schemas/connectors.facebook.connectionSettings",
                                "finch": "#/components/schemas/connectors.finch.connectionSettings",
                                "firebase": "#/components/schemas/connectors.firebase.connectionSettings",
                                "foreceipt": "#/components/schemas/connectors.foreceipt.connectionSettings",
                                "github": "#/components/schemas/connectors.github.connectionSettings",
                                "gong": "#/components/schemas/connectors.gong.connectionSettings",
                                "googlecalendar": "#/components/schemas/connectors.googlecalendar.connectionSettings",
                                "googledocs": "#/components/schemas/connectors.googledocs.connectionSettings",
                                "googledrive": "#/components/schemas/connectors.googledrive.connectionSettings",
                                "googlemail": "#/components/schemas/connectors.googlemail.connectionSettings",
                                "googlesheet": "#/components/schemas/connectors.googlesheet.connectionSettings",
                                "greenhouse": "#/components/schemas/connectors.greenhouse.connectionSettings",
                                "heron": "#/components/schemas/connectors.heron.connectionSettings",
                                "hubspot": "#/components/schemas/connectors.hubspot.connectionSettings",
                                "instagram": "#/components/schemas/connectors.instagram.connectionSettings",
                                "intercom": "#/components/schemas/connectors.intercom.connectionSettings",
                                "jira": "#/components/schemas/connectors.jira.connectionSettings",
                                "kustomer": "#/components/schemas/connectors.kustomer.connectionSettings",
                                "lever": "#/components/schemas/connectors.lever.connectionSettings",
                                "linear": "#/components/schemas/connectors.linear.connectionSettings",
                                "linkedin": "#/components/schemas/connectors.linkedin.connectionSettings",
                                "lunchmoney": "#/components/schemas/connectors.lunchmoney.connectionSettings",
                                "mercury": "#/components/schemas/connectors.mercury.connectionSettings",
                                "merge": "#/components/schemas/connectors.merge.connectionSettings",
                                "microsoft": "#/components/schemas/connectors.microsoft.connectionSettings",
                                "moota": "#/components/schemas/connectors.moota.connectionSettings",
                                "notion": "#/components/schemas/connectors.notion.connectionSettings",
                                "onebrick": "#/components/schemas/connectors.onebrick.connectionSettings",
                                "outreach": "#/components/schemas/connectors.outreach.connectionSettings",
                                "pipedrive": "#/components/schemas/connectors.pipedrive.connectionSettings",
                                "plaid": "#/components/schemas/connectors.plaid.connectionSettings",
                                "postgres": "#/components/schemas/connectors.postgres.connectionSettings",
                                "quickbooks": "#/components/schemas/connectors.quickbooks.connectionSettings",
                                "ramp": "#/components/schemas/connectors.ramp.connectionSettings",
                                "reddit": "#/components/schemas/connectors.reddit.connectionSettings",
                                "salesforce": "#/components/schemas/connectors.salesforce.connectionSettings",
                                "salesloft": "#/components/schemas/connectors.salesloft.connectionSettings",
                                "saltedge": "#/components/schemas/connectors.saltedge.connectionSettings",
                                "sharepointonline": "#/components/schemas/connectors.sharepointonline.connectionSettings",
                                "slack": "#/components/schemas/connectors.slack.connectionSettings",
                                "splitwise": "#/components/schemas/connectors.splitwise.connectionSettings",
                                "stripe": "#/components/schemas/connectors.stripe.connectionSettings",
                                "teller": "#/components/schemas/connectors.teller.connectionSettings",
                                "toggl": "#/components/schemas/connectors.toggl.connectionSettings",
                                "twenty": "#/components/schemas/connectors.twenty.connectionSettings",
                                "twitter": "#/components/schemas/connectors.twitter.connectionSettings",
                                "venmo": "#/components/schemas/connectors.venmo.connectionSettings",
                                "wise": "#/components/schemas/connectors.wise.connectionSettings",
                                "xero": "#/components/schemas/connectors.xero.connectionSettings",
                                "yodlee": "#/components/schemas/connectors.yodlee.connectionSettings",
                                "zohodesk": "#/components/schemas/connectors.zohodesk.connectionSettings"
                              }
                            },
                            "description": "Connector specific data"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "connector": {
                                "$ref": "#/components/schemas/core.connector"
                              }
                            }
                          }
                        ],
                        "description": "The connection details"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Total number of items in the database for the organization"
                    },
                    "limit": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 100,
                      "default": 50,
                      "description": "Limit the number of items returned"
                    },
                    "offset": {
                      "type": "integer",
                      "minimum": 0,
                      "default": 0,
                      "description": "Offset the items returned"
                    }
                  },
                  "required": [
                    "items",
                    "total",
                    "limit",
                    "offset"
                  ],
                  "description": "The list of connections"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createConnection",
        "description": "Import an existing connection after validation",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "connector_config_id": {
                    "type": "string",
                    "pattern": "^ccfg_",
                    "description": "The id of the connector config, starts with `ccfg_`"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "customer_id": {
                    "type": "string",
                    "description": "The id of the customer in your application. Ensure it is unique for that customer."
                  },
                  "data": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/connectors.aircall.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.airtable.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.apollo.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.brex.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.coda.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.confluence.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.discord.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.facebook.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.finch.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.firebase.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.foreceipt.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.github.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.gong.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.googlecalendar.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.googledocs.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.googledrive.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.googlemail.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.googlesheet.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.greenhouse.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.heron.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.hubspot.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.instagram.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.intercom.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.jira.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.kustomer.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.lever.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.linear.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.linkedin.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.lunchmoney.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.mercury.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.merge.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.microsoft.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.moota.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.notion.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.onebrick.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.outreach.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.pipedrive.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.plaid.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.postgres.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.quickbooks.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.ramp.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.reddit.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.salesforce.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.salesloft.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.saltedge.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.sharepointonline.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.slack.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.splitwise.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.stripe.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.teller.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.toggl.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.twenty.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.twitter.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.venmo.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.wise.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.xero.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.yodlee.connectionSettings"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.zohodesk.connectionSettings"
                      }
                    ],
                    "discriminator": {
                      "propertyName": "connector_name",
                      "mapping": {
                        "aircall": "#/components/schemas/connectors.aircall.connectionSettings",
                        "airtable": "#/components/schemas/connectors.airtable.connectionSettings",
                        "apollo": "#/components/schemas/connectors.apollo.connectionSettings",
                        "brex": "#/components/schemas/connectors.brex.connectionSettings",
                        "coda": "#/components/schemas/connectors.coda.connectionSettings",
                        "confluence": "#/components/schemas/connectors.confluence.connectionSettings",
                        "discord": "#/components/schemas/connectors.discord.connectionSettings",
                        "facebook": "#/components/schemas/connectors.facebook.connectionSettings",
                        "finch": "#/components/schemas/connectors.finch.connectionSettings",
                        "firebase": "#/components/schemas/connectors.firebase.connectionSettings",
                        "foreceipt": "#/components/schemas/connectors.foreceipt.connectionSettings",
                        "github": "#/components/schemas/connectors.github.connectionSettings",
                        "gong": "#/components/schemas/connectors.gong.connectionSettings",
                        "googlecalendar": "#/components/schemas/connectors.googlecalendar.connectionSettings",
                        "googledocs": "#/components/schemas/connectors.googledocs.connectionSettings",
                        "googledrive": "#/components/schemas/connectors.googledrive.connectionSettings",
                        "googlemail": "#/components/schemas/connectors.googlemail.connectionSettings",
                        "googlesheet": "#/components/schemas/connectors.googlesheet.connectionSettings",
                        "greenhouse": "#/components/schemas/connectors.greenhouse.connectionSettings",
                        "heron": "#/components/schemas/connectors.heron.connectionSettings",
                        "hubspot": "#/components/schemas/connectors.hubspot.connectionSettings",
                        "instagram": "#/components/schemas/connectors.instagram.connectionSettings",
                        "intercom": "#/components/schemas/connectors.intercom.connectionSettings",
                        "jira": "#/components/schemas/connectors.jira.connectionSettings",
                        "kustomer": "#/components/schemas/connectors.kustomer.connectionSettings",
                        "lever": "#/components/schemas/connectors.lever.connectionSettings",
                        "linear": "#/components/schemas/connectors.linear.connectionSettings",
                        "linkedin": "#/components/schemas/connectors.linkedin.connectionSettings",
                        "lunchmoney": "#/components/schemas/connectors.lunchmoney.connectionSettings",
                        "mercury": "#/components/schemas/connectors.mercury.connectionSettings",
                        "merge": "#/components/schemas/connectors.merge.connectionSettings",
                        "microsoft": "#/components/schemas/connectors.microsoft.connectionSettings",
                        "moota": "#/components/schemas/connectors.moota.connectionSettings",
                        "notion": "#/components/schemas/connectors.notion.connectionSettings",
                        "onebrick": "#/components/schemas/connectors.onebrick.connectionSettings",
                        "outreach": "#/components/schemas/connectors.outreach.connectionSettings",
                        "pipedrive": "#/components/schemas/connectors.pipedrive.connectionSettings",
                        "plaid": "#/components/schemas/connectors.plaid.connectionSettings",
                        "postgres": "#/components/schemas/connectors.postgres.connectionSettings",
                        "quickbooks": "#/components/schemas/connectors.quickbooks.connectionSettings",
                        "ramp": "#/components/schemas/connectors.ramp.connectionSettings",
                        "reddit": "#/components/schemas/connectors.reddit.connectionSettings",
                        "salesforce": "#/components/schemas/connectors.salesforce.connectionSettings",
                        "salesloft": "#/components/schemas/connectors.salesloft.connectionSettings",
                        "saltedge": "#/components/schemas/connectors.saltedge.connectionSettings",
                        "sharepointonline": "#/components/schemas/connectors.sharepointonline.connectionSettings",
                        "slack": "#/components/schemas/connectors.slack.connectionSettings",
                        "splitwise": "#/components/schemas/connectors.splitwise.connectionSettings",
                        "stripe": "#/components/schemas/connectors.stripe.connectionSettings",
                        "teller": "#/components/schemas/connectors.teller.connectionSettings",
                        "toggl": "#/components/schemas/connectors.toggl.connectionSettings",
                        "twenty": "#/components/schemas/connectors.twenty.connectionSettings",
                        "twitter": "#/components/schemas/connectors.twitter.connectionSettings",
                        "venmo": "#/components/schemas/connectors.venmo.connectionSettings",
                        "wise": "#/components/schemas/connectors.wise.connectionSettings",
                        "xero": "#/components/schemas/connectors.xero.connectionSettings",
                        "yodlee": "#/components/schemas/connectors.yodlee.connectionSettings",
                        "zohodesk": "#/components/schemas/connectors.zohodesk.connectionSettings"
                      }
                    },
                    "description": "Connector specific data"
                  }
                },
                "required": [
                  "connector_config_id",
                  "customer_id",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/core.connection"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/connection/{id}/check": {
      "post": {
        "operationId": "checkConnection",
        "summary": "Check Connection Health",
        "description": "Verify that a connection is healthy",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the connection, starts with `conn_`",
            "schema": {
              "type": "string",
              "pattern": "^conn_",
              "description": "The id of the connection, starts with `conn_`"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^conn_",
                      "description": "The id of the connection, starts with `conn_`"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "healthy",
                        "disconnected",
                        "error",
                        "manual"
                      ],
                      "description": "Connection status: healthy (all well), disconnected (needs reconnection), error (system issue), manual (import connection)"
                    },
                    "error": {
                      "type": "string",
                      "enum": [
                        "refresh_failed",
                        "unknown_external_error"
                      ],
                      "description": "Error types: refresh_failed and unknown_external_error"
                    },
                    "errorMessage": {
                      "type": "string",
                      "description": "Optional expanded error message"
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/connect/pre-connect": {
      "post": {
        "operationId": "preConnect",
        "security": [
          {
            "ApiKey": []
          },
          {
            "CustomerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Must correspond to data.connector_name.\nTechnically id should imply connector_name already but there is no way to\nspecify a discriminated union with id alone."
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "integrationExternalId": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "connectionExternalId": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    }
                  },
                  "data": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/connectors.aircall.preConnectInput"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.airtable.preConnectInput"
                      },
                      {
                        "$ref": "#/components/schemas/connectors.apollo.preConnectInput"
                      },
                      {
[...]
