{"openapi":"3.1.0","info":{"title":"OpenInt","version":"1.0.0"},"servers":[{"url":"https://api.openint.dev/v1"}],"paths":{"/connector":{"get":{"operationId":"listConnectors","summary":"List Connectors","description":"List all connectors to understand what integrations are available to configure","security":[{"ApiKey":[]},{"CustomerToken":[]}],"parameters":[{"in":"query","name":"expand","description":"Comma separated list of fields to optionally expand.\n\nAvailable Options: `integrations`","schema":{"type":"string","description":"Comma separated list of fields to optionally expand.\n\nAvailable Options: `integrations`"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/core.connector"}],"properties":{"integrations":{"type":"array","items":{"$ref":"#/components/schemas/core.integration"}}}},"description":"List of connectors with selected fields"}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/connector-config":{"get":{"operationId":"listConnectorConfigs","summary":"List Configured Connectors","description":"List the connectors that are configured in your account and available for your customers","security":[{"ApiKey":[]},{"CustomerToken":[]}],"parameters":[{"in":"query","name":"limit","description":"Limit the number of items returned","schema":{"type":"integer","minimum":0,"maximum":100,"default":50,"description":"Limit the number of items returned"}},{"in":"query","name":"offset","description":"Offset the items returned","schema":{"type":"integer","minimum":0,"default":0,"description":"Offset the items returned"}},{"in":"query","name":"expand","description":"Comma separated list of fields to optionally expand.\n\nAvailable Options: `connector`, `enabled_integrations`","schema":{"type":"string","description":"Comma separated list of fields to optionally expand.\n\nAvailable Options: `connector`, `enabled_integrations`"}},{"in":"query","name":"connector_name","description":"The name of the connector","schema":{"type":"string","enum":["aircall","airtable","apollo","brex","coda","confluence","discord","facebook","finch","firebase","foreceipt","github","gong","googlecalendar","googledocs","googledrive","googlemail","googlesheet","greenhouse","heron","hubspot","instagram","intercom","jira","kustomer","lever","linear","linkedin","lunchmoney","merge","microsoft","moota","notion","onebrick","outreach","pipedrive","plaid","quickbooks","ramp","reddit","salesforce","salesloft","saltedge","sharepointonline","slack","splitwise","stripe","teller","toggl","twenty","twitter","wise","xero","yodlee","zohodesk"],"description":"The name of the connector"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"allOf":[{"type":"object","properties":{"id":{"type":"string"},"updated_at":{"type":"string"},"created_at":{"type":"string"},"org_id":{"type":"string"},"display_name":{"type":["string","null"]},"disabled":{"type":["boolean","null"]}},"required":["id","updated_at","created_at","org_id","display_name","disabled"],"description":"Connector Config Base"},{"oneOf":[{"$ref":"#/components/schemas/connectors.aircall.connectorConfig"},{"$ref":"#/components/schemas/connectors.airtable.connectorConfig"},{"$ref":"#/components/schemas/connectors.apollo.connectorConfig"},{"$ref":"#/components/schemas/connectors.brex.connectorConfig"},{"$ref":"#/components/schemas/connectors.coda.connectorConfig"},{"$ref":"#/components/schemas/connectors.confluence.connectorConfig"},{"$ref":"#/components/schemas/connectors.discord.connectorConfig"},{"$ref":"#/components/schemas/connectors.facebook.connectorConfig"},{"$ref":"#/components/schemas/connectors.finch.connectorConfig"},{"$ref":"#/components/schemas/connectors.firebase.connectorConfig"},{"$ref":"#/components/schemas/connectors.foreceipt.connectorConfig"},{"$ref":"#/components/schemas/connectors.github.connectorConfig"},{"$ref":"#/components/schemas/connectors.gong.connectorConfig"},{"$ref":"#/components/schemas/connectors.googlecalendar.connectorConfig"},{"$ref":"#/components/schemas/connectors.googledocs.connectorConfig"},{"$ref":"#/components/schemas/connectors.googledrive.connectorConfig"},{"$ref":"#/components/schemas/connectors.googlemail.connectorConfig"},{"$ref":"#/components/schemas/connectors.googlesheet.connectorConfig"},{"$ref":"#/components/schemas/connectors.greenhouse.connectorConfig"},{"$ref":"#/components/schemas/connectors.heron.connectorConfig"},{"$ref":"#/components/schemas/connectors.hubspot.connectorConfig"},{"$ref":"#/components/schemas/connectors.instagram.connectorConfig"},{"$ref":"#/components/schemas/connectors.intercom.connectorConfig"},{"$ref":"#/components/schemas/connectors.jira.connectorConfig"},{"$ref":"#/components/schemas/connectors.kustomer.connectorConfig"},{"$ref":"#/components/schemas/connectors.lever.connectorConfig"},{"$ref":"#/components/schemas/connectors.linear.connectorConfig"},{"$ref":"#/components/schemas/connectors.linkedin.connectorConfig"},{"$ref":"#/components/schemas/connectors.lunchmoney.connectorConfig"},{"$ref":"#/components/schemas/connectors.mercury.connectorConfig"},{"$ref":"#/components/schemas/connectors.merge.connectorConfig"},{"$ref":"#/components/schemas/connectors.microsoft.connectorConfig"},{"$ref":"#/components/schemas/connectors.moota.connectorConfig"},{"$ref":"#/components/schemas/connectors.notion.connectorConfig"},{"$ref":"#/components/schemas/connectors.onebrick.connectorConfig"},{"$ref":"#/components/schemas/connectors.outreach.connectorConfig"},{"$ref":"#/components/schemas/connectors.pipedrive.connectorConfig"},{"$ref":"#/components/schemas/connectors.plaid.connectorConfig"},{"$ref":"#/components/schemas/connectors.postgres.connectorConfig"},{"$ref":"#/components/schemas/connectors.quickbooks.connectorConfig"},{"$ref":"#/components/schemas/connectors.ramp.connectorConfig"},{"$ref":"#/components/schemas/connectors.reddit.connectorConfig"},{"$ref":"#/components/schemas/connectors.salesforce.connectorConfig"},{"$ref":"#/components/schemas/connectors.salesloft.connectorConfig"},{"$ref":"#/components/schemas/connectors.saltedge.connectorConfig"},{"$ref":"#/components/schemas/connectors.sharepointonline.connectorConfig"},{"$ref":"#/components/schemas/connectors.slack.connectorConfig"},{"$ref":"#/components/schemas/connectors.splitwise.connectorConfig"},{"$ref":"#/components/schemas/connectors.stripe.connectorConfig"},{"$ref":"#/components/schemas/connectors.teller.connectorConfig"},{"$ref":"#/components/schemas/connectors.toggl.connectorConfig"},{"$ref":"#/components/schemas/connectors.twenty.connectorConfig"},{"$ref":"#/components/schemas/connectors.twitter.connectorConfig"},{"$ref":"#/components/schemas/connectors.venmo.connectorConfig"},{"$ref":"#/components/schemas/connectors.wise.connectorConfig"},{"$ref":"#/components/schemas/connectors.xero.connectorConfig"},{"$ref":"#/components/schemas/connectors.yodlee.connectorConfig"},{"$ref":"#/components/schemas/connectors.zohodesk.connectorConfig"}],"discriminator":{"propertyName":"connector_name","mapping":{"aircall":"#/components/schemas/connectors.aircall.connectorConfig","airtable":"#/components/schemas/connectors.airtable.connectorConfig","apollo":"#/components/schemas/connectors.apollo.connectorConfig","brex":"#/components/schemas/connectors.brex.connectorConfig","coda":"#/components/schemas/connectors.coda.connectorConfig","confluence":"#/components/schemas/connectors.confluence.connectorConfig","discord":"#/components/schemas/connectors.discord.connectorConfig","facebook":"#/components/schemas/connectors.facebook.connectorConfig","finch":"#/components/schemas/connectors.finch.connectorConfig","firebase":"#/components/schemas/connectors.firebase.connectorConfig","foreceipt":"#/components/schemas/connectors.foreceipt.connectorConfig","github":"#/components/schemas/connectors.github.connectorConfig","gong":"#/components/schemas/connectors.gong.connectorConfig","googlecalendar":"#/components/schemas/connectors.googlecalendar.connectorConfig","googledocs":"#/components/schemas/connectors.googledocs.connectorConfig","googledrive":"#/components/schemas/connectors.googledrive.connectorConfig","googlemail":"#/components/schemas/connectors.googlemail.connectorConfig","googlesheet":"#/components/schemas/connectors.googlesheet.connectorConfig","greenhouse":"#/components/schemas/connectors.greenhouse.connectorConfig","heron":"#/components/schemas/connectors.heron.connectorConfig","hubspot":"#/components/schemas/connectors.hubspot.connectorConfig","instagram":"#/components/schemas/connectors.instagram.connectorConfig","intercom":"#/components/schemas/connectors.intercom.connectorConfig","jira":"#/components/schemas/connectors.jira.connectorConfig","kustomer":"#/components/schemas/connectors.kustomer.connectorConfig","lever":"#/components/schemas/connectors.lever.connectorConfig","linear":"#/components/schemas/connectors.linear.connectorConfig","linkedin":"#/components/schemas/connectors.linkedin.connectorConfig","lunchmoney":"#/components/schemas/connectors.lunchmoney.connectorConfig","mercury":"#/components/schemas/connectors.mercury.connectorConfig","merge":"#/components/schemas/connectors.merge.connectorConfig","microsoft":"#/components/schemas/connectors.microsoft.connectorConfig","moota":"#/components/schemas/connectors.moota.connectorConfig","notion":"#/components/schemas/connectors.notion.connectorConfig","onebrick":"#/components/schemas/connectors.onebrick.connectorConfig","outreach":"#/components/schemas/connectors.outreach.connectorConfig","pipedrive":"#/components/schemas/connectors.pipedrive.connectorConfig","plaid":"#/components/schemas/connectors.plaid.connectorConfig","postgres":"#/components/schemas/connectors.postgres.connectorConfig","quickbooks":"#/components/schemas/connectors.quickbooks.connectorConfig","ramp":"#/components/schemas/connectors.ramp.connectorConfig","reddit":"#/components/schemas/connectors.reddit.connectorConfig","salesforce":"#/components/schemas/connectors.salesforce.connectorConfig","salesloft":"#/components/schemas/connectors.salesloft.connectorConfig","saltedge":"#/components/schemas/connectors.saltedge.connectorConfig","sharepointonline":"#/components/schemas/connectors.sharepointonline.connectorConfig","slack":"#/components/schemas/connectors.slack.connectorConfig","splitwise":"#/components/schemas/connectors.splitwise.connectorConfig","stripe":"#/components/schemas/connectors.stripe.connectorConfig","teller":"#/components/schemas/connectors.teller.connectorConfig","toggl":"#/components/schemas/connectors.toggl.connectorConfig","twenty":"#/components/schemas/connectors.twenty.connectorConfig","twitter":"#/components/schemas/connectors.twitter.connectorConfig","venmo":"#/components/schemas/connectors.venmo.connectorConfig","wise":"#/components/schemas/connectors.wise.connectorConfig","xero":"#/components/schemas/connectors.xero.connectorConfig","yodlee":"#/components/schemas/connectors.yodlee.connectorConfig","zohodesk":"#/components/schemas/connectors.zohodesk.connectorConfig"}},"description":"Connector specific data"},{"type":"object","properties":{"connector":{"$ref":"#/components/schemas/core.connector"},"integrations":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/core.integration"}},"connection_count":{"type":"number"}}}]}},"total":{"type":"integer","minimum":0,"description":"Total number of items in the database for the organization"},"limit":{"type":"integer","minimum":0,"maximum":100,"default":50,"description":"Limit the number of items returned"},"offset":{"type":"integer","minimum":0,"default":0,"description":"Offset the items returned"}},"required":["items","total","limit","offset"],"description":"The list of connector configurations"}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Openint from '@openint/sdk';\n\nconst client = new Openint({\n  apiKey: process.env['OPENINT_API_KEY'], // This is the default and can be omitted\n});\n\nasync function main() {\n  // Automatically fetches more pages as needed.\n  for await (const listConnectionConfigsResponse of client.listConnectionConfigs()) {\n    console.log(listConnectionConfigsResponse);\n  }\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom openint import Openint\n\nclient = Openint(\n    api_key=os.environ.get(\"OPENINT_API_KEY\"),  # This is the default and can be omitted\n)\npage = client.list_connection_configs()\npage = page.items[0]\nprint(page)"}]}},"/connection/{id}":{"get":{"operationId":"getConnection","summary":"Get Connection","description":"Get details of a specific connection, including credentials","security":[{"ApiKey":[]},{"CustomerToken":[]}],"parameters":[{"in":"path","name":"id","description":"The id of the connection, starts with `conn_`","schema":{"type":"string","pattern":"^conn_","description":"The id of the connection, starts with `conn_`"},"required":true},{"in":"query","name":"include_secrets","description":"Controls secret inclusion: none (default), basic (auth only), or all secrets","schema":{"type":"string","enum":["none","basic","all"],"description":"Controls secret inclusion: none (default), basic (auth only), or all secrets","default":"none"}},{"in":"query","name":"refresh_policy","description":"Controls credential refresh: none (never), force (always), or auto (when expired, default)","schema":{"type":"string","enum":["none","force","auto"],"description":"Controls credential refresh: none (never), force (always), or auto (when expired, default)","default":"auto"}},{"in":"query","name":"expand","schema":{"type":"array","items":{"type":"string","enum":["connector"],"description":"Fields to expand: connector (includes connector details)"},"default":[]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"id":{"type":"string"},"updated_at":{"type":"string"},"created_at":{"type":"string"},"connector_config_id":{"type":["string","null"]},"customer_id":{"type":"string"},"integration_id":{"type":["string","null"]},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["id","updated_at","created_at","connector_config_id","customer_id","integration_id","metadata"],"description":"Connection Base"},{"oneOf":[{"$ref":"#/components/schemas/connectors.aircall.connectionSettings"},{"$ref":"#/components/schemas/connectors.airtable.connectionSettings"},{"$ref":"#/components/schemas/connectors.apollo.connectionSettings"},{"$ref":"#/components/schemas/connectors.brex.connectionSettings"},{"$ref":"#/components/schemas/connectors.coda.connectionSettings"},{"$ref":"#/components/schemas/connectors.confluence.connectionSettings"},{"$ref":"#/components/schemas/connectors.discord.connectionSettings"},{"$ref":"#/components/schemas/connectors.facebook.connectionSettings"},{"$ref":"#/components/schemas/connectors.finch.connectionSettings"},{"$ref":"#/components/schemas/connectors.firebase.connectionSettings"},{"$ref":"#/components/schemas/connectors.foreceipt.connectionSettings"},{"$ref":"#/components/schemas/connectors.github.connectionSettings"},{"$ref":"#/components/schemas/connectors.gong.connectionSettings"},{"$ref":"#/components/schemas/connectors.googlecalendar.connectionSettings"},{"$ref":"#/components/schemas/connectors.googledocs.connectionSettings"},{"$ref":"#/components/schemas/connectors.googledrive.connectionSettings"},{"$ref":"#/components/schemas/connectors.googlemail.connectionSettings"},{"$ref":"#/components/schemas/connectors.googlesheet.connectionSettings"},{"$ref":"#/components/schemas/connectors.greenhouse.connectionSettings"},{"$ref":"#/components/schemas/connectors.heron.connectionSettings"},{"$ref":"#/components/schemas/connectors.hubspot.connectionSettings"},{"$ref":"#/components/schemas/connectors.instagram.connectionSettings"},{"$ref":"#/components/schemas/connectors.intercom.connectionSettings"},{"$ref":"#/components/schemas/connectors.jira.connectionSettings"},{"$ref":"#/components/schemas/connectors.kustomer.connectionSettings"},{"$ref":"#/components/schemas/connectors.lever.connectionSettings"},{"$ref":"#/components/schemas/connectors.linear.connectionSettings"},{"$ref":"#/components/schemas/connectors.linkedin.connectionSettings"},{"$ref":"#/components/schemas/connectors.lunchmoney.connectionSettings"},{"$ref":"#/components/schemas/connectors.mercury.connectionSettings"},{"$ref":"#/components/schemas/connectors.merge.connectionSettings"},{"$ref":"#/components/schemas/connectors.microsoft.connectionSettings"},{"$ref":"#/components/schemas/connectors.moota.connectionSettings"},{"$ref":"#/components/schemas/connectors.notion.connectionSettings"},{"$ref":"#/components/schemas/connectors.onebrick.connectionSettings"},{"$ref":"#/components/schemas/connectors.outreach.connectionSettings"},{"$ref":"#/components/schemas/connectors.pipedrive.connectionSettings"},{"$ref":"#/components/schemas/connectors.plaid.connectionSettings"},{"$ref":"#/components/schemas/connectors.postgres.connectionSettings"},{"$ref":"#/components/schemas/connectors.quickbooks.connectionSettings"},{"$ref":"#/components/schemas/connectors.ramp.connectionSettings"},{"$ref":"#/components/schemas/connectors.reddit.connectionSettings"},{"$ref":"#/components/schemas/connectors.salesforce.connectionSettings"},{"$ref":"#/components/schemas/connectors.salesloft.connectionSettings"},{"$ref":"#/components/schemas/connectors.saltedge.connectionSettings"},{"$ref":"#/components/schemas/connectors.sharepointonline.connectionSettings"},{"$ref":"#/components/schemas/connectors.slack.connectionSettings"},{"$ref":"#/components/schemas/connectors.splitwise.connectionSettings"},{"$ref":"#/components/schemas/connectors.stripe.connectionSettings"},{"$ref":"#/components/schemas/connectors.teller.connectionSettings"},{"$ref":"#/components/schemas/connectors.toggl.connectionSettings"},{"$ref":"#/components/schemas/connectors.twenty.connectionSettings"},{"$ref":"#/components/schemas/connectors.twitter.connectionSettings"},{"$ref":"#/components/schemas/connectors.venmo.connectionSettings"},{"$ref":"#/components/schemas/connectors.wise.connectionSettings"},{"$ref":"#/components/schemas/connectors.xero.connectionSettings"},{"$ref":"#/components/schemas/connectors.yodlee.connectionSettings"},{"$ref":"#/components/schemas/connectors.zohodesk.connectionSettings"}],"discriminator":{"propertyName":"connector_name","mapping":{"aircall":"#/components/schemas/connectors.aircall.connectionSettings","airtable":"#/components/schemas/connectors.airtable.connectionSettings","apollo":"#/components/schemas/connectors.apollo.connectionSettings","brex":"#/components/schemas/connectors.brex.connectionSettings","coda":"#/components/schemas/connectors.coda.connectionSettings","confluence":"#/components/schemas/connectors.confluence.connectionSettings","discord":"#/components/schemas/connectors.discord.connectionSettings","facebook":"#/components/schemas/connectors.facebook.connectionSettings","finch":"#/components/schemas/connectors.finch.connectionSettings","firebase":"#/components/schemas/connectors.firebase.connectionSettings","foreceipt":"#/components/schemas/connectors.foreceipt.connectionSettings","github":"#/components/schemas/connectors.github.connectionSettings","gong":"#/components/schemas/connectors.gong.connectionSettings","googlecalendar":"#/components/schemas/connectors.googlecalendar.connectionSettings","googledocs":"#/components/schemas/connectors.googledocs.connectionSettings","googledrive":"#/components/schemas/connectors.googledrive.connectionSettings","googlemail":"#/components/schemas/connectors.googlemail.connectionSettings","googlesheet":"#/components/schemas/connectors.googlesheet.connectionSettings","greenhouse":"#/components/schemas/connectors.greenhouse.connectionSettings","heron":"#/components/schemas/connectors.heron.connectionSettings","hubspot":"#/components/schemas/connectors.hubspot.connectionSettings","instagram":"#/components/schemas/connectors.instagram.connectionSettings","intercom":"#/components/schemas/connectors.intercom.connectionSettings","jira":"#/components/schemas/connectors.jira.connectionSettings","kustomer":"#/components/schemas/connectors.kustomer.connectionSettings","lever":"#/components/schemas/connectors.lever.connectionSettings","linear":"#/components/schemas/connectors.linear.connectionSettings","linkedin":"#/components/schemas/connectors.linkedin.connectionSettings","lunchmoney":"#/components/schemas/connectors.lunchmoney.connectionSettings","mercury":"#/components/schemas/connectors.mercury.connectionSettings","merge":"#/components/schemas/connectors.merge.connectionSettings","microsoft":"#/components/schemas/connectors.microsoft.connectionSettings","moota":"#/components/schemas/connectors.moota.connectionSettings","notion":"#/components/schemas/connectors.notion.connectionSettings","onebrick":"#/components/schemas/connectors.onebrick.connectionSettings","outreach":"#/components/schemas/connectors.outreach.connectionSettings","pipedrive":"#/components/schemas/connectors.pipedrive.connectionSettings","plaid":"#/components/schemas/connectors.plaid.connectionSettings","postgres":"#/components/schemas/connectors.postgres.connectionSettings","quickbooks":"#/components/schemas/connectors.quickbooks.connectionSettings","ramp":"#/components/schemas/connectors.ramp.connectionSettings","reddit":"#/components/schemas/connectors.reddit.connectionSettings","salesforce":"#/components/schemas/connectors.salesforce.connectionSettings","salesloft":"#/components/schemas/connectors.salesloft.connectionSettings","saltedge":"#/components/schemas/connectors.saltedge.connectionSettings","sharepointonline":"#/components/schemas/connectors.sharepointonline.connectionSettings","slack":"#/components/schemas/connectors.slack.connectionSettings","splitwise":"#/components/schemas/connectors.splitwise.connectionSettings","stripe":"#/components/schemas/connectors.stripe.connectionSettings","teller":"#/components/schemas/connectors.teller.connectionSettings","toggl":"#/components/schemas/connectors.toggl.connectionSettings","twenty":"#/components/schemas/connectors.twenty.connectionSettings","twitter":"#/components/schemas/connectors.twitter.connectionSettings","venmo":"#/components/schemas/connectors.venmo.connectionSettings","wise":"#/components/schemas/connectors.wise.connectionSettings","xero":"#/components/schemas/connectors.xero.connectionSettings","yodlee":"#/components/schemas/connectors.yodlee.connectionSettings","zohodesk":"#/components/schemas/connectors.zohodesk.connectionSettings"}},"description":"Connector specific data"},{"type":"object","properties":{"connector":{"$ref":"#/components/schemas/core.connector"}}}],"description":"The connection details"}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Openint from '@openint/sdk';\n\nconst client = new Openint({\n  apiKey: process.env['OPENINT_API_KEY'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.getConnection('conn_');\n\n  console.log(response);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom openint import Openint\n\nclient = Openint(\n    api_key=os.environ.get(\"OPENINT_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.get_connection(\n    id=\"conn_\",\n)\nprint(response)"}]},"delete":{"operationId":"deleteConnection","summary":"Delete Connection","description":"Delete a connection","security":[{"ApiKey":[]},{"CustomerToken":[]}],"parameters":[{"in":"path","name":"id","description":"The id of the connection, starts with `conn_`","schema":{"type":"string","pattern":"^conn_","description":"The id of the connection, starts with `conn_`"},"required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","pattern":"^conn_","description":"The id of the connection, starts with `conn_`"}},"required":["id"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Openint from '@openint/sdk';\n\nconst client = new Openint({\n  apiKey: process.env['OPENINT_API_KEY'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.deleteConnection('conn_');\n\n  console.log(response.id);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom openint import Openint\n\nclient = Openint(\n    api_key=os.environ.get(\"OPENINT_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.delete_connection(\n    \"conn_\",\n)\nprint(response.id)"}]}},"/connection":{"get":{"operationId":"listConnections","summary":"List Connections","description":"List all connections with optional filtering. Does not retrieve secrets or perform any connection healthcheck. For that use `getConnection` or `checkConnectionHealth`.","security":[{"ApiKey":[]},{"CustomerToken":[]}],"parameters":[{"in":"query","name":"limit","description":"Limit the number of items returned","schema":{"type":"integer","minimum":0,"maximum":100,"default":50,"description":"Limit the number of items returned"}},{"in":"query","name":"offset","description":"Offset the items returned","schema":{"type":"integer","minimum":0,"default":0,"description":"Offset the items returned"}},{"in":"query","name":"connector_name","description":"The name of the connector","schema":{"type":"string","enum":["aircall","airtable","apollo","brex","coda","confluence","discord","facebook","finch","firebase","foreceipt","github","gong","googlecalendar","googledocs","googledrive","googlemail","googlesheet","greenhouse","heron","hubspot","instagram","intercom","jira","kustomer","lever","linear","linkedin","lunchmoney","merge","microsoft","moota","notion","onebrick","outreach","pipedrive","plaid","quickbooks","ramp","reddit","salesforce","salesloft","saltedge","sharepointonline","slack","splitwise","stripe","teller","toggl","twenty","twitter","wise","xero","yodlee","zohodesk"],"description":"The name of the connector"}},{"in":"query","name":"customer_id","description":"The id of the customer in your application. Ensure it is unique for that customer.","schema":{"type":"string","description":"The id of the customer in your application. Ensure it is unique for that customer."}},{"in":"query","name":"connector_config_id","description":"The id of the connector config, starts with `ccfg_`","schema":{"type":"string","pattern":"^ccfg_","description":"The id of the connector config, starts with `ccfg_`"}},{"in":"query","name":"include_secrets","description":"Controls secret inclusion: none (default), basic (auth only), or all secrets","schema":{"type":"string","enum":["none","basic","all"],"description":"Controls secret inclusion: none (default), basic (auth only), or all secrets","default":"none"}},{"in":"query","name":"expand","schema":{"type":"array","items":{"type":"string","enum":["connector"],"description":"Fields to expand: connector (includes connector details)"},"default":[]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"allOf":[{"type":"object","properties":{"id":{"type":"string"},"updated_at":{"type":"string"},"created_at":{"type":"string"},"connector_config_id":{"type":["string","null"]},"customer_id":{"type":"string"},"integration_id":{"type":["string","null"]},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["id","updated_at","created_at","connector_config_id","customer_id","integration_id","metadata"],"description":"Connection Base"},{"oneOf":[{"$ref":"#/components/schemas/connectors.aircall.connectionSettings"},{"$ref":"#/components/schemas/connectors.airtable.connectionSettings"},{"$ref":"#/components/schemas/connectors.apollo.connectionSettings"},{"$ref":"#/components/schemas/connectors.brex.connectionSettings"},{"$ref":"#/components/schemas/connectors.coda.connectionSettings"},{"$ref":"#/components/schemas/connectors.confluence.connectionSettings"},{"$ref":"#/components/schemas/connectors.discord.connectionSettings"},{"$ref":"#/components/schemas/connectors.facebook.connectionSettings"},{"$ref":"#/components/schemas/connectors.finch.connectionSettings"},{"$ref":"#/components/schemas/connectors.firebase.connectionSettings"},{"$ref":"#/components/schemas/connectors.foreceipt.connectionSettings"},{"$ref":"#/components/schemas/connectors.github.connectionSettings"},{"$ref":"#/components/schemas/connectors.gong.connectionSettings"},{"$ref":"#/components/schemas/connectors.googlecalendar.connectionSettings"},{"$ref":"#/components/schemas/connectors.googledocs.connectionSettings"},{"$ref":"#/components/schemas/connectors.googledrive.connectionSettings"},{"$ref":"#/components/schemas/connectors.googlemail.connectionSettings"},{"$ref":"#/components/schemas/connectors.googlesheet.connectionSettings"},{"$ref":"#/components/schemas/connectors.greenhouse.connectionSettings"},{"$ref":"#/components/schemas/connectors.heron.connectionSettings"},{"$ref":"#/components/schemas/connectors.hubspot.connectionSettings"},{"$ref":"#/components/schemas/connectors.instagram.connectionSettings"},{"$ref":"#/components/schemas/connectors.intercom.connectionSettings"},{"$ref":"#/components/schemas/connectors.jira.connectionSettings"},{"$ref":"#/components/schemas/connectors.kustomer.connectionSettings"},{"$ref":"#/components/schemas/connectors.lever.connectionSettings"},{"$ref":"#/components/schemas/connectors.linear.connectionSettings"},{"$ref":"#/components/schemas/connectors.linkedin.connectionSettings"},{"$ref":"#/components/schemas/connectors.lunchmoney.connectionSettings"},{"$ref":"#/components/schemas/connectors.mercury.connectionSettings"},{"$ref":"#/components/schemas/connectors.merge.connectionSettings"},{"$ref":"#/components/schemas/connectors.microsoft.connectionSettings"},{"$ref":"#/components/schemas/connectors.moota.connectionSettings"},{"$ref":"#/components/schemas/connectors.notion.connectionSettings"},{"$ref":"#/components/schemas/connectors.onebrick.connectionSettings"},{"$ref":"#/components/schemas/connectors.outreach.connectionSettings"},{"$ref":"#/components/schemas/connectors.pipedrive.connectionSettings"},{"$ref":"#/components/schemas/connectors.plaid.connectionSettings"},{"$ref":"#/components/schemas/connectors.postgres.connectionSettings"},{"$ref":"#/components/schemas/connectors.quickbooks.connectionSettings"},{"$ref":"#/components/schemas/connectors.ramp.connectionSettings"},{"$ref":"#/components/schemas/connectors.reddit.connectionSettings"},{"$ref":"#/components/schemas/connectors.salesforce.connectionSettings"},{"$ref":"#/components/schemas/connectors.salesloft.connectionSettings"},{"$ref":"#/components/schemas/connectors.saltedge.connectionSettings"},{"$ref":"#/components/schemas/connectors.sharepointonline.connectionSettings"},{"$ref":"#/components/schemas/connectors.slack.connectionSettings"},{"$ref":"#/components/schemas/connectors.splitwise.connectionSettings"},{"$ref":"#/components/schemas/connectors.stripe.connectionSettings"},{"$ref":"#/components/schemas/connectors.teller.connectionSettings"},{"$ref":"#/components/schemas/connectors.toggl.connectionSettings"},{"$ref":"#/components/schemas/connectors.twenty.connectionSettings"},{"$ref":"#/components/schemas/connectors.twitter.connectionSettings"},{"$ref":"#/components/schemas/connectors.venmo.connectionSettings"},{"$ref":"#/components/schemas/connectors.wise.connectionSettings"},{"$ref":"#/components/schemas/connectors.xero.connectionSettings"},{"$ref":"#/components/schemas/connectors.yodlee.connectionSettings"},{"$ref":"#/components/schemas/connectors.zohodesk.connectionSettings"}],"discriminator":{"propertyName":"connector_name","mapping":{"aircall":"#/components/schemas/connectors.aircall.connectionSettings","airtable":"#/components/schemas/connectors.airtable.connectionSettings","apollo":"#/components/schemas/connectors.apollo.connectionSettings","brex":"#/components/schemas/connectors.brex.connectionSettings","coda":"#/components/schemas/connectors.coda.connectionSettings","confluence":"#/components/schemas/connectors.confluence.connectionSettings","discord":"#/components/schemas/connectors.discord.connectionSettings","facebook":"#/components/schemas/connectors.facebook.connectionSettings","finch":"#/components/schemas/connectors.finch.connectionSettings","firebase":"#/components/schemas/connectors.firebase.connectionSettings","foreceipt":"#/components/schemas/connectors.foreceipt.connectionSettings","github":"#/components/schemas/connectors.github.connectionSettings","gong":"#/components/schemas/connectors.gong.connectionSettings","googlecalendar":"#/components/schemas/connectors.googlecalendar.connectionSettings","googledocs":"#/components/schemas/connectors.googledocs.connectionSettings","googledrive":"#/components/schemas/connectors.googledrive.connectionSettings","googlemail":"#/components/schemas/connectors.googlemail.connectionSettings","googlesheet":"#/components/schemas/connectors.googlesheet.connectionSettings","greenhouse":"#/components/schemas/connectors.greenhouse.connectionSettings","heron":"#/components/schemas/connectors.heron.connectionSettings","hubspot":"#/components/schemas/connectors.hubspot.connectionSettings","instagram":"#/components/schemas/connectors.instagram.connectionSettings","intercom":"#/components/schemas/connectors.intercom.connectionSettings","jira":"#/components/schemas/connectors.jira.connectionSettings","kustomer":"#/components/schemas/connectors.kustomer.connectionSettings","lever":"#/components/schemas/connectors.lever.connectionSettings","linear":"#/components/schemas/connectors.linear.connectionSettings","linkedin":"#/components/schemas/connectors.linkedin.connectionSettings","lunchmoney":"#/components/schemas/connectors.lunchmoney.connectionSettings","mercury":"#/components/schemas/connectors.mercury.connectionSettings","merge":"#/components/schemas/connectors.merge.connectionSettings","microsoft":"#/components/schemas/connectors.microsoft.connectionSettings","moota":"#/components/schemas/connectors.moota.connectionSettings","notion":"#/components/schemas/connectors.notion.connectionSettings","onebrick":"#/components/schemas/connectors.onebrick.connectionSettings","outreach":"#/components/schemas/connectors.outreach.connectionSettings","pipedrive":"#/components/schemas/connectors.pipedrive.connectionSettings","plaid":"#/components/schemas/connectors.plaid.connectionSettings","postgres":"#/components/schemas/connectors.postgres.connectionSettings","quickbooks":"#/components/schemas/connectors.quickbooks.connectionSettings","ramp":"#/components/schemas/connectors.ramp.connectionSettings","reddit":"#/components/schemas/connectors.reddit.connectionSettings","salesforce":"#/components/schemas/connectors.salesforce.connectionSettings","salesloft":"#/components/schemas/connectors.salesloft.connectionSettings","saltedge":"#/components/schemas/connectors.saltedge.connectionSettings","sharepointonline":"#/components/schemas/connectors.sharepointonline.connectionSettings","slack":"#/components/schemas/connectors.slack.connectionSettings","splitwise":"#/components/schemas/connectors.splitwise.connectionSettings","stripe":"#/components/schemas/connectors.stripe.connectionSettings","teller":"#/components/schemas/connectors.teller.connectionSettings","toggl":"#/components/schemas/connectors.toggl.connectionSettings","twenty":"#/components/schemas/connectors.twenty.connectionSettings","twitter":"#/components/schemas/connectors.twitter.connectionSettings","venmo":"#/components/schemas/connectors.venmo.connectionSettings","wise":"#/components/schemas/connectors.wise.connectionSettings","xero":"#/components/schemas/connectors.xero.connectionSettings","yodlee":"#/components/schemas/connectors.yodlee.connectionSettings","zohodesk":"#/components/schemas/connectors.zohodesk.connectionSettings"}},"description":"Connector specific data"},{"type":"object","properties":{"connector":{"$ref":"#/components/schemas/core.connector"}}}],"description":"The connection details"}},"total":{"type":"integer","minimum":0,"description":"Total number of items in the database for the organization"},"limit":{"type":"integer","minimum":0,"maximum":100,"default":50,"description":"Limit the number of items returned"},"offset":{"type":"integer","minimum":0,"default":0,"description":"Offset the items returned"}},"required":["items","total","limit","offset"],"description":"The list of connections"}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Openint from '@openint/sdk';\n\nconst client = new Openint({\n  apiKey: process.env['OPENINT_API_KEY'], // This is the default and can be omitted\n});\n\nasync function main() {\n  // Automatically fetches more pages as needed.\n  for await (const listConnectionsResponse of client.listConnections()) {\n    console.log(listConnectionsResponse);\n  }\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom openint import Openint\n\nclient = Openint(\n    api_key=os.environ.get(\"OPENINT_API_KEY\"),  # This is the default and can be omitted\n)\npage = client.list_connections()\npage = page.items[0]\nprint(page)"}]},"post":{"operationId":"createConnection","summary":"Create Connection","description":"Import an existing connection after validation","security":[{"ApiKey":[]},{"CustomerToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"connector_config_id":{"type":"string","pattern":"^ccfg_","description":"The id of the connector config, starts with `ccfg_`"},"metadata":{"type":"object","additionalProperties":{}},"customer_id":{"type":"string","description":"The id of the customer in your application. Ensure it is unique for that customer."},"data":{"oneOf":[{"$ref":"#/components/schemas/connectors.aircall.connectionSettings"},{"$ref":"#/components/schemas/connectors.airtable.connectionSettings"},{"$ref":"#/components/schemas/connectors.apollo.connectionSettings"},{"$ref":"#/components/schemas/connectors.brex.connectionSettings"},{"$ref":"#/components/schemas/connectors.coda.connectionSettings"},{"$ref":"#/components/schemas/connectors.confluence.connectionSettings"},{"$ref":"#/components/schemas/connectors.discord.connectionSettings"},{"$ref":"#/components/schemas/connectors.facebook.connectionSettings"},{"$ref":"#/components/schemas/connectors.finch.connectionSettings"},{"$ref":"#/components/schemas/connectors.firebase.connectionSettings"},{"$ref":"#/components/schemas/connectors.foreceipt.connectionSettings"},{"$ref":"#/components/schemas/connectors.github.connectionSettings"},{"$ref":"#/components/schemas/connectors.gong.connectionSettings"},{"$ref":"#/components/schemas/connectors.googlecalendar.connectionSettings"},{"$ref":"#/components/schemas/connectors.googledocs.connectionSettings"},{"$ref":"#/components/schemas/connectors.googledrive.connectionSettings"},{"$ref":"#/components/schemas/connectors.googlemail.connectionSettings"},{"$ref":"#/components/schemas/connectors.googlesheet.connectionSettings"},{"$ref":"#/components/schemas/connectors.greenhouse.connectionSettings"},{"$ref":"#/components/schemas/connectors.heron.connectionSettings"},{"$ref":"#/components/schemas/connectors.hubspot.connectionSettings"},{"$ref":"#/components/schemas/connectors.instagram.connectionSettings"},{"$ref":"#/components/schemas/connectors.intercom.connectionSettings"},{"$ref":"#/components/schemas/connectors.jira.connectionSettings"},{"$ref":"#/components/schemas/connectors.kustomer.connectionSettings"},{"$ref":"#/components/schemas/connectors.lever.connectionSettings"},{"$ref":"#/components/schemas/connectors.linear.connectionSettings"},{"$ref":"#/components/schemas/connectors.linkedin.connectionSettings"},{"$ref":"#/components/schemas/connectors.lunchmoney.connectionSettings"},{"$ref":"#/components/schemas/connectors.mercury.connectionSettings"},{"$ref":"#/components/schemas/connectors.merge.connectionSettings"},{"$ref":"#/components/schemas/connectors.microsoft.connectionSettings"},{"$ref":"#/components/schemas/connectors.moota.connectionSettings"},{"$ref":"#/components/schemas/connectors.notion.connectionSettings"},{"$ref":"#/components/schemas/connectors.onebrick.connectionSettings"},{"$ref":"#/components/schemas/connectors.outreach.connectionSettings"},{"$ref":"#/components/schemas/connectors.pipedrive.connectionSettings"},{"$ref":"#/components/schemas/connectors.plaid.connectionSettings"},{"$ref":"#/components/schemas/connectors.postgres.connectionSettings"},{"$ref":"#/components/schemas/connectors.quickbooks.connectionSettings"},{"$ref":"#/components/schemas/connectors.ramp.connectionSettings"},{"$ref":"#/components/schemas/connectors.reddit.connectionSettings"},{"$ref":"#/components/schemas/connectors.salesforce.connectionSettings"},{"$ref":"#/components/schemas/connectors.salesloft.connectionSettings"},{"$ref":"#/components/schemas/connectors.saltedge.connectionSettings"},{"$ref":"#/components/schemas/connectors.sharepointonline.connectionSettings"},{"$ref":"#/components/schemas/connectors.slack.connectionSettings"},{"$ref":"#/components/schemas/connectors.splitwise.connectionSettings"},{"$ref":"#/components/schemas/connectors.stripe.connectionSettings"},{"$ref":"#/components/schemas/connectors.teller.connectionSettings"},{"$ref":"#/components/schemas/connectors.toggl.connectionSettings"},{"$ref":"#/components/schemas/connectors.twenty.connectionSettings"},{"$ref":"#/components/schemas/connectors.twitter.connectionSettings"},{"$ref":"#/components/schemas/connectors.venmo.connectionSettings"},{"$ref":"#/components/schemas/connectors.wise.connectionSettings"},{"$ref":"#/components/schemas/connectors.xero.connectionSettings"},{"$ref":"#/components/schemas/connectors.yodlee.connectionSettings"},{"$ref":"#/components/schemas/connectors.zohodesk.connectionSettings"}],"discriminator":{"propertyName":"connector_name","mapping":{"aircall":"#/components/schemas/connectors.aircall.connectionSettings","airtable":"#/components/schemas/connectors.airtable.connectionSettings","apollo":"#/components/schemas/connectors.apollo.connectionSettings","brex":"#/components/schemas/connectors.brex.connectionSettings","coda":"#/components/schemas/connectors.coda.connectionSettings","confluence":"#/components/schemas/connectors.confluence.connectionSettings","discord":"#/components/schemas/connectors.discord.connectionSettings","facebook":"#/components/schemas/connectors.facebook.connectionSettings","finch":"#/components/schemas/connectors.finch.connectionSettings","firebase":"#/components/schemas/connectors.firebase.connectionSettings","foreceipt":"#/components/schemas/connectors.foreceipt.connectionSettings","github":"#/components/schemas/connectors.github.connectionSettings","gong":"#/components/schemas/connectors.gong.connectionSettings","googlecalendar":"#/components/schemas/connectors.googlecalendar.connectionSettings","googledocs":"#/components/schemas/connectors.googledocs.connectionSettings","googledrive":"#/components/schemas/connectors.googledrive.connectionSettings","googlemail":"#/components/schemas/connectors.googlemail.connectionSettings","googlesheet":"#/components/schemas/connectors.googlesheet.connectionSettings","greenhouse":"#/components/schemas/connectors.greenhouse.connectionSettings","heron":"#/components/schemas/connectors.heron.connectionSettings","hubspot":"#/components/schemas/connectors.hubspot.connectionSettings","instagram":"#/components/schemas/connectors.instagram.connectionSettings","intercom":"#/components/schemas/connectors.intercom.connectionSettings","jira":"#/components/schemas/connectors.jira.connectionSettings","kustomer":"#/components/schemas/connectors.kustomer.connectionSettings","lever":"#/components/schemas/connectors.lever.connectionSettings","linear":"#/components/schemas/connectors.linear.connectionSettings","linkedin":"#/components/schemas/connectors.linkedin.connectionSettings","lunchmoney":"#/components/schemas/connectors.lunchmoney.connectionSettings","mercury":"#/components/schemas/connectors.mercury.connectionSettings","merge":"#/components/schemas/connectors.merge.connectionSettings","microsoft":"#/components/schemas/connectors.microsoft.connectionSettings","moota":"#/components/schemas/connectors.moota.connectionSettings","notion":"#/components/schemas/connectors.notion.connectionSettings","onebrick":"#/components/schemas/connectors.onebrick.connectionSettings","outreach":"#/components/schemas/connectors.outreach.connectionSettings","pipedrive":"#/components/schemas/connectors.pipedrive.connectionSettings","plaid":"#/components/schemas/connectors.plaid.connectionSettings","postgres":"#/components/schemas/connectors.postgres.connectionSettings","quickbooks":"#/components/schemas/connectors.quickbooks.connectionSettings","ramp":"#/components/schemas/connectors.ramp.connectionSettings","reddit":"#/components/schemas/connectors.reddit.connectionSettings","salesforce":"#/components/schemas/connectors.salesforce.connectionSettings","salesloft":"#/components/schemas/connectors.salesloft.connectionSettings","saltedge":"#/components/schemas/connectors.saltedge.connectionSettings","sharepointonline":"#/components/schemas/connectors.sharepointonline.connectionSettings","slack":"#/components/schemas/connectors.slack.connectionSettings","splitwise":"#/components/schemas/connectors.splitwise.connectionSettings","stripe":"#/components/schemas/connectors.stripe.connectionSettings","teller":"#/components/schemas/connectors.teller.connectionSettings","toggl":"#/components/schemas/connectors.toggl.connectionSettings","twenty":"#/components/schemas/connectors.twenty.connectionSettings","twitter":"#/components/schemas/connectors.twitter.connectionSettings","venmo":"#/components/schemas/connectors.venmo.connectionSettings","wise":"#/components/schemas/connectors.wise.connectionSettings","xero":"#/components/schemas/connectors.xero.connectionSettings","yodlee":"#/components/schemas/connectors.yodlee.connectionSettings","zohodesk":"#/components/schemas/connectors.zohodesk.connectionSettings"}},"description":"Connector specific data"}},"required":["connector_config_id","customer_id","data"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/core.connection"}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Openint from '@openint/sdk';\n\nconst client = new Openint({\n  apiKey: process.env['OPENINT_API_KEY'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.createConnection({\n    connector_config_id: 'ccfg_',\n    customer_id: 'customer_id',\n    data: {\n      connector_name: 'aircall',\n      settings: {\n        oauth: {\n          created_at: 'created_at',\n          last_fetched_at: 'last_fetched_at',\n          metadata: { foo: 'bar' },\n          updated_at: 'updated_at',\n        },\n      },\n    },\n  });\n\n  console.log(response);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom openint import Openint\n\nclient = Openint(\n    api_key=os.environ.get(\"OPENINT_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.create_connection(\n    connector_config_id=\"ccfg_\",\n    customer_id=\"customer_id\",\n    data={\n        \"connector_name\": \"aircall\",\n        \"settings\": {\n            \"oauth\": {\n                \"created_at\": \"created_at\",\n                \"last_fetched_at\": \"last_fetched_at\",\n                \"metadata\": {\n                    \"foo\": \"bar\"\n                },\n                \"updated_at\": \"updated_at\",\n            }\n        },\n    },\n)\nprint(response)"}]}},"/connection/{id}/check":{"post":{"operationId":"checkConnection","summary":"Check Connection Health","description":"Verify that a connection is healthy","security":[{"ApiKey":[]},{"CustomerToken":[]}],"parameters":[{"in":"path","name":"id","description":"The id of the connection, starts with `conn_`","schema":{"type":"string","pattern":"^conn_","description":"The id of the connection, starts with `conn_`"},"required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","pattern":"^conn_","description":"The id of the connection, starts with `conn_`"},"status":{"type":"string","enum":["healthy","disconnected","error","manual"],"description":"Connection status: healthy (all well), disconnected (needs reconnection), error (system issue), manual (import connection)"},"error":{"type":"string","enum":["refresh_failed","unknown_external_error"],"description":"Error types: refresh_failed and unknown_external_error"},"errorMessage":{"type":"string","description":"Optional expanded error message"}},"required":["id","status"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Openint from '@openint/sdk';\n\nconst client = new Openint({\n  apiKey: process.env['OPENINT_API_KEY'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.checkConnection('conn_');\n\n  console.log(response.id);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom openint import Openint\n\nclient = Openint(\n    api_key=os.environ.get(\"OPENINT_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.check_connection(\n    \"conn_\",\n)\nprint(response.id)"}]}},"/customer/{customer_id}/magic-link":{"post":{"operationId":"getMagicLink","summary":"Create Magic Link","description":"Create a magic link that is ready to be shared with customers who want to use Connect","security":[{"ApiKey":[]},{"CustomerToken":[]}],"parameters":[{"in":"path","name":"customer_id","schema":{"type":"string","minLength":1},"required":true}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"validity_in_seconds":{"type":"number","default":2592000,"description":"How long the magic link will be valid for (in seconds) before it expires"},"client_options":{"type":"object","properties":{"connector_name":{"type":"string","enum":["plaid","greenhouse"],"description":"The name of the connector to limit connection to. Default to all otherwise"},"tab":{"type":"string","enum":["my-connections","add-connection"],"title":"Default Tab","description":"The default tab to show when the magic link is opened. Defaults to \"my-connections\""},"debug":{"type":"boolean","title":"Debug","description":"Whether to enable debug mode"},"--primary":{"type":"string"},"--background":{"type":"string"},"--foreground":{"type":"string"},"--card":{"type":"string"},"--card-foreground":{"type":"string"}},"description":"Search params to configure the connect page. Not signed as part of JWT and therefore can be modified by client"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"magic_link_url":{"type":"string","description":"The Connect magic link url to share with the user."}},"required":["magic_link_url"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Openint from '@openint/sdk';\n\nconst client = new Openint({\n  apiKey: process.env['OPENINT_API_KEY'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.createMagicLink('x');\n\n  console.log(response.magic_link_url);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom openint import Openint\n\nclient = Openint(\n    api_key=os.environ.get(\"OPENINT_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.create_magic_link(\n    customer_id=\"x\",\n)\nprint(response.magic_link_url)"}]}},"/customer/{customer_id}/token":{"post":{"operationId":"createToken","summary":"Create Customer Authentication Token","description":"Create a @Connect authentication token for a customer. This token can be used to embed @Connect in your application via the `@openint/connect` npm package.","security":[{"ApiKey":[]},{"CustomerToken":[]}],"parameters":[{"in":"path","name":"customer_id","description":"The id of the customer in your application. Ensure it is unique for that customer.","schema":{"type":"string","description":"The id of the customer in your application. Ensure it is unique for that customer."},"required":true}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"validity_in_seconds":{"type":"number","exclusiveMinimum":0,"default":2592000,"description":"How long the token will be valid for (in seconds) before it expires"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string","description":"The authentication token to use for API requests"}},"required":["token"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Openint from '@openint/sdk';\n\nconst client = new Openint({\n  apiKey: process.env['OPENINT_API_KEY'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.createToken('customer_id');\n\n  console.log(response.token);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom openint import Openint\n\nclient = Openint(\n    api_key=os.environ.get(\"OPENINT_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.create_token(\n    customer_id=\"customer_id\",\n)\nprint(response.token)"}]}},"/health":{"get":{"operationId":"health","summary":"Health Check","description":"Check if the API is operational","security":[{"ApiKey":[]},{"CustomerToken":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"}},"required":["ok"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}},"post":{"operationId":"healthEcho","security":[{"ApiKey":[]},{"CustomerToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/viewer":{"get":{"operationId":"viewer","summary":"Get Current User","description":"Get information about the current authenticated user","security":[{"ApiKey":[]},{"CustomerToken":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"role":{"type":"string","enum":["customer","org","anon","user"]}},"required":["role"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}},"x-codeSamples":[{"lang":"JavaScript","source":"import Openint from '@openint/sdk';\n\nconst client = new Openint({\n  apiKey: process.env['OPENINT_API_KEY'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.getCurrentUser();\n\n  console.log(response.role);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom openint import Openint\n\nclient = Openint(\n    api_key=os.environ.get(\"OPENINT_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.get_current_user()\nprint(response.role)"}]}}},"components":{"securitySchemes":{"ApiKey":{"type":"http","scheme":"bearer","description":"Organization API key generated in the OpenInt Console and passed in the `authorization` header with format: `Bearer {apiKey}`"},"CustomerToken":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Customer authentication token created using the create customer token API and passed in the `authorization` header with format: `Bearer {token}`"}},"schemas":{"AuthMode":{"type":"string","enum":["OAUTH2","OAUTH1","BASIC","API_KEY"],"title":"AuthMode"},"connectors.aircall.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"aircall"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"access_token":{"type":"string"},"client_id":{"type":"string"},"scope":{"type":"string"},"refresh_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string"},"token_type":{"type":"string"},"raw":{"type":"object","additionalProperties":{}}},"required":["access_token","client_id","scope","raw"],"description":"Output of the postConnect hook for oauth2 connectors"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"last_fetched_at":{"type":"string"},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["created_at","updated_at","last_fetched_at","metadata"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"aircall"},"connectors.aircall.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"aircall"},"config":{"type":"object","properties":{"oauth":{"type":["object","null"],"properties":{"client_id":{"type":["string","null"]},"client_secret":{"type":["string","null"]},"scopes":{"type":["array","null"],"items":{"type":"string"}}},"description":"Base oauth configuration for the connector"}},"required":["oauth"]}},"required":["connector_name","config"],"title":"aircall"},"connectors.airtable.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"airtable"},"settings":{"type":"object","properties":{"apiKey":{"type":"string"},"airtableBase":{"type":"string"}},"required":["apiKey","airtableBase"]}},"required":["connector_name","settings"],"title":"airtable"},"connectors.airtable.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"airtable"},"config":{"type":"null"}},"required":["connector_name","config"],"title":"airtable"},"connectors.apollo.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"apollo"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/AuthMode"},"api_key":{"type":["string","null"]},"access_token":{"type":"string"},"refresh_token":{"type":"string"},"expires_at":{"type":"string","format":"date-time"},"raw":{"type":"object","properties":{"access_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string","format":"date-time"},"refresh_token":{"type":["string","null"]},"refresh_token_expires_in":{"type":["number","null"]},"token_type":{"type":["string","null"]},"scope":{"type":"string"}},"required":["access_token"],"additionalProperties":true}},"required":["type","raw"]},"connection_config":{"type":["object","null"],"properties":{"portalId":{"type":["number","null"]},"instance_url":{"type":["string","null"]}},"additionalProperties":{}},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["credentials","metadata"]},"error":{"type":["object","null"],"properties":{"code":{"anyOf":[{"type":"string","enum":["refresh_token_external_error"]},{"type":"string"}]},"message":{"type":["string","null"]}},"required":["code"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"apollo"},"connectors.apollo.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"apollo"},"config":{"type":"null"}},"required":["connector_name","config"],"title":"apollo"},"connectors.brex.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"brex"},"settings":{"type":"object","properties":{"accessToken":{"type":"string"}},"required":["accessToken"]}},"required":["connector_name","settings"],"title":"brex"},"connectors.brex.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"brex"},"config":{"type":"object","properties":{"oauth":{"anyOf":[{"type":"null","description":"No oauth"},{"type":"object","properties":{"clientId":{"type":"string"},"clientSecret":{"type":"string"}},"required":["clientId","clientSecret"],"description":"Configure oauth"}],"description":"Oauth support"},"apikeyAuth":{"type":"boolean","description":"API key auth support"}}}},"required":["connector_name","config"],"title":"brex"},"connectors.coda.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"coda"},"settings":{"type":"object","properties":{"apiKey":{"type":"string"}},"required":["apiKey"]}},"required":["connector_name","settings"],"title":"coda"},"connectors.coda.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"coda"},"config":{"type":"null"}},"required":["connector_name","config"],"title":"coda"},"connectors.confluence.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"confluence"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"access_token":{"type":"string"},"client_id":{"type":"string"},"scope":{"type":"string"},"refresh_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string"},"token_type":{"type":"string"},"raw":{"type":"object","additionalProperties":{}}},"required":["access_token","client_id","scope","raw"],"description":"Output of the postConnect hook for oauth2 connectors"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"last_fetched_at":{"type":"string"},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["created_at","updated_at","last_fetched_at","metadata"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"confluence"},"connectors.confluence.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"confluence"},"config":{"type":"object","properties":{"oauth":{"type":["object","null"],"properties":{"client_id":{"type":["string","null"]},"client_secret":{"type":["string","null"]},"scopes":{"type":["array","null"],"items":{"type":"string"}}},"description":"Base oauth configuration for the connector"}},"required":["oauth"]}},"required":["connector_name","config"],"title":"confluence"},"connectors.discord.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"discord"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"access_token":{"type":"string"},"client_id":{"type":"string"},"scope":{"type":"string"},"refresh_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string"},"token_type":{"type":"string"},"raw":{"type":"object","additionalProperties":{}}},"required":["access_token","client_id","scope","raw"],"description":"Output of the postConnect hook for oauth2 connectors"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"last_fetched_at":{"type":"string"},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["created_at","updated_at","last_fetched_at","metadata"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"discord"},"connectors.discord.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"discord"},"config":{"type":"object","properties":{"oauth":{"type":["object","null"],"properties":{"client_id":{"type":["string","null"]},"client_secret":{"type":["string","null"]},"scopes":{"type":["array","null"],"items":{"type":"string"}}},"description":"Base oauth configuration for the connector"}},"required":["oauth"]}},"required":["connector_name","config"],"title":"discord"},"connectors.facebook.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"facebook"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/AuthMode"},"api_key":{"type":["string","null"]},"access_token":{"type":"string"},"refresh_token":{"type":"string"},"expires_at":{"type":"string","format":"date-time"},"raw":{"type":"object","properties":{"access_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string","format":"date-time"},"refresh_token":{"type":["string","null"]},"refresh_token_expires_in":{"type":["number","null"]},"token_type":{"type":["string","null"]},"scope":{"type":"string"}},"required":["access_token"],"additionalProperties":true}},"required":["type","raw"]},"connection_config":{"type":["object","null"],"properties":{"portalId":{"type":["number","null"]},"instance_url":{"type":["string","null"]}},"additionalProperties":{}},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["credentials","metadata"]},"error":{"type":["object","null"],"properties":{"code":{"anyOf":[{"type":"string","enum":["refresh_token_external_error"]},{"type":"string"}]},"message":{"type":["string","null"]}},"required":["code"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"facebook"},"connectors.facebook.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"facebook"},"config":{"type":"object","properties":{"oauth":{"type":"object","properties":{"client_id":{"type":"string"},"client_secret":{"type":"string"},"scopes":{"type":"string"}},"required":["client_id","client_secret"]}},"required":["oauth"]}},"required":["connector_name","config"],"title":"facebook"},"connectors.finch.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"finch"},"settings":{"type":"object","properties":{"access_token":{"type":"string"}},"required":["access_token"]}},"required":["connector_name","settings"],"title":"finch"},"connectors.finch.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"finch"},"config":{"type":"object","properties":{"client_id":{"type":"string"},"client_secret":{"type":"string"},"api_version":{"type":"string","description":"Finch API version"},"products":{"type":"array","items":{"type":"string","enum":["company","directory","individual","ssn","employment","payment","pay_statement","benefits"]},"description":"Finch products to access, @see https://developer.tryfinch.com/api-reference/development-guides/Permissions"}},"required":["client_id","client_secret","products"]}},"required":["connector_name","config"],"title":"finch"},"connectors.firebase.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"firebase"},"settings":{"oneOf":[{"type":"object","properties":{"role":{"type":"string","const":"admin"},"serviceAccount":{"type":"object","properties":{"project_id":{"type":"string"}},"required":["project_id"],"additionalProperties":{}}},"required":["role","serviceAccount"]},{"type":"object","properties":{"role":{"type":"string","const":"user"},"firebaseConfig":{"type":"object","properties":{"projectId":{"type":"string"},"apiKey":{"type":"string"},"appId":{"type":"string"},"authDomain":{"type":"string"},"databaseURL":{"type":"string"},"storageBucket":{"type":"string"},"measurementId":{"type":"string"},"messagingSenderId":{"type":"string"}},"required":["projectId","apiKey","appId","authDomain","databaseURL"]},"authData":{"oneOf":[{"type":"object","properties":{"method":{"type":"string","const":"userJson"},"userJson":{"type":"object","properties":{"uid":{"type":"string"},"appName":{"type":"string"},"stsTokenManager":{"type":"object","additionalProperties":{}}},"required":["uid","appName","stsTokenManager"],"additionalProperties":{}}},"required":["method","userJson"]},{"type":"object","properties":{"method":{"type":"string","const":"customToken"},"customToken":{"type":"string"}},"required":["method","customToken"]},{"type":"object","properties":{"method":{"type":"string","const":"emailPassword"},"email":{"type":"string"},"password":{"type":"string"}},"required":["method","email","password"]}]}},"required":["role","firebaseConfig","authData"]}]}},"required":["connector_name","settings"],"title":"firebase"},"connectors.firebase.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"firebase"},"config":{"type":"null"}},"required":["connector_name","config"],"title":"firebase"},"connectors.foreceipt.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"foreceipt"},"settings":{"type":"object","properties":{"credentials":{},"_id":{},"envName":{"type":"string","enum":["staging","production"]}},"required":["envName"]}},"required":["connector_name","settings"],"title":"foreceipt"},"connectors.foreceipt.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"foreceipt"},"config":{"type":"null"}},"required":["connector_name","config"],"title":"foreceipt"},"connectors.github.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"github"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"access_token":{"type":"string"},"client_id":{"type":"string"},"scope":{"type":"string"},"refresh_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string"},"token_type":{"type":"string"},"raw":{"type":"object","additionalProperties":{}}},"required":["access_token","client_id","scope","raw"],"description":"Output of the postConnect hook for oauth2 connectors"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"last_fetched_at":{"type":"string"},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["created_at","updated_at","last_fetched_at","metadata"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"github"},"connectors.github.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"github"},"config":{"type":"object","properties":{"oauth":{"type":["object","null"],"properties":{"client_id":{"type":["string","null"]},"client_secret":{"type":["string","null"]},"scopes":{"type":["array","null"],"items":{"type":"string"}}},"description":"Base oauth configuration for the connector"}},"required":["oauth"]}},"required":["connector_name","config"],"title":"github"},"connectors.gong.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"gong"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/AuthMode"},"api_key":{"type":["string","null"]},"access_token":{"type":"string"},"refresh_token":{"type":"string"},"expires_at":{"type":"string","format":"date-time"},"raw":{"type":"object","properties":{"access_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string","format":"date-time"},"refresh_token":{"type":["string","null"]},"refresh_token_expires_in":{"type":["number","null"]},"token_type":{"type":["string","null"]},"scope":{"type":"string"}},"required":["access_token"],"additionalProperties":true}},"required":["type","raw"]},"connection_config":{"type":["object","null"],"properties":{"portalId":{"type":["number","null"]},"instance_url":{"type":["string","null"]}},"additionalProperties":{}},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["credentials","metadata"]},"error":{"type":["object","null"],"properties":{"code":{"anyOf":[{"type":"string","enum":["refresh_token_external_error"]},{"type":"string"}]},"message":{"type":["string","null"]}},"required":["code"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"gong"},"connectors.gong.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"gong"},"config":{"type":"object","properties":{"oauth":{"type":"object","properties":{"client_id":{"type":"string"},"client_secret":{"type":"string"},"scopes":{"type":"string"}},"required":["client_id","client_secret"]}},"required":["oauth"]}},"required":["connector_name","config"],"title":"gong"},"connectors.googlecalendar.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"googlecalendar"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"access_token":{"type":"string"},"client_id":{"type":"string"},"scope":{"type":"string"},"refresh_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string"},"token_type":{"type":"string"},"raw":{"type":"object","additionalProperties":{}}},"required":["access_token","client_id","scope","raw"],"description":"Output of the postConnect hook for oauth2 connectors"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"last_fetched_at":{"type":"string"},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["created_at","updated_at","last_fetched_at","metadata"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"googlecalendar"},"connectors.googlecalendar.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"googlecalendar"},"config":{"type":"object","properties":{"oauth":{"type":["object","null"],"properties":{"client_id":{"type":["string","null"]},"client_secret":{"type":["string","null"]},"scopes":{"type":["array","null"],"items":{"type":"string"}}},"description":"Base oauth configuration for the connector"}},"required":["oauth"]}},"required":["connector_name","config"],"title":"googlecalendar"},"connectors.googledocs.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"googledocs"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"access_token":{"type":"string"},"client_id":{"type":"string"},"scope":{"type":"string"},"refresh_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string"},"token_type":{"type":"string"},"raw":{"type":"object","additionalProperties":{}}},"required":["access_token","client_id","scope","raw"],"description":"Output of the postConnect hook for oauth2 connectors"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"last_fetched_at":{"type":"string"},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["created_at","updated_at","last_fetched_at","metadata"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"googledocs"},"connectors.googledocs.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"googledocs"},"config":{"type":"object","properties":{"oauth":{"type":["object","null"],"properties":{"client_id":{"type":["string","null"]},"client_secret":{"type":["string","null"]},"scopes":{"type":["array","null"],"items":{"type":"string"}}},"description":"Base oauth configuration for the connector"}},"required":["oauth"]}},"required":["connector_name","config"],"title":"googledocs"},"connectors.googledrive.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"googledrive"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"access_token":{"type":"string"},"client_id":{"type":"string"},"scope":{"type":"string"},"refresh_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string"},"token_type":{"type":"string"},"raw":{"type":"object","additionalProperties":{}}},"required":["access_token","client_id","scope","raw"],"description":"Output of the postConnect hook for oauth2 connectors"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"last_fetched_at":{"type":"string"},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["created_at","updated_at","last_fetched_at","metadata"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"googledrive"},"connectors.googledrive.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"googledrive"},"config":{"type":"object","properties":{"oauth":{"type":["object","null"],"properties":{"client_id":{"type":["string","null"]},"client_secret":{"type":["string","null"]},"scopes":{"type":["array","null"],"items":{"type":"string"}}},"description":"Base oauth configuration for the connector"}},"required":["oauth"]}},"required":["connector_name","config"],"title":"googledrive"},"connectors.googlemail.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"googlemail"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"access_token":{"type":"string"},"client_id":{"type":"string"},"scope":{"type":"string"},"refresh_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string"},"token_type":{"type":"string"},"raw":{"type":"object","additionalProperties":{}}},"required":["access_token","client_id","scope","raw"],"description":"Output of the postConnect hook for oauth2 connectors"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"last_fetched_at":{"type":"string"},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["created_at","updated_at","last_fetched_at","metadata"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"googlemail"},"connectors.googlemail.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"googlemail"},"config":{"type":"object","properties":{"oauth":{"type":["object","null"],"properties":{"client_id":{"type":["string","null"]},"client_secret":{"type":["string","null"]},"scopes":{"type":["array","null"],"items":{"type":"string"}}},"description":"Base oauth configuration for the connector"}},"required":["oauth"]}},"required":["connector_name","config"],"title":"googlemail"},"connectors.googlesheet.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"googlesheet"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"access_token":{"type":"string"},"client_id":{"type":"string"},"scope":{"type":"string"},"refresh_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string"},"token_type":{"type":"string"},"raw":{"type":"object","additionalProperties":{}}},"required":["access_token","client_id","scope","raw"],"description":"Output of the postConnect hook for oauth2 connectors"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"last_fetched_at":{"type":"string"},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["created_at","updated_at","last_fetched_at","metadata"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"googlesheet"},"connectors.googlesheet.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"googlesheet"},"config":{"type":"object","properties":{"oauth":{"type":["object","null"],"properties":{"client_id":{"type":["string","null"]},"client_secret":{"type":["string","null"]},"scopes":{"type":["array","null"],"items":{"type":"string"}}},"description":"Base oauth configuration for the connector"}},"required":["oauth"]}},"required":["connector_name","config"],"title":"googlesheet"},"connectors.greenhouse.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"greenhouse"},"settings":{"type":"object","properties":{"apiKey":{"type":"string"}},"required":["apiKey"]}},"required":["connector_name","settings"],"title":"greenhouse"},"connectors.greenhouse.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"greenhouse"},"config":{"type":"null"}},"required":["connector_name","config"],"title":"greenhouse"},"connectors.heron.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"heron"},"settings":{"type":"null"}},"required":["connector_name","settings"],"title":"heron"},"connectors.heron.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"heron"},"config":{"type":"object","properties":{"apiKey":{"type":"string"}},"required":["apiKey"]}},"required":["connector_name","config"],"title":"heron"},"connectors.hubspot.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"hubspot"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"access_token":{"type":"string"},"client_id":{"type":"string"},"scope":{"type":"string"},"refresh_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string"},"token_type":{"type":"string"},"raw":{"type":"object","additionalProperties":{}}},"required":["access_token","client_id","scope","raw"],"description":"Output of the postConnect hook for oauth2 connectors"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"last_fetched_at":{"type":"string"},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["created_at","updated_at","last_fetched_at","metadata"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"hubspot"},"connectors.hubspot.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"hubspot"},"config":{"type":"object","properties":{"oauth":{"type":["object","null"],"properties":{"client_id":{"type":["string","null"]},"client_secret":{"type":["string","null"]},"scopes":{"type":["array","null"],"items":{"type":"string"}}},"description":"Base oauth configuration for the connector"}},"required":["oauth"]}},"required":["connector_name","config"],"title":"hubspot"},"connectors.instagram.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"instagram"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/AuthMode"},"api_key":{"type":["string","null"]},"access_token":{"type":"string"},"refresh_token":{"type":"string"},"expires_at":{"type":"string","format":"date-time"},"raw":{"type":"object","properties":{"access_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string","format":"date-time"},"refresh_token":{"type":["string","null"]},"refresh_token_expires_in":{"type":["number","null"]},"token_type":{"type":["string","null"]},"scope":{"type":"string"}},"required":["access_token"],"additionalProperties":true}},"required":["type","raw"]},"connection_config":{"type":["object","null"],"properties":{"portalId":{"type":["number","null"]},"instance_url":{"type":["string","null"]}},"additionalProperties":{}},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["credentials","metadata"]},"error":{"type":["object","null"],"properties":{"code":{"anyOf":[{"type":"string","enum":["refresh_token_external_error"]},{"type":"string"}]},"message":{"type":["string","null"]}},"required":["code"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"instagram"},"connectors.instagram.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"instagram"},"config":{"type":"object","properties":{"oauth":{"type":"object","properties":{"client_id":{"type":"string"},"client_secret":{"type":"string"},"scopes":{"type":"string"}},"required":["client_id","client_secret"]}},"required":["oauth"]}},"required":["connector_name","config"],"title":"instagram"},"connectors.intercom.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"intercom"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/AuthMode"},"api_key":{"type":["string","null"]},"access_token":{"type":"string"},"refresh_token":{"type":"string"},"expires_at":{"type":"string","format":"date-time"},"raw":{"type":"object","properties":{"access_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string","format":"date-time"},"refresh_token":{"type":["string","null"]},"refresh_token_expires_in":{"type":["number","null"]},"token_type":{"type":["string","null"]},"scope":{"type":"string"}},"required":["access_token"],"additionalProperties":true}},"required":["type","raw"]},"connection_config":{"type":["object","null"],"properties":{"portalId":{"type":["number","null"]},"instance_url":{"type":["string","null"]}},"additionalProperties":{}},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["credentials","metadata"]},"error":{"type":["object","null"],"properties":{"code":{"anyOf":[{"type":"string","enum":["refresh_token_external_error"]},{"type":"string"}]},"message":{"type":["string","null"]}},"required":["code"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"intercom"},"connectors.intercom.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"intercom"},"config":{"type":"object","properties":{"oauth":{"type":"object","properties":{"client_id":{"type":"string"},"client_secret":{"type":"string"},"scopes":{"type":"string"}},"required":["client_id","client_secret"]}},"required":["oauth"]}},"required":["connector_name","config"],"title":"intercom"},"connectors.jira.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"jira"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/AuthMode"},"api_key":{"type":["string","null"]},"access_token":{"type":"string"},"refresh_token":{"type":"string"},"expires_at":{"type":"string","format":"date-time"},"raw":{"type":"object","properties":{"access_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string","format":"date-time"},"refresh_token":{"type":["string","null"]},"refresh_token_expires_in":{"type":["number","null"]},"token_type":{"type":["string","null"]},"scope":{"type":"string"}},"required":["access_token"],"additionalProperties":true}},"required":["type","raw"]},"connection_config":{"type":["object","null"],"properties":{"portalId":{"type":["number","null"]},"instance_url":{"type":["string","null"]}},"additionalProperties":{}},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["credentials","metadata"]},"error":{"type":["object","null"],"properties":{"code":{"anyOf":[{"type":"string","enum":["refresh_token_external_error"]},{"type":"string"}]},"message":{"type":["string","null"]}},"required":["code"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"jira"},"connectors.jira.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"jira"},"config":{"type":"object","properties":{"oauth":{"type":"object","properties":{"client_id":{"type":"string"},"client_secret":{"type":"string"},"scopes":{"type":"string"}},"required":["client_id","client_secret"]}},"required":["oauth"]}},"required":["connector_name","config"],"title":"jira"},"connectors.kustomer.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"kustomer"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/AuthMode"},"api_key":{"type":["string","null"]},"access_token":{"type":"string"},"refresh_token":{"type":"string"},"expires_at":{"type":"string","format":"date-time"},"raw":{"type":"object","properties":{"access_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string","format":"date-time"},"refresh_token":{"type":["string","null"]},"refresh_token_expires_in":{"type":["number","null"]},"token_type":{"type":["string","null"]},"scope":{"type":"string"}},"required":["access_token"],"additionalProperties":true}},"required":["type","raw"]},"connection_config":{"type":["object","null"],"properties":{"portalId":{"type":["number","null"]},"instance_url":{"type":["string","null"]}},"additionalProperties":{}},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["credentials","metadata"]},"error":{"type":["object","null"],"properties":{"code":{"anyOf":[{"type":"string","enum":["refresh_token_external_error"]},{"type":"string"}]},"message":{"type":["string","null"]}},"required":["code"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"kustomer"},"connectors.kustomer.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"kustomer"},"config":{"type":"object","properties":{"oauth":{"type":"object","properties":{"client_id":{"type":"string"},"client_secret":{"type":"string"},"scopes":{"type":"string"}},"required":["client_id","client_secret"]}},"required":["oauth"]}},"required":["connector_name","config"],"title":"kustomer"},"connectors.lever.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"lever"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/AuthMode"},"api_key":{"type":["string","null"]},"access_token":{"type":"string"},"refresh_token":{"type":"string"},"expires_at":{"type":"string","format":"date-time"},"raw":{"type":"object","properties":{"access_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string","format":"date-time"},"refresh_token":{"type":["string","null"]},"refresh_token_expires_in":{"type":["number","null"]},"token_type":{"type":["string","null"]},"scope":{"type":"string"}},"required":["access_token"],"additionalProperties":true}},"required":["type","raw"]},"connection_config":{"type":["object","null"],"properties":{"portalId":{"type":["number","null"]},"instance_url":{"type":["string","null"]}},"additionalProperties":{}},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["credentials","metadata"]},"error":{"type":["object","null"],"properties":{"code":{"anyOf":[{"type":"string","enum":["refresh_token_external_error"]},{"type":"string"}]},"message":{"type":["string","null"]}},"required":["code"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"lever"},"connectors.lever.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"lever"},"config":{"type":"object","properties":{"oauth":{"type":"object","properties":{"client_id":{"type":"string"},"client_secret":{"type":"string"},"scopes":{"type":"string"}},"required":["client_id","client_secret"]},"envName":{"type":"string","enum":["sandbox","production"]}},"required":["oauth","envName"]}},"required":["connector_name","config"],"title":"lever"},"connectors.linear.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"linear"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"access_token":{"type":"string"},"client_id":{"type":"string"},"scope":{"type":"string"},"refresh_token":{"type":"string"},"expires_in":{"type":"number"},"expires_at":{"type":"string"},"token_type":{"type":"string"},"raw":{"type":"object","additionalProperties":{}}},"required":["access_token","client_id","scope","raw"],"description":"Output of the postConnect hook for oauth2 connectors"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"last_fetched_at":{"type":"string"},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["created_at","updated_at","last_fetched_at","metadata"]}},"required":["oauth"]}},"required":["connector_name","settings"],"title":"linear"},"connectors.linear.connectorConfig":{"type":"object","properties":{"connector_name":{"type":"string","const":"linear"},"config":{"type":"object","properties":{"oauth":{"type":["object","null"],"properties":{"client_id":{"type":["string","null"]},"client_secret":{"type":["string","null"]},"scopes":{"type":["array","null"],"items":{"type":"string"}}},"description":"Base oauth configuration for the connector"}},"required":["oauth"]}},"required":["connector_name","config"],"title":"linear"},"connectors.linkedin.connectionSettings":{"type":"object","properties":{"connector_name":{"type":"string","const":"linkedin"},"settings":{"type":"object","properties":{"oauth":{"type":"object","properties":{"credentials":{"type":"object","properties":{"access_token":{"type":"string"},"client_id":{"type":"string"},"scope":{"type":"string"
[...]
