{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenInt OpenAPI",
    "version": "0.0.0"
  },
  "servers": [
    {
      "url": "https://api.openint.dev/v0"
    }
  ],
  "paths": {
    "/connect/token": {
      "post": {
        "operationId": "createConnectToken",
        "summary": "Create connect token",
        "tags": ["Connect"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Anything that uniquely identifies the customer that you will be sending the magic link to"
                  },
                  "validityInSeconds": {
                    "type": "number",
                    "default": 2592000,
                    "description": "How long the magic link will be valid for (in seconds) before it expires"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": ["token"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/connect/magic-link": {
      "post": {
        "operationId": "createMagicLink",
        "summary": "Create magic link",
        "tags": ["Connect"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Anything that uniquely identifies the customer that you will be sending the magic link to"
                  },
                  "validityInSeconds": {
                    "type": "number",
                    "default": 2592000,
                    "description": "How long the magic link will be valid for (in seconds) before it expires"
                  },
                  "displayName": {
                    "type": ["string", "null"],
                    "description": "What to call user by"
                  },
                  "redirectUrl": {
                    "type": ["string", "null"],
                    "description": "Where to send user to after connect / if they press back button"
                  },
                  "connectorNames": {
                    "type": ["string", "null"],
                    "description": "Filter integrations by comma separated connector names"
                  },
                  "integrationIds": {
                    "type": ["string", "null"],
                    "description": "Filter integrations by comma separated integration ids"
                  },
                  "connectionId": {
                    "type": ["string", "null"],
                    "description": "Filter managed connections by connection id"
                  },
                  "theme": {
                    "type": ["string", "null"],
                    "enum": ["light", "dark"],
                    "description": "Magic Link display theme"
                  },
                  "view": {
                    "type": ["string", "null"],
                    "enum": [
                      "manage",
                      "manage-deeplink",
                      "add",
                      "add-deeplink"
                    ],
                    "description": "Magic Link tab view"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": ["url"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/connect/file-picker": {
      "post": {
        "operationId": "createFilePickerLink",
        "summary": "Create file picker link",
        "tags": ["Connect"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Anything that uniquely identifies the customer that you will be sending the magic link to"
                  },
                  "validityInSeconds": {
                    "type": "number",
                    "default": 2592000,
                    "description": "How long the magic link will be valid for (in seconds) before it expires"
                  },
                  "theme": {
                    "type": ["string", "null"],
                    "enum": ["light", "dark"]
                  },
                  "multiSelect": {
                    "type": ["boolean", "null"]
                  },
                  "folderSelect": {
                    "type": ["boolean", "null"]
                  },
                  "themeColors": {
                    "type": ["object", "null"],
                    "properties": {
                      "accent": {
                        "type": ["string", "null"]
                      },
                      "background": {
                        "type": ["string", "null"]
                      },
                      "border": {
                        "type": ["string", "null"]
                      },
                      "button": {
                        "type": ["string", "null"]
                      },
                      "buttonLight": {
                        "type": ["string", "null"]
                      },
                      "buttonForeground": {
                        "type": ["string", "null"]
                      },
                      "buttonHover": {
                        "type": ["string", "null"]
                      },
                      "buttonStroke": {
                        "type": ["string", "null"]
                      },
                      "buttonSecondary": {
                        "type": ["string", "null"]
                      },
                      "buttonSecondaryForeground": {
                        "type": ["string", "null"]
                      },
                      "buttonSecondaryStroke": {
                        "type": ["string", "null"]
                      },
                      "buttonSecondaryHover": {
                        "type": ["string", "null"]
                      },
                      "card": {
                        "type": ["string", "null"]
                      },
                      "cardForeground": {
                        "type": ["string", "null"]
                      },
                      "foreground": {
                        "type": ["string", "null"]
                      },
                      "navbar": {
                        "type": ["string", "null"]
                      },
                      "primary": {
                        "type": ["string", "null"]
                      },
                      "primaryForeground": {
                        "type": ["string", "null"]
                      },
                      "secondary": {
                        "type": ["string", "null"]
                      },
                      "secondaryForeground": {
                        "type": ["string", "null"]
                      },
                      "sidebar": {
                        "type": ["string", "null"]
                      },
                      "tab": {
                        "type": ["string", "null"]
                      }
                    }
                  },
                  "connectionId": {
                    "type": "string"
                  }
                },
                "required": ["connectionId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": ["url"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/core/customer/{id}": {
      "put": {
        "operationId": "upsertCustomer",
        "summary": "Upsert customer",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "orgId": {
                      "type": "string"
                    },
                    "metadata": {}
                  },
                  "required": ["id", "orgId"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/core/connection": {
      "post": {
        "operationId": "createConnection",
        "summary": "Create connection",
        "tags": ["Core"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "connectorConfigId": {
                    "type": "string",
                    "description": "Must start with 'ccfg_'"
                  },
                  "settings": {
                    "type": ["object", "null"],
                    "additionalProperties": {}
                  },
                  "displayName": {
                    "type": ["string", "null"]
                  },
                  "customerId": {
                    "type": ["string", "null"],
                    "minLength": 1
                  },
                  "disabled": {
                    "type": "boolean"
                  },
                  "metadata": {
                    "description": "\n  JSON object can can be used to associate arbitrary metadata to\n  avoid needing a separate 1-1 table just for simple key values in your application.\n  During updates this object will be shallowly merged\n"
                  },
                  "integrationId": {
                    "type": ["string", "null"],
                    "description": "Must start with 'int_'"
                  }
                },
                "required": ["connectorConfigId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listConnection",
        "summary": "List connections",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "customerId",
            "schema": {
              "type": ["string", "null"],
              "minLength": 1
            }
          },
          {
            "in": "query",
            "name": "connectorConfigId",
            "schema": {
              "type": ["string", "null"],
              "description": "Must start with 'ccfg_'"
            }
          },
          {
            "in": "query",
            "name": "connectorName",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "in": "query",
            "name": "forceRefresh",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "expand",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Connection"
                      }
                    ],
                    "type": "object",
                    "properties": {
                      "integration": {
                        "type": ["object", "null"],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Must start with 'int_'"
                          },
                          "name": {
                            "type": "string"
                          },
                          "logoUrl": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": ["id", "name", "logoUrl"]
                      },
                      "connector": {
                        "type": ["object", "null"],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Must start with 'ccfg_'"
                          },
                          "name": {
                            "type": "string"
                          },
                          "logoUrl": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": ["id", "name", "logoUrl"]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/core/connection/{id}": {
      "patch": {
        "operationId": "updateConnection",
        "summary": "Update connection",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Must start with 'conn_'"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "settings": {
                    "type": ["object", "null"],
                    "additionalProperties": {}
                  },
                  "displayName": {
                    "type": ["string", "null"]
                  },
                  "metadata": {
                    "description": "\n  JSON object can can be used to associate arbitrary metadata to\n  avoid needing a separate 1-1 table just for simple key values in your application.\n  During updates this object will be shallowly merged\n"
                  },
                  "disabled": {
                    "type": "boolean"
                  },
                  "customerId": {
                    "type": ["string", "null"],
                    "minLength": 1
                  },
                  "integrationId": {
                    "type": ["string", "null"],
                    "description": "Must start with 'int_'"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteConnection",
        "summary": "Delete connection",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Must start with 'conn_'"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "skipRevoke",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getConnection",
        "summary": "Get connection",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Must start with 'conn_'"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "forceRefresh",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "expand",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Connection"
                    }
                  ],
                  "type": "object",
                  "properties": {
                    "connector_config": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Must start with 'ccfg_'"
                        },
                        "orgId": {
                          "type": "string",
                          "description": "Must start with 'org_'"
                        },
                        "connectorName": {
                          "type": "string"
                        }
                      },
                      "required": ["id", "orgId", "connectorName"]
                    },
                    "integration": {
                      "type": ["object", "null"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Must start with 'int_'"
                        },
                        "name": {
                          "type": "string"
                        },
                        "logoUrl": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "required": ["id", "name", "logoUrl"]
                    },
                    "connector": {
                      "type": ["object", "null"],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Must start with 'ccfg_'"
                        },
                        "name": {
                          "type": "string"
                        },
                        "logoUrl": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "required": ["id", "name", "logoUrl"]
                    }
                  },
                  "required": ["connector_config"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/core/connection/{id}/_check": {
      "post": {
        "operationId": "checkConnection",
        "summary": "Check connection",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Must start with 'conn_'"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "skipCache": {
                    "type": ["boolean", "null"]
                  },
                  "import": {
                    "type": ["boolean", "null"]
                  },
                  "updateWebhook": {
                    "type": ["boolean", "null"]
                  },
                  "sandboxSimulateUpdate": {
                    "type": ["boolean", "null"]
                  },
                  "sandboxSimulateDisconnect": {
                    "type": ["boolean", "null"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/core/connection/{id}/_sync": {
      "post": {
        "operationId": "syncConnection",
        "summary": "Sync connection",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Must start with 'conn_'"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "async": {
                    "type": ["boolean", "null"],
                    "description": "Run sync in the background, not compatible with other options for now..."
                  },
                  "metaOnly": {
                    "type": ["boolean", "null"],
                    "description": "Only sync connection metadata and skip pipelines "
                  },
                  "fullResync": {
                    "type": ["boolean", "null"],
                    "description": "Remove `state` of pipeline and trigger a full resync"
                  },
                  "todo_upstreamRefresh": {
                    "type": ["boolean", "null"],
                    "description": "\n    Triggers provider to refresh data from its source\n    https://plaid.com/docs/api/products/transactions/#transactionsrefresh\n    This may also load historical transactions. For example,\n    Finicity treats historical transaction as premium service.\n  "
                  },
                  "todo_removeUnsyncedData": {
                    "type": ["boolean", "null"],
                    "description": "\n    See coda's implmementation. Requires adding a new message to the sync protocol\n    to remove all data from a particular source_id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connection_requested_event_id": {
                      "type": "string"
                    },
                    "pipeline_syncs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pipeline_id": {
                            "type": "string"
                          },
                          "sync_completed_event_id": {
                            "type": "string"
                          }
                        },
                        "required": ["pipeline_id", "sync_completed_event_id"]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/core/connector_config": {
      "get": {
        "operationId": "adminListConnectorConfigs",
        "summary": "Admin list connector configs",
        "tags": ["Core"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConnectorConfig"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "adminUpsertConnectorConfig",
        "summary": "Admin upsert connector config",
        "tags": ["Core"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Must start with 'ccfg_'"
                  },
                  "connectorName": {
                    "type": "string"
                  },
                  "orgId": {
                    "type": "string",
                    "description": "Must start with 'org_'"
                  },
                  "config": {
                    "type": ["object", "null"],
                    "additionalProperties": {}
                  },
                  "displayName": {
                    "type": ["string", "null"]
                  },
                  "defaultPipeOut": {
                    "type": ["object", "null"],
                    "properties": {
                      "streams": {
                        "type": ["object", "null"],
                        "additionalProperties": {
                          "type": "boolean"
                        }
                      },
                      "links": {
                        "type": ["array", "null"],
                        "items": {
                          "$ref": "#/components/schemas/Link"
                        },
                        "description": "Array of transformations that the data gets piped through on the way out. Typically used for things like unification / normalization."
                      },
                      "destination_id": {
                        "type": "string",
                        "description": "Defaults to the org-wide postgres"
                      }
                    },
                    "description": "Automatically sync data from any connections associated with this config to the destination connection, which is typically a Postgres database. Think ETL"
                  },
                  "defaultPipeIn": {
                    "type": ["object", "null"],
                    "properties": {
                      "links": {
                        "type": ["array", "null"],
                        "items": {
                          "$ref": "#/components/schemas/Link"
                        },
                        "description": "Array of transformations that the data gets piped through on the way out. Typically used for things like unification / normalization."
                      },
                      "source_id": {
                        "type": "string",
                        "description": "Must start with 'conn_'"
                      }
                    },
                    "required": ["source_id"],
                    "description": "Automatically sync data from any connections associated with this config to the destination connection, which is typically a Postgres database. Think ETL"
                  },
                  "disabled": {
                    "type": "boolean",
                    "title": "Disabled",
                    "description": "When disabled it will not be used for connection portal. Essentially a reversible soft-delete"
                  }
                },
                "required": ["orgId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorConfig"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/core/connector_config/{id}": {
      "patch": {
        "operationId": "adminUpdateConnectorConfig",
        "summary": "Admin update connector config",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Must start with 'ccfg_'"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "description": "\n  JSON object can can be used to associate arbitrary metadata to\n  avoid needing a separate 1-1 table just for simple key values in your application.\n  During updates this object will be shallowly merged\n"
                  },
                  "displayName": {
                    "type": ["string", "null"]
                  },
                  "disabled": {
                    "type": "boolean",
                    "title": "Disabled",
                    "description": "When disabled it will not be used for connection portal. Essentially a reversible soft-delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorConfig"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "adminDeleteConnectorConfig",
        "summary": "Admin delete connector config",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Must start with 'ccfg_'"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "adminGetConnectorConfig",
        "summary": "Admin get connector config",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Must start with 'ccfg_'"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorConfig"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/core/connector_config_info": {
      "get": {
        "operationId": "listConnectorConfigInfos",
        "summary": "List connector config infos",
        "description": "For customer authentication and list a limited set of non private data",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": ["string", "null"],
              "enum": ["source", "destination"]
            }
          },
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": ["string", "null"],
              "description": "Must start with 'ccfg_'"
            }
          },
          {
            "in": "query",
            "name": "connectorName",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Must start with 'ccfg_'"
                      },
                      "envName": {
                        "type": ["string", "null"]
                      },
                      "displayName": {
                        "type": ["string", "null"]
                      },
                      "connectorName": {
                        "type": "string"
                      },
                      "isSource": {
                        "type": "boolean"
                      },
                      "isDestination": {
                        "type": "boolean"
                      },
                      "verticals": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "banking",
                            "accounting",
                            "crm",
                            "sales-engagement",
                            "engagement",
                            "commerce",
                            "expense-management",
                            "enrichment",
                            "database",
                            "flat-files-and-spreadsheets",
                            "file-storage",
                            "streaming",
                            "personal-finance",
                            "other",
                            "hris",
                            "payroll",
                            "calendar",
                            "ats",
                            "email"
                          ]
                        }
                      },
                      "integrations": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "id",
                      "connectorName",
                      "isSource",
                      "isDestination",
                      "verticals",
                      "integrations"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/core/pipeline": {
      "get": {
        "operationId": "listPipelines",
        "summary": "List pipelines",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "connectionIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Must start with 'conn_'"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pipeline"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPipeline",
        "summary": "Create pipeline",
        "tags": ["Core"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Must start with 'pipe_'"
                  },
                  "metadata": {
                    "description": "\n  JSON object can can be used to associate arbitrary metadata to\n  avoid needing a separate 1-1 table just for simple key values in your application.\n  During updates this object will be shallowly merged\n"
                  },
                  "disabled": {
                    "type": "boolean"
                  },
                  "sourceId": {
                    "type": "string",
                    "description": "Must start with 'conn_'"
                  },
                  "streams": {
                    "type": ["object", "null"],
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "disabled": {
                          "type": "boolean"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "destinationId": {
                    "type": "string",
                    "description": "Must start with 'conn_'"
                  }
                },
                "required": ["id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/core/pipeline/{id}": {
      "patch": {
        "operationId": "updatePipeline",
        "summary": "Update pipeline",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Must start with 'pipe_'"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "description": "\n  JSON object can can be used to associate arbitrary metadata to\n  avoid needing a separate 1-1 table just for simple key values in your application.\n  During updates this object will be shallowly merged\n"
                  },
                  "disabled": {
                    "type": "boolean"
                  },
                  "streams": {
                    "type": ["object", "null"],
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "disabled": {
                          "type": "boolean"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePipeline",
        "summary": "Delete pipeline",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Must start with 'pipe_'"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "enum": [true]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/core/pipeline/{id}/_sync": {
      "post": {
        "operationId": "syncPipeline",
        "summary": "Sync pipeline",
        "tags": ["Core"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Must start with 'pipe_'"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "async": {
                    "type": ["boolean", "null"],
                    "description": "Run sync in the background, not compatible with other options for now..."
                  },
                  "metaOnly": {
                    "type": ["boolean", "null"],
                    "description": "Only sync connection metadata and skip pipelines "
                  },
                  "fullResync": {
                    "type": ["boolean", "null"],
                    "description": "Remove `state` of pipeline and trigger a full resync"
                  },
                  "todo_upstreamRefresh": {
                    "type": ["boolean", "null"],
                    "description": "\n    Triggers provider to refresh data from its source\n    https://plaid.com/docs/api/products/transactions/#transactionsrefresh\n    This may also load historical transactions. For example,\n    Finicity treats historical transaction as premium service.\n  "
                  },
                  "todo_removeUnsyncedData": {
                    "type": ["boolean", "null"],
                    "description": "\n    See coda's implmementation. Requires adding a new message to the sync protocol\n    to remove all data from a particular source_id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/core/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "tags": ["Connect"],
        "parameters": [
          {
            "in": "query",
            "name": "sync_mode",
            "schema": {
              "type": "string",
              "enum": ["full", "incremental"]
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "since",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "customerId",
            "schema": {
              "type": ["string", "null"],
              "minLength": 1
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_cursor": {
                      "type": ["string", "null"]
                    },
                    "has_next_page": {
                      "type": "boolean"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    }
                  },
                  "required": ["has_next_page", "items"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/unified/sales-engagement/contact": {
      "get": {
        "operationId": "salesEngagement-listContacts",
        "summary": "List Contacts",
        "tags": ["Sales Engagement"],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_cursor": {
                      "type": ["string", "null"]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/sales-engagement.contact"
                      }
                    }
                  },
                  "required": ["items"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/unified/sales-engagement/sequence": {
      "get": {
        "operationId": "salesEngagement-listSequences",
        "summary": "List Sequences",
        "tags": ["Sales Engagement"],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_cursor": {
                      "type": ["string", "null"]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/sales-engagement.sequence"
                      }
                    }
                  },
                  "required": ["items"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/unified/sales-engagement/sequence_state": {
      "get": {
        "operationId": "salesEngagement-listSequenceStates",
        "summary": "List Sequence States",
        "tags": ["Sales Engagement"],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_cursor": {
                      "type": ["string", "null"]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/sales-engagement.sequenceState"
                      }
                    }
                  },
                  "required": ["items"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "salesEngagement-insertSequenceState",
        "summary": "Insert Sequence State",
        "tags": ["Sales Engagement"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "type": "object",
                    "properties": {
                      "contact_id": {
                        "type": "string",
                        "example": "9f3e97fd-4d5d-4efc-959d-bbebfac079f5"
                      },
                      "mailbox_id": {
                        "type": "string",
                        "example": "ae4be028-9078-4850-a0bf-d2112b7c4d11"
                      },
                      "sequence_id": {
                        "type": "string",
                        "example": "b854e510-1c40-4ef6-ade4-8eb35f49d331"
                      },
                      "user_id": {
                        "type": ["string", "null"],
                        "example": "c590dc63-8e43-48a4-8154-1fbb00ac936b"
                      }
                    },
                    "required": ["contact_id", "mailbox_id", "sequence_id"]
                  }
                },
                "required": ["record"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "record": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": ["id"]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/unified/sales-engagement/user": {
      "get": {
        "operationId": "salesEngagement-listUsers",
        "summary": "List Users",
        "tags": ["Sales Engagement"],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_cursor": {
                      "type": ["string", "null"]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/sales-engagement.user"
                      }
                    }
                  },
                  "required": ["items"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/unified/sales-engagement/account": {
      "get": {
        "operationId": "salesEngagement-listAccounts",
        "summary": "List Accounts",
        "tags": ["Sales Engagement"],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_cursor": {
                      "type": ["string", "null"]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/sales-engagement.account"
                      }
                    }
                  },
                  "required": ["items"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/unified/sales-engagement/mailbox": {
      "get": {
        "operationId": "salesEngagement-listMailboxes",
        "summary": "List Mailboxes",
        "tags": ["Sales Engagement"],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": ["string", "null"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_cursor": {
                      "type": ["string", "null"]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/sales-engagement.mailbox"
                      }
                    }
                  },
                  "required": ["items"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/unified/sales-engagement/account/_upsert": {
      "post": {
        "operationId": "salesEngagement-upsertAccount",
        "summary": "Upsert Account",
        "tags": ["Sales Engagement"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": ["string", "null"],
                        "example": "My Company"
                      },
                      "domain": {
                        "type": ["string", "null"],
                        "example": "mycompany.com"
                      },
                      "owner_id": {
                        "type": ["string", "null"],
                        "example": "9f3e97fd-4d5d-4efc-959d-bbebfac079f5"
                      },
                      "account_id": {
                        "type": ["string", "null"],
                        "example": "ae4be028-9078-4850-a0bf-d2112b7c4d11"
                      },
                      "custom_fields": {
                        "type": ["object", "null"],
                        "additionalProperties": {}
                      }
                    }
                  },
                  "upsert_on": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the account to upsert on. Supported for Outreach, Salesloft, and Apollo."
                      },
                      "domain": {
                        "type": "string",
                        "description": "The domain of the account to upsert on. Only supported for Outreach and Salesloft."
                      }
                    }
                  }
                },
                "required": ["record", "upsert_on"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "record": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": ["id"]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/unified/sales-engagement/contact/_upsert": {
      "post": {
        "operationId": "salesEngagement-upsertContact",
        "summary": "Upsert Contact",
        "tags": ["Sales Engagement"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": ["string", "null"],
                        "example": "James"
                      },
                      "last_name": {
                        "type": ["string", "null"],
                        "example": "Smith"
                      },
                      "job_title": {
                        "type": ["string", "null"],
                        "example": "CEO"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": ["string", "null"]
                          },
                          "country": {
                            "type": ["string", "null"]
                          },
                          "postal_code": {
                            "type": ["string", "null"]
                          },
                          "state": {
                            "type": ["string", "null"]
                          },
                          "street_1": {
                            "type": ["string", "null"]
                          },
                          "street_2": {
                            "type": ["string", "null"]
                          }
                        },
                        "example": {
                          "city": "San Francisco",
                          "country": "US",
                          "postal_code": "94107",
                          "state": "CA",
                          "street_1": "525 Brannan",
                          "street_2": null
                        }
                      },
                      "email_addresses": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "email_address": {
                              "type": "string"
                            },
                            "email_address_type": {
                              "type": ["string", "null"],
                              "enum": ["primary", "personal", "work"]
                            }
                          },
                          "required": ["email_address"]
                        },
                        "example": [
                          {
                            "email_address": "hello@revtron.ai",
                            "email_address_type": "work"
                          }
                        ]
                      },
                      "phone_numbers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "phone_number": {
                              "type": "string"
                            },
                            "phone_number_type": {
                              "type": "string",
                              "enum": [
                                "primary",
                                "work",
                                "home",
                                "mobile",
                                "other"
                              ]
                            }
                          },
                          "required": ["phone_number", "phone_number_type"]
                        },
                        "example": [
                          {
                            "phone_number": "+14151234567",
                            "phone_number_type": "work"
                          }
                        ]
                      },
                      "owner_id": {
                        "type": ["string", "null"],
                        "example": "9f3e97fd-4d5d-4efc-959d-bbebfac079f5"
                      },
                      "account_id": {
                        "type": ["string", "null"],
                        "example": "ae4be028-9078-4850-a0bf-d2112b7c4d11"
                      },
                      "custom_fields": {
                        "type": ["object", "null"],
                        "additionalProperties": {}
                      }
                    },
                    "required": ["address", "email_addresses", "phone_numbers"]
                  },
                  "upsert_on": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "Contact email to upsert on. Supported for Outreach, Salesloft, and Apollo."
                      }
                    }
                  }
                },
                "required": ["record", "upsert_on"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "record": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": ["id"]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/unified/crm/{entity}/_count": {
      "get": {
        "operationId": "crm-countEntity",
        "summary": "Count Entities",
        "tags": ["CRM"],
        "parameters": [
          {
            "in": "path",
            "name": "entity",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": ["count"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/unified/crm/account": {
      "get": {
        "operationId": "crm-listAccounts",
        "summary": "List Accounts",
        "tags": ["CRM"],
        "parameters": [
          {
            "in": "query",
            "name": "sync_mode",
            "schema": {
              "type": "string",
              "enum": ["full", "incremental"]
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": ["string", "null"]
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_cursor": {
                      "type": ["string", "null"]
                    },
                    "has_next_page": {
                      "type": "boolean"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/crm.account"
                      }
                    }
                  },
                  "required": ["has_next_page", "items"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "crm-createAccount",
        "summary": "Create account",
        "tags": ["CRM"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/crm.account_input"
                  }
                },
                "required": ["record"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "record": {
                      "$ref": "#/components/schemas/crm.account"
                    }
                  },
                  "required": ["record"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/unified/crm/account/{id}": {
      "get": {
        "operationId": "crm-getAccount",
        "summary": "Get Account",
        "tags": ["CRM"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "record": {
                      "$ref": "#/components/schemas/crm.account"
                    },
                    "raw": {}
                  },
                  "required": ["record"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "crm-updateAccount",
        "summary": "Update account",
        "tags": ["CRM"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/crm.account_input"
                  }
                },
                "required": ["record"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "record": {
                      "$ref": "#/components/schemas/crm.account"
                    }
                  },
                  "required": ["record"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/unified/crm/account/_batch_read": {
      "post": {
        "operationId": "crm-batchReadAccounts",
        "summary": "Batch read accounts",
        "tags": ["CRM"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "properties": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": ["ids", "properties"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/crm.account"
[...]
