openapi: 3.1.0
info:
  title: OpenInt
  version: 1.0.0
servers:
  - url: https://api.openint.dev/v1
paths:
  /connection/{id}:
    get:
      operationId: getConnection
      summary: Get Connection & Credentials
      description: Get details of a specific connection, including credentials
      security:
        - ApiKey: []
        - CustomerToken: []
      parameters:
        - in: path
          name: id
          description: The id of the connection, starts with `conn_`
          schema:
            type: string
            pattern: ^conn_
            description: The id of the connection, starts with `conn_`
          required: true
        - in: query
          name: include_secrets
          description: 'Controls secret inclusion: none (default), basic (auth only), or all secrets'
          schema:
            type: string
            enum:
              - none
              - basic
              - all
            description: 'Controls secret inclusion: none (default), basic (auth only), or all secrets'
            default: none
        - in: query
          name: refresh_policy
          description: 'Controls credential refresh: none (never), force (always), or auto (when expired, default)'
          schema:
            type: string
            enum:
              - none
              - force
              - auto
            description: 'Controls credential refresh: none (never), force (always), or auto (when expired, default)'
            default: auto
        - in: query
          name: expand
          schema:
            type: array
            items:
              type: string
              enum:
                - connector
                - enabled_integrations
              description: 'Fields to expand: connector (includes connector details), enabled_integrations (includes enabled integrations details)'
            default: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/core.connection'
                description: The connection details
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
  /connection:
    get:
      operationId: listConnections
      summary: List Connections
      description: List all connections with optional filtering
      security:
        - ApiKey: []
        - CustomerToken: []
      parameters:
        - in: query
          name: limit
          description: Limit the number of items returned
          schema:
            type: integer
            minimum: 0
            maximum: 100
            default: 50
            description: Limit the number of items returned
        - in: query
          name: offset
          description: Offset the items returned
          schema:
            type: integer
            minimum: 0
            default: 0
            description: Offset the items returned
        - in: query
          name: connector_name
          description: The name of the connector
          schema:
            type: string
            enum:
              - aircall
              - airtable
              - apollo
              - beancount
              - brex
              - coda
              - confluence
              - discord
              - finch
              - firebase
              - foreceipt
              - github
              - gong
              - google
              - greenhouse
              - heron
              - hubspot
              - intercom
              - jira
              - kustomer
              - lever
              - linear
              - lunchmoney
              - merge
              - microsoft
              - moota
              - onebrick
              - outreach
              - pipedrive
              - plaid
              - qbo
              - ramp
              - salesforce
              - salesloft
              - saltedge
              - slack
              - splitwise
              - stripe
              - teller
              - toggl
              - twenty
              - wise
              - xero
              - yodlee
              - zohodesk
              - googledrive
            description: The name of the connector
        - in: query
          name: customer_id
          description: The id of the customer in your application. Ensure it is unique for that customer.
          schema:
            type: string
            description: The id of the customer in your application. Ensure it is unique for that customer.
        - in: query
          name: connector_config_id
          description: The id of the connector config, starts with `ccfg_`
          schema:
            type: string
            pattern: ^ccfg_
            description: The id of the connector config, starts with `ccfg_`
        - in: query
          name: include_secrets
          description: 'Controls secret inclusion: none (default), basic (auth only), or all secrets'
          schema:
            type: string
            enum:
              - none
              - basic
              - all
            description: 'Controls secret inclusion: none (default), basic (auth only), or all secrets'
            default: none
        - in: query
          name: expand
          schema:
            type: array
            items:
              type: string
              enum:
                - connector
                - enabled_integrations
              description: 'Fields to expand: connector (includes connector details), enabled_integrations (includes enabled integrations details)'
            default: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/core.connection'
                  total:
                    type: integer
                    minimum: 0
                    description: Total number of items in the database for the organization
                  limit:
                    type: integer
                    minimum: 0
                    maximum: 100
                    default: 50
                    description: Limit the number of items returned
                  offset:
                    type: integer
                    minimum: 0
                    default: 0
                    description: Offset the items returned
                required:
                  - items
                  - total
                  - limit
                  - offset
                description: The list of connections
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
  /connection/{id}/check:
    post:
      operationId: checkConnection
      summary: Check Connection Health
      description: Verify that a connection is healthy
      security:
        - ApiKey: []
        - CustomerToken: []
      parameters:
        - in: path
          name: id
          description: The id of the connection, starts with `conn_`
          schema:
            type: string
            pattern: ^conn_
            description: The id of the connection, starts with `conn_`
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    pattern: ^conn_
                    description: The id of the connection, starts with `conn_`
                  status:
                    type: string
                    enum:
                      - healthy
                      - disconnected
                      - error
                      - manual
                    description: 'Connection status: healthy (all well), disconnected (needs reconnection), error (system issue), manual (import connection)'
                  error:
                    type: string
                    enum:
                      - refresh_failed
                      - unknown_external_error
                    description: 'Error types: refresh_failed and unknown_external_error'
                  errorMessage:
                    type: string
                    description: Optional expanded error message
                required:
                  - id
                  - status
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
  /connector-config:
    get:
      operationId: listConnectorConfigs
      summary: List Connector Configurations
      description: List all connector configurations
      security:
        - ApiKey: []
        - CustomerToken: []
      parameters:
        - in: query
          name: limit
          description: Limit the number of items returned
          schema:
            type: integer
            minimum: 0
            maximum: 100
            default: 50
            description: Limit the number of items returned
        - in: query
          name: offset
          description: Offset the items returned
          schema:
            type: integer
            minimum: 0
            default: 0
            description: Offset the items returned
        - in: query
          name: expand
          description: |-
            Comma separated list of fields to expand.

            Available Options: `connector`, `enabled_integrations`
          schema:
            type: string
            description: |-
              Comma separated list of fields to expand.

              Available Options: `connector`, `enabled_integrations`
        - in: query
          name: connector_name
          description: The name of the connector
          schema:
            type: string
            enum:
              - aircall
              - airtable
              - apollo
              - beancount
              - brex
              - coda
              - confluence
              - discord
              - finch
              - firebase
              - foreceipt
              - github
              - gong
              - google
              - greenhouse
              - heron
              - hubspot
              - intercom
              - jira
              - kustomer
              - lever
              - linear
              - lunchmoney
              - merge
              - microsoft
              - moota
              - onebrick
              - outreach
              - pipedrive
              - plaid
              - qbo
              - ramp
              - salesforce
              - salesloft
              - saltedge
              - slack
              - splitwise
              - stripe
              - teller
              - toggl
              - twenty
              - wise
              - xero
              - yodlee
              - zohodesk
              - googledrive
            description: The name of the connector
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      allOf:
                        - type: object
                          properties:
                            id:
                              type: string
                            updated_at:
                              type: string
                            created_at:
                              type: string
                            org_id:
                              type: string
                          required:
                            - id
                            - updated_at
                            - created_at
                            - org_id
                          description: Connector Config Base
                        - oneOf:
                            - $ref: '#/components/schemas/connectors.aircall.connectorConfig'
                            - $ref: '#/components/schemas/connectors.airtable.connectorConfig'
                            - $ref: '#/components/schemas/connectors.apollo.connectorConfig'
                            - $ref: '#/components/schemas/connectors.beancount.connectorConfig'
                            - $ref: '#/components/schemas/connectors.brex.connectorConfig'
                            - $ref: '#/components/schemas/connectors.coda.connectorConfig'
                            - $ref: '#/components/schemas/connectors.confluence.connectorConfig'
                            - $ref: '#/components/schemas/connectors.discord.connectorConfig'
                            - $ref: '#/components/schemas/connectors.finch.connectorConfig'
                            - $ref: '#/components/schemas/connectors.firebase.connectorConfig'
                            - $ref: '#/components/schemas/connectors.foreceipt.connectorConfig'
                            - $ref: '#/components/schemas/connectors.github.connectorConfig'
                            - $ref: '#/components/schemas/connectors.gong.connectorConfig'
                            - $ref: '#/components/schemas/connectors.google.connectorConfig'
                            - $ref: '#/components/schemas/connectors.greenhouse.connectorConfig'
                            - $ref: '#/components/schemas/connectors.heron.connectorConfig'
                            - $ref: '#/components/schemas/connectors.hubspot.connectorConfig'
                            - $ref: '#/components/schemas/connectors.intercom.connectorConfig'
                            - $ref: '#/components/schemas/connectors.jira.connectorConfig'
                            - $ref: '#/components/schemas/connectors.kustomer.connectorConfig'
                            - $ref: '#/components/schemas/connectors.lever.connectorConfig'
                            - $ref: '#/components/schemas/connectors.linear.connectorConfig'
                            - $ref: '#/components/schemas/connectors.lunchmoney.connectorConfig'
                            - $ref: '#/components/schemas/connectors.mercury.connectorConfig'
                            - $ref: '#/components/schemas/connectors.merge.connectorConfig'
                            - $ref: '#/components/schemas/connectors.microsoft.connectorConfig'
                            - $ref: '#/components/schemas/connectors.moota.connectorConfig'
                            - $ref: '#/components/schemas/connectors.onebrick.connectorConfig'
                            - $ref: '#/components/schemas/connectors.outreach.connectorConfig'
                            - $ref: '#/components/schemas/connectors.pipedrive.connectorConfig'
                            - $ref: '#/components/schemas/connectors.plaid.connectorConfig'
                            - $ref: '#/components/schemas/connectors.postgres.connectorConfig'
                            - $ref: '#/components/schemas/connectors.qbo.connectorConfig'
                            - $ref: '#/components/schemas/connectors.ramp.connectorConfig'
                            - $ref: '#/components/schemas/connectors.salesforce.connectorConfig'
                            - $ref: '#/components/schemas/connectors.salesloft.connectorConfig'
                            - $ref: '#/components/schemas/connectors.saltedge.connectorConfig'
                            - $ref: '#/components/schemas/connectors.slack.connectorConfig'
                            - $ref: '#/components/schemas/connectors.splitwise.connectorConfig'
                            - $ref: '#/components/schemas/connectors.stripe.connectorConfig'
                            - $ref: '#/components/schemas/connectors.teller.connectorConfig'
                            - $ref: '#/components/schemas/connectors.toggl.connectorConfig'
                            - $ref: '#/components/schemas/connectors.twenty.connectorConfig'
                            - $ref: '#/components/schemas/connectors.venmo.connectorConfig'
                            - $ref: '#/components/schemas/connectors.wise.connectorConfig'
                            - $ref: '#/components/schemas/connectors.xero.connectorConfig'
                            - $ref: '#/components/schemas/connectors.yodlee.connectorConfig'
                            - $ref: '#/components/schemas/connectors.zohodesk.connectorConfig'
                            - $ref: '#/components/schemas/connectors.googledrive.connectorConfig'
                          discriminator:
                            propertyName: connector_name
                            mapping:
                              aircall: '#/components/schemas/connectors.aircall.connectorConfig'
                              airtable: '#/components/schemas/connectors.airtable.connectorConfig'
                              apollo: '#/components/schemas/connectors.apollo.connectorConfig'
                              beancount: '#/components/schemas/connectors.beancount.connectorConfig'
                              brex: '#/components/schemas/connectors.brex.connectorConfig'
                              coda: '#/components/schemas/connectors.coda.connectorConfig'
                              confluence: '#/components/schemas/connectors.confluence.connectorConfig'
                              discord: '#/components/schemas/connectors.discord.connectorConfig'
                              finch: '#/components/schemas/connectors.finch.connectorConfig'
                              firebase: '#/components/schemas/connectors.firebase.connectorConfig'
                              foreceipt: '#/components/schemas/connectors.foreceipt.connectorConfig'
                              github: '#/components/schemas/connectors.github.connectorConfig'
                              gong: '#/components/schemas/connectors.gong.connectorConfig'
                              google: '#/components/schemas/connectors.google.connectorConfig'
                              greenhouse: '#/components/schemas/connectors.greenhouse.connectorConfig'
                              heron: '#/components/schemas/connectors.heron.connectorConfig'
                              hubspot: '#/components/schemas/connectors.hubspot.connectorConfig'
                              intercom: '#/components/schemas/connectors.intercom.connectorConfig'
                              jira: '#/components/schemas/connectors.jira.connectorConfig'
                              kustomer: '#/components/schemas/connectors.kustomer.connectorConfig'
                              lever: '#/components/schemas/connectors.lever.connectorConfig'
                              linear: '#/components/schemas/connectors.linear.connectorConfig'
                              lunchmoney: '#/components/schemas/connectors.lunchmoney.connectorConfig'
                              mercury: '#/components/schemas/connectors.mercury.connectorConfig'
                              merge: '#/components/schemas/connectors.merge.connectorConfig'
                              microsoft: '#/components/schemas/connectors.microsoft.connectorConfig'
                              moota: '#/components/schemas/connectors.moota.connectorConfig'
                              onebrick: '#/components/schemas/connectors.onebrick.connectorConfig'
                              outreach: '#/components/schemas/connectors.outreach.connectorConfig'
                              pipedrive: '#/components/schemas/connectors.pipedrive.connectorConfig'
                              plaid: '#/components/schemas/connectors.plaid.connectorConfig'
                              postgres: '#/components/schemas/connectors.postgres.connectorConfig'
                              qbo: '#/components/schemas/connectors.qbo.connectorConfig'
                              ramp: '#/components/schemas/connectors.ramp.connectorConfig'
                              salesforce: '#/components/schemas/connectors.salesforce.connectorConfig'
                              salesloft: '#/components/schemas/connectors.salesloft.connectorConfig'
                              saltedge: '#/components/schemas/connectors.saltedge.connectorConfig'
                              slack: '#/components/schemas/connectors.slack.connectorConfig'
                              splitwise: '#/components/schemas/connectors.splitwise.connectorConfig'
                              stripe: '#/components/schemas/connectors.stripe.connectorConfig'
                              teller: '#/components/schemas/connectors.teller.connectorConfig'
                              toggl: '#/components/schemas/connectors.toggl.connectorConfig'
                              twenty: '#/components/schemas/connectors.twenty.connectorConfig'
                              venmo: '#/components/schemas/connectors.venmo.connectorConfig'
                              wise: '#/components/schemas/connectors.wise.connectorConfig'
                              xero: '#/components/schemas/connectors.xero.connectorConfig'
                              yodlee: '#/components/schemas/connectors.yodlee.connectorConfig'
                              zohodesk: '#/components/schemas/connectors.zohodesk.connectorConfig'
                              googledrive: '#/components/schemas/connectors.googledrive.connectorConfig'
                          description: Connector specific data
                        - type: object
                          properties:
                            connector:
                              $ref: '#/components/schemas/core.connector'
                            integrations:
                              type: object
                              additionalProperties:
                                $ref: '#/components/schemas/core.integration'
                  total:
                    type: integer
                    minimum: 0
                    description: Total number of items in the database for the organization
                  limit:
                    type: integer
                    minimum: 0
                    maximum: 100
                    default: 50
                    description: Limit the number of items returned
                  offset:
                    type: integer
                    minimum: 0
                    default: 0
                    description: Offset the items returned
                required:
                  - items
                  - total
                  - limit
                  - offset
                description: The list of connector configurations
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
  /connector:
    get:
      operationId: listConnectors
      summary: List all connectors
      description: List all connectors with optional filtering
      security:
        - ApiKey: []
        - CustomerToken: []
      parameters:
        - in: query
          name: expand
          schema:
            type: array
            items:
              type: string
              enum:
                - integrations
              description: Fields to expand connector with its integrations
            default: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/core.connector'
                  properties:
                    integrations:
                      type: array
                      items:
                        $ref: '#/components/schemas/core.integration'
                description: List of connectors with selected fields
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
  /customer/{customer_id}/magic-link:
    post:
      operationId: createMagicLink
      summary: Create Magic Link
      description: Create a magic link for connecting integrations
      security:
        - ApiKey: []
        - CustomerToken: []
      parameters:
        - in: path
          name: customer_id
          description: The id of the customer in your application. Ensure it is unique for that customer.
          schema:
            type: string
            description: The id of the customer in your application. Ensure it is unique for that customer.
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                validity_in_seconds:
                  type: number
                  default: 2592000
                  description: How long the magic link will be valid for (in seconds) before it expires
                redirect_url:
                  type: string
                  description: Where to send user to after connect / if they press back button
                connector_names:
                  type: array
                  items:
                    type: string
                    enum:
                      - aircall
                      - airtable
                      - apollo
                      - beancount
                      - brex
                      - coda
                      - confluence
                      - discord
                      - finch
                      - firebase
                      - foreceipt
                      - github
                      - gong
                      - google
                      - greenhouse
                      - heron
                      - hubspot
                      - intercom
                      - jira
                      - kustomer
                      - lever
                      - linear
                      - lunchmoney
                      - merge
                      - microsoft
                      - moota
                      - onebrick
                      - outreach
                      - pipedrive
                      - plaid
                      - qbo
                      - ramp
                      - salesforce
                      - salesloft
                      - saltedge
                      - slack
                      - splitwise
                      - stripe
                      - teller
                      - toggl
                      - twenty
                      - wise
                      - xero
                      - yodlee
                      - zohodesk
                      - googledrive
                    description: ''
                  default: []
                  description: Filter integrations by connector names
                connection_id:
                  type: string
                  pattern: ^conn_
                  description: The specific connection id to load
                theme:
                  type: string
                  enum:
                    - light
                    - dark
                  default: light
                  description: Magic Link display theme
                view:
                  type: string
                  enum:
                    - manage
                    - manage-deeplink
                    - add
                    - add-deeplink
                  default: add
                  description: Magic Link tab view to load in the connect magic link
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  magic_link_url:
                    type: string
                    description: The Connect magic link url to share with the user.
                required:
                  - magic_link_url
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
  /customer/{customer_id}/token:
    post:
      operationId: createToken
      summary: Create Customer Authentication Token
      description: Create an authentication token for a customer
      security:
        - ApiKey: []
        - CustomerToken: []
      parameters:
        - in: path
          name: customer_id
          description: The id of the customer in your application. Ensure it is unique for that customer.
          schema:
            type: string
            description: The id of the customer in your application. Ensure it is unique for that customer.
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                validity_in_seconds:
                  type: number
                  exclusiveMinimum: 0
                  default: 2592000
                  description: How long the token will be valid for (in seconds) before it expires
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: The authentication token to use for API requests
                required:
                  - token
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
components:
  securitySchemes:
    ApiKey:
      type: http
      scheme: bearer
      description: 'Organization API key generated in the OpenInt Console and passed in the `authorization` header with format: `Bearer {apiKey}`'
    CustomerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Customer authentication token created using the create customer token API and passed in the `authorization` header with format: `Bearer {token}`'
  schemas:
    AuthMode:
      type: string
      enum:
        - OAUTH2
        - OAUTH1
        - BASIC
        - API_KEY
      title: AuthMode
    connectors.aircall.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: aircall
        settings:
          type: object
          properties:
            apiId:
              type: string
            apiToken:
              type: string
          required:
            - apiId
            - apiToken
      required:
        - connector_name
        - settings
      title: aircall
    connectors.aircall.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: aircall
        config:
          type: 'null'
      required:
        - connector_name
        - config
      title: aircall
    connectors.airtable.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: airtable
        settings:
          type: object
          properties:
            apiKey:
              type: string
            airtableBase:
              type: string
          required:
            - apiKey
            - airtableBase
      required:
        - connector_name
        - settings
      title: airtable
    connectors.airtable.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: airtable
        config:
          type: 'null'
      required:
        - connector_name
        - config
      title: airtable
    connectors.apollo.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: apollo
        settings:
          type: object
          properties:
            oauth:
              type: object
              properties:
                credentials:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/AuthMode'
                    api_key:
                      type:
                        - string
                        - 'null'
                    access_token:
                      type: string
                    refresh_token:
                      type: string
                    expires_at:
                      type: string
                      format: date-time
                    raw:
                      type: object
                      properties:
                        access_token:
                          type: string
                        expires_in:
                          type: number
                        expires_at:
                          type: string
                          format: date-time
                        refresh_token:
                          type:
                            - string
                            - 'null'
                        refresh_token_expires_in:
                          type:
                            - number
                            - 'null'
                        token_type:
                          type: string
                        scope:
                          type: string
                      required:
                        - access_token
                        - token_type
                  required:
                    - type
                    - raw
                connection_config:
                  type:
                    - object
                    - 'null'
                  properties:
                    portalId:
                      type:
                        - number
                        - 'null'
                    instance_url:
                      type:
                        - string
                        - 'null'
                  additionalProperties: {}
                metadata:
                  type:
                    - object
                    - 'null'
                  additionalProperties: {}
              required:
                - credentials
                - metadata
            error:
              type:
                - object
                - 'null'
              properties:
                code:
                  anyOf:
                    - type: string
                      enum:
                        - refresh_token_external_error
                    - type: string
                message:
                  type:
                    - string
                    - 'null'
              required:
                - code
          required:
            - oauth
      required:
        - connector_name
        - settings
      title: apollo
    connectors.apollo.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: apollo
        config:
          type: 'null'
      required:
        - connector_name
        - config
      title: apollo
    connectors.beancount.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: beancount
        settings:
          type: 'null'
      required:
        - connector_name
        - settings
      title: beancount
    connectors.beancount.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: beancount
        config:
          type: 'null'
      required:
        - connector_name
        - config
      title: beancount
    connectors.brex.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: brex
        settings:
          type: object
          properties:
            accessToken:
              type: string
          required:
            - accessToken
      required:
        - connector_name
        - settings
      title: brex
    connectors.brex.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: brex
        config:
          type: object
          properties:
            oauth:
              anyOf:
                - type: 'null'
                  description: No oauth
                - type: object
                  properties:
                    clientId:
                      type: string
                    clientSecret:
                      type: string
                  required:
                    - clientId
                    - clientSecret
                  description: Configure oauth
              description: Oauth support
            apikeyAuth:
              type: boolean
              description: API key auth support
      required:
        - connector_name
        - config
      title: brex
    connectors.coda.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: coda
        settings:
          type: object
          properties:
            apiKey:
              type: string
          required:
            - apiKey
      required:
        - connector_name
        - settings
      title: coda
    connectors.coda.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: coda
        config:
          type: 'null'
      required:
        - connector_name
        - config
      title: coda
    connectors.confluence.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: confluence
        settings:
          type: object
          properties:
            oauth:
              type: object
              properties:
                credentials:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/AuthMode'
                    api_key:
                      type:
                        - string
                        - 'null'
                    access_token:
                      type: string
                    refresh_token:
                      type: string
                    expires_at:
                      type: string
                      format: date-time
                    raw:
                      type: object
                      properties:
                        access_token:
                          type: string
                        expires_in:
                          type: number
                        expires_at:
                          type: string
                          format: date-time
                        refresh_token:
                          type:
                            - string
                            - 'null'
                        refresh_token_expires_in:
                          type:
                            - number
                            - 'null'
                        token_type:
                          type: string
                        scope:
                          type: string
                      required:
                        - access_token
                        - token_type
                  required:
                    - type
                    - raw
                connection_config:
                  type:
                    - object
                    - 'null'
                  properties:
                    portalId:
                      type:
                        - number
                        - 'null'
                    instance_url:
                      type:
                        - string
                        - 'null'
                  additionalProperties: {}
                metadata:
                  type:
                    - object
                    - 'null'
                  additionalProperties: {}
              required:
                - credentials
                - metadata
            error:
              type:
                - object
                - 'null'
              properties:
                code:
                  anyOf:
                    - type: string
                      enum:
                        - refresh_token_external_error
                    - type: string
                message:
                  type:
                    - string
                    - 'null'
              required:
                - code
          required:
            - oauth
      required:
        - connector_name
        - settings
      title: confluence
    connectors.confluence.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: confluence
        config:
          type: object
          properties:
            oauth:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                scopes:
                  type: string
              required:
                - client_id
                - client_secret
          required:
            - oauth
      required:
        - connector_name
        - config
      title: confluence
    connectors.discord.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: discord
        settings:
          type: object
          properties:
            oauth:
              type: object
              properties:
                credentials:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/AuthMode'
                    api_key:
                      type:
                        - string
                        - 'null'
                    access_token:
                      type: string
                    refresh_token:
                      type: string
                    expires_at:
                      type: string
                      format: date-time
                    raw:
                      type: object
                      properties:
                        access_token:
                          type: string
                        expires_in:
                          type: number
                        expires_at:
                          type: string
                          format: date-time
                        refresh_token:
                          type:
                            - string
                            - 'null'
                        refresh_token_expires_in:
                          type:
                            - number
                            - 'null'
                        token_type:
                          type: string
                        scope:
                          type: string
                      required:
                        - access_token
                        - token_type
                  required:
                    - type
                    - raw
                connection_config:
                  type:
                    - object
                    - 'null'
                  properties:
                    portalId:
                      type:
                        - number
                        - 'null'
                    instance_url:
                      type:
                        - string
                        - 'null'
                  additionalProperties: {}
                metadata:
                  type:
                    - object
                    - 'null'
                  additionalProperties: {}
              required:
                - credentials
                - metadata
            error:
              type:
                - object
                - 'null'
              properties:
                code:
                  anyOf:
                    - type: string
                      enum:
                        - refresh_token_external_error
                    - type: string
                message:
                  type:
                    - string
                    - 'null'
              required:
                - code
          required:
            - oauth
      required:
        - connector_name
        - settings
      title: discord
    connectors.discord.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: discord
        config:
          type: object
          properties:
            oauth:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                scopes:
                  type: string
              required:
                - client_id
                - client_secret
          required:
            - oauth
      required:
        - connector_name
        - config
      title: discord
    connectors.finch.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: finch
        settings:
          type: object
          properties:
            access_token:
              type: string
          required:
            - access_token
      required:
        - connector_name
        - settings
      title: finch
    connectors.finch.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: finch
        config:
          type: object
          properties:
            client_id:
              type: string
            client_secret:
              type: string
            api_version:
              type: string
              description: Finch API version
            products:
              type: array
              items:
                type: string
                enum:
                  - company
                  - directory
                  - individual
                  - ssn
                  - employment
                  - payment
                  - pay_statement
                  - benefits
              description: Finch products to access, @see https://developer.tryfinch.com/api-reference/development-guides/Permissions
          required:
            - client_id
            - client_secret
            - products
      required:
        - connector_name
        - config
      title: finch
    connectors.firebase.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: firebase
        settings:
          oneOf:
            - type: object
              properties:
                role:
                  type: string
                  const: admin
                serviceAccount:
                  type: object
                  properties:
                    project_id:
                      type: string
                  required:
                    - project_id
                  additionalProperties: {}
              required:
                - role
                - serviceAccount
            - type: object
              properties:
                role:
                  type: string
                  const: user
                firebaseConfig:
                  type: object
                  properties:
                    projectId:
                      type: string
                    apiKey:
                      type: string
                    appId:
                      type: string
                    authDomain:
                      type: string
                    databaseURL:
                      type: string
                    storageBucket:
                      type: string
                    measurementId:
                      type: string
                    messagingSenderId:
                      type: string
                  required:
                    - projectId
                    - apiKey
                    - appId
                    - authDomain
                    - databaseURL
                authData:
                  oneOf:
                    - type: object
                      properties:
                        method:
                          type: string
                          const: userJson
                        userJson:
                          type: object
                          properties:
                            uid:
                              type: string
                            appName:
                              type: string
                            stsTokenManager:
                              type: object
                              additionalProperties: {}
                          required:
                            - uid
                            - appName
                            - stsTokenManager
                          additionalProperties: {}
                      required:
                        - method
                        - userJson
                    - type: object
                      properties:
                        method:
                          type: string
                          const: customToken
                        customToken:
                          type: string
                      required:
                        - method
                        - customToken
                    - type: object
                      properties:
                        method:
                          type: string
                          const: emailPassword
                        email:
                          type: string
                        password:
                          type: string
                      required:
                        - method
                        - email
                        - password
              required:
                - role
                - firebaseConfig
                - authData
      required:
        - connector_name
        - settings
      title: firebase
    connectors.firebase.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: firebase
        config:
          type: 'null'
      required:
        - connector_name
        - config
      title: firebase
    connectors.foreceipt.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: foreceipt
        settings:
          type: object
          properties:
            credentials: {}
            options: {}
            _id: {}
            envName:
              type: string
              enum:
                - staging
                - production
          required:
            - envName
      required:
        - connector_name
        - settings
      title: foreceipt
    connectors.foreceipt.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: foreceipt
        config:
          type: 'null'
      required:
        - connector_name
        - config
      title: foreceipt
    connectors.github.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: github
        settings:
          type: object
          properties:
            oauth:
              type: object
              properties:
                credentials:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/AuthMode'
                    api_key:
                      type:
                        - string
                        - 'null'
                    access_token:
                      type: string
                    refresh_token:
                      type: string
                    expires_at:
                      type: string
                      format: date-time
                    raw:
                      type: object
                      properties:
                        access_token:
                          type: string
                        expires_in:
                          type: number
                        expires_at:
                          type: string
                          format: date-time
                        refresh_token:
                          type:
                            - string
                            - 'null'
                        refresh_token_expires_in:
                          type:
                            - number
                            - 'null'
                        token_type:
                          type: string
                        scope:
                          type: string
                      required:
                        - access_token
                        - token_type
                  required:
                    - type
                    - raw
                connection_config:
                  type:
                    - object
                    - 'null'
                  properties:
                    portalId:
                      type:
                        - number
                        - 'null'
                    instance_url:
                      type:
                        - string
                        - 'null'
                  additionalProperties: {}
                metadata:
                  type:
                    - object
                    - 'null'
                  additionalProperties: {}
              required:
                - credentials
                - metadata
            error:
              type:
                - object
                - 'null'
              properties:
                code:
                  anyOf:
                    - type: string
                      enum:
                        - refresh_token_external_error
                    - type: string
                message:
                  type:
                    - string
                    - 'null'
              required:
                - code
          required:
            - oauth
      required:
        - connector_name
        - settings
      title: github
    connectors.github.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: github
        config:
          type: object
          properties:
            oauth:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                scopes:
                  type: string
              required:
                - client_id
                - client_secret
          required:
            - oauth
      required:
        - connector_name
        - config
      title: github
    connectors.gong.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: gong
        settings:
          type: object
          properties:
            oauth:
              type: object
              properties:
                credentials:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/AuthMode'
                    api_key:
                      type:
                        - string
                        - 'null'
                    access_token:
                      type: string
                    refresh_token:
                      type: string
                    expires_at:
                      type: string
                      format: date-time
                    raw:
                      type: object
                      properties:
                        access_token:
                          type: string
                        expires_in:
                          type: number
                        expires_at:
                          type: string
                          format: date-time
                        refresh_token:
                          type:
                            - string
                            - 'null'
                        refresh_token_expires_in:
                          type:
                            - number
                            - 'null'
                        token_type:
                          type: string
                        scope:
                          type: string
                      required:
                        - access_token
                        - token_type
                  required:
                    - type
                    - raw
                connection_config:
                  type:
                    - object
                    - 'null'
                  properties:
                    portalId:
                      type:
                        - number
                        - 'null'
                    instance_url:
                      type:
                        - string
                        - 'null'
                  additionalProperties: {}
                metadata:
                  type:
                    - object
                    - 'null'
                  additionalProperties: {}
              required:
                - credentials
                - metadata
            error:
              type:
                - object
                - 'null'
              properties:
                code:
                  anyOf:
                    - type: string
                      enum:
                        - refresh_token_external_error
                    - type: string
                message:
                  type:
                    - string
                    - 'null'
              required:
                - code
          required:
            - oauth
      required:
        - connector_name
        - settings
      title: gong
    connectors.gong.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: gong
        config:
          type: object
          properties:
            oauth:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                scopes:
                  type: string
              required:
                - client_id
                - client_secret
          required:
            - oauth
      required:
        - connector_name
        - config
      title: gong
    connectors.google.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: google
        settings:
          type: object
          properties:
            oauth:
              type: object
              properties:
                credentials:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/AuthMode'
                    api_key:
                      type:
                        - string
                        - 'null'
                    access_token:
                      type: string
                    refresh_token:
                      type: string
                    expires_at:
                      type: string
                      format: date-time
                    raw:
                      type: object
                      properties:
                        access_token:
                          type: string
                        expires_in:
                          type: number
                        expires_at:
                          type: string
                          format: date-time
                        refresh_token:
                          type:
                            - string
                            - 'null'
                        refresh_token_expires_in:
                          type:
                            - number
                            - 'null'
                        token_type:
                          type: string
                        scope:
                          type: string
                      required:
                        - access_token
                        - token_type
                  required:
                    - type
                    - raw
                connection_config:
                  type:
                    - object
                    - 'null'
                  properties:
                    portalId:
                      type:
                        - number
                        - 'null'
                    instance_url:
                      type:
                        - string
                        - 'null'
                  additionalProperties: {}
                metadata:
                  type:
                    - object
                    - 'null'
                  additionalProperties: {}
              required:
                - credentials
                - metadata
            error:
              type:
                - object
                - 'null'
              properties:
                code:
                  anyOf:
                    - type: string
                      enum:
                        - refresh_token_external_error
                    - type: string
                message:
                  type:
                    - string
                    - 'null'
              required:
                - code
            client_id:
              type: string
          required:
            - oauth
      required:
        - connector_name
        - settings
      title: google
    connectors.google.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: google
        config:
          type: object
          properties:
            oauth:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                scopes:
                  type: string
                  description: global google connector space separated scopes
              required:
                - client_id
                - client_secret
            integrations:
              type: object
              properties:
                drive:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    scopes:
                      type: string
                      description: drive specific space separated scopes
                gmail:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    scopes:
                      type: string
                      description: gmail specific space separated scopes
                calendar:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    scopes:
                      type: string
                      description: calendar specific space separated scopes
                sheets:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    scopes:
                      type: string
                      description: sheets specific space separated scopes
                docs:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    scopes:
                      type: string
                      description: docs specific space separated scopes
                slides:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    scopes:
                      type: string
                      description: slides specific space separated scopes
          required:
            - oauth
            - integrations
      required:
        - connector_name
        - config
      title: google
    connectors.googledrive.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: googledrive
        settings:
          type: object
          properties:
            oauth:
              type: object
              properties:
                credentials:
                  type: object
              required:
                - credentials
            metadata:
              type: object
              additionalProperties: {}
          required:
            - oauth
      required:
        - connector_name
        - settings
      title: googledrive
    connectors.googledrive.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: googledrive
        config:
          type: object
          properties:
            client_id:
              type: string
            client_secret:
              type: string
            scopes:
              type:
                - array
                - 'null'
              items:
                type: string
          required:
            - client_id
            - client_secret
      required:
        - connector_name
        - config
      title: googledrive
    connectors.greenhouse.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: greenhouse
        settings:
          type: object
          properties:
            apiKey:
              type: string
          required:
            - apiKey
      required:
        - connector_name
        - settings
      title: greenhouse
    connectors.greenhouse.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: greenhouse
        config:
          type: 'null'
      required:
        - connector_name
        - config
      title: greenhouse
    connectors.heron.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: heron
        settings:
          type: 'null'
      required:
        - connector_name
        - settings
      title: heron
    connectors.heron.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: heron
        config:
          type: object
          properties:
            apiKey:
              type: string
          required:
            - apiKey
      required:
        - connector_name
        - config
      title: heron
    connectors.hubspot.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: hubspot
        settings:
          type: object
          properties:
            oauth:
              type: object
              properties:
                credentials:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/AuthMode'
                    api_key:
                      type:
                        - string
                        - 'null'
                    access_token:
                      type: string
                    refresh_token:
                      type: string
                    expires_at:
                      type: string
                      format: date-time
                    raw:
                      type: object
                      properties:
                        access_token:
                          type: string
                        expires_in:
                          type: number
                        expires_at:
                          type: string
                          format: date-time
                        refresh_token:
                          type:
                            - string
                            - 'null'
                        refresh_token_expires_in:
                          type:
                            - number
                            - 'null'
                        token_type:
                          type: string
                        scope:
                          type: string
                      required:
                        - access_token
                        - token_type
                  required:
                    - type
                    - raw
                connection_config:
                  type:
                    - object
                    - 'null'
                  properties:
                    portalId:
                      type:
                        - number
                        - 'null'
                    instance_url:
                      type:
                        - string
                        - 'null'
                  additionalProperties: {}
                metadata:
                  type:
                    - object
                    - 'null'
                  additionalProperties: {}
              required:
                - credentials
                - metadata
            error:
              type:
                - object
                - 'null'
              properties:
                code:
                  anyOf:
                    - type: string
                      enum:
                        - refresh_token_external_error
                    - type: string
                message:
                  type:
                    - string
                    - 'null'
              required:
                - code
            extra: {}
          required:
            - oauth
      required:
        - connector_name
        - settings
      title: hubspot
    connectors.hubspot.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: hubspot
        config:
          type: object
          properties:
            oauth:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                scopes:
                  type: string
              required:
                - client_id
                - client_secret
          required:
            - oauth
      required:
        - connector_name
        - config
      title: hubspot
    connectors.intercom.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: intercom
        settings:
          type: object
          properties:
            oauth:
              type: object
              properties:
                credentials:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/AuthMode'
                    api_key:
                      type:
                        - string
                        - 'null'
                    access_token:
                      type: string
                    refresh_token:
                      type: string
                    expires_at:
                      type: string
                      format: date-time
                    raw:
                      type: object
                      properties:
                        access_token:
                          type: string
                        expires_in:
                          type: number
                        expires_at:
                          type: string
                          format: date-time
                        refresh_token:
                          type:
                            - string
                            - 'null'
                        refresh_token_expires_in:
                          type:
                            - number
                            - 'null'
                        token_type:
                          type: string
                        scope:
                          type: string
                      required:
                        - access_token
                        - token_type
                  required:
                    - type
                    - raw
                connection_config:
                  type:
                    - object
                    - 'null'
                  properties:
                    portalId:
                      type:
                        - number
                        - 'null'
                    instance_url:
                      type:
                        - string
                        - 'null'
                  additionalProperties: {}
                metadata:
                  type:
                    - object
                    - 'null'
                  additionalProperties: {}
              required:
                - credentials
                - metadata
            error:
              type:
                - object
                - 'null'
              properties:
                code:
                  anyOf:
                    - type: string
                      enum:
                        - refresh_token_external_error
                    - type: string
                message:
                  type:
                    - string
                    - 'null'
              required:
                - code
          required:
            - oauth
      required:
        - connector_name
        - settings
      title: intercom
    connectors.intercom.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: intercom
        config:
          type: object
          properties:
            oauth:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                scopes:
                  type: string
              required:
                - client_id
                - client_secret
          required:
            - oauth
      required:
        - connector_name
        - config
      title: intercom
    connectors.jira.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: jira
        settings:
          type: object
          properties:
            oauth:
              type: object
              properties:
                credentials:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/AuthMode'
                    api_key:
                      type:
                        - string
                        - 'null'
                    access_token:
                      type: string
                    refresh_token:
                      type: string
                    expires_at:
                      type: string
                      format: date-time
                    raw:
                      type: object
                      properties:
                        access_token:
                          type: string
                        expires_in:
                          type: number
                        expires_at:
                          type: string
                          format: date-time
                        refresh_token:
                          type:
                            - string
                            - 'null'
                        refresh_token_expires_in:
                          type:
                            - number
                            - 'null'
                        token_type:
                          type: string
                        scope:
                          type: string
                      required:
                        - access_token
                        - token_type
                  required:
                    - type
                    - raw
                connection_config:
                  type:
                    - object
                    - 'null'
                  properties:
                    portalId:
                      type:
                        - number
                        - 'null'
                    instance_url:
                      type:
                        - string
                        - 'null'
                  additionalProperties: {}
                metadata:
                  type:
                    - object
                    - 'null'
                  additionalProperties: {}
              required:
                - credentials
                - metadata
            error:
              type:
                - object
                - 'null'
              properties:
                code:
                  anyOf:
                    - type: string
                      enum:
                        - refresh_token_external_error
                    - type: string
                message:
                  type:
                    - string
                    - 'null'
              required:
                - code
          required:
            - oauth
      required:
        - connector_name
        - settings
      title: jira
    connectors.jira.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: jira
        config:
          type: object
          properties:
            oauth:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                scopes:
                  type: string
              required:
                - client_id
                - client_secret
          required:
            - oauth
      required:
        - connector_name
        - config
      title: jira
    connectors.kustomer.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: kustomer
        settings:
          type: object
          properties:
            oauth:
              type: object
              properties:
                credentials:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/AuthMode'
                    api_key:
                      type:
                        - string
                        - 'null'
                    access_token:
                      type: string
                    refresh_token:
                      type: string
                    expires_at:
                      type: string
                      format: date-time
                    raw:
                      type: object
                      properties:
                        access_token:
                          type: string
                        expires_in:
                          type: number
                        expires_at:
                          type: string
                          format: date-time
                        refresh_token:
                          type:
                            - string
                            - 'null'
                        refresh_token_expires_in:
                          type:
                            - number
                            - 'null'
                        token_type:
                          type: string
                        scope:
                          type: string
                      required:
                        - access_token
                        - token_type
                  required:
                    - type
                    - raw
                connection_config:
                  type:
                    - object
                    - 'null'
                  properties:
                    portalId:
                      type:
                        - number
                        - 'null'
                    instance_url:
                      type:
                        - string
                        - 'null'
                  additionalProperties: {}
                metadata:
                  type:
                    - object
                    - 'null'
                  additionalProperties: {}
              required:
                - credentials
                - metadata
            error:
              type:
                - object
                - 'null'
              properties:
                code:
                  anyOf:
                    - type: string
                      enum:
                        - refresh_token_external_error
                    - type: string
                message:
                  type:
                    - string
                    - 'null'
              required:
                - code
          required:
            - oauth
      required:
        - connector_name
        - settings
      title: kustomer
    connectors.kustomer.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: kustomer
        config:
          type: object
          properties:
            oauth:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                scopes:
                  type: string
              required:
                - client_id
                - client_secret
          required:
            - oauth
      required:
        - connector_name
        - config
      title: kustomer
    connectors.lever.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: lever
        settings:
          type: object
          properties:
            oauth:
              type: object
              properties:
                credentials:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/AuthMode'
                    api_key:
                      type:
                        - string
                        - 'null'
                    access_token:
                      type: string
                    refresh_token:
                      type: string
                    expires_at:
                      type: string
                      format: date-time
                    raw:
                      type: object
                      properties:
                        access_token:
                          type: string
                        expires_in:
                          type: number
                        expires_at:
                          type: string
                          format: date-time
                        refresh_token:
                          type:
                            - string
                            - 'null'
                        refresh_token_expires_in:
                          type:
                            - number
                            - 'null'
                        token_type:
                          type: string
                        scope:
                          type: string
                      required:
                        - access_token
                        - token_type
                  required:
                    - type
                    - raw
                connection_config:
                  type:
                    - object
                    - 'null'
                  properties:
                    portalId:
                      type:
                        - number
                        - 'null'
                    instance_url:
                      type:
                        - string
                        - 'null'
                  additionalProperties: {}
                metadata:
                  type:
                    - object
                    - 'null'
                  additionalProperties: {}
              required:
                - credentials
                - metadata
            error:
              type:
                - object
                - 'null'
              properties:
                code:
                  anyOf:
                    - type: string
                      enum:
                        - refresh_token_external_error
                    - type: string
                message:
                  type:
                    - string
                    - 'null'
              required:
                - code
          required:
            - oauth
      required:
        - connector_name
        - settings
      title: lever
    connectors.lever.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: lever
        config:
          type: object
          properties:
            oauth:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                scopes:
                  type: string
              required:
                - client_id
                - client_secret
            envName:
              type: string
              enum:
                - sandbox
                - production
          required:
            - oauth
            - envName
      required:
        - connector_name
        - config
      title: lever
    connectors.linear.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: linear
        settings:
          type: object
          properties:
            oauth:
              type: object
              properties:
                credentials:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/AuthMode'
                    api_key:
                      type:
                        - string
                        - 'null'
                    access_token:
                      type: string
                    refresh_token:
                      type: string
                    expires_at:
                      type: string
                      format: date-time
                    raw:
                      type: object
                      properties:
                        access_token:
                          type: string
                        expires_in:
                          type: number
                        expires_at:
                          type: string
                          format: date-time
                        refresh_token:
                          type:
                            - string
                            - 'null'
                        refresh_token_expires_in:
                          type:
                            - number
                            - 'null'
                        token_type:
                          type: string
                        scope:
                          type: string
                      required:
                        - access_token
                        - token_type
                  required:
                    - type
                    - raw
                connection_config:
                  type:
                    - object
                    - 'null'
                  properties:
                    portalId:
                      type:
                        - number
                        - 'null'
                    instance_url:
                      type:
                        - string
                        - 'null'
                  additionalProperties: {}
                metadata:
                  type:
                    - object
                    - 'null'
                  additionalProperties: {}
              required:
                - credentials
                - metadata
            error:
              type:
                - object
                - 'null'
              properties:
                code:
                  anyOf:
                    - type: string
                      enum:
                        - refresh_token_external_error
                    - type: string
                message:
                  type:
                    - string
                    - 'null'
              required:
                - code
          required:
            - oauth
      required:
        - connector_name
        - settings
      title: linear
    connectors.linear.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: linear
        config:
          type: object
          properties:
            oauth:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                scopes:
                  type: string
              required:
                - client_id
                - client_secret
          required:
            - oauth
      required:
        - connector_name
        - config
      title: linear
    connectors.lunchmoney.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: lunchmoney
        settings:
          type: 'null'
      required:
        - connector_name
        - settings
      title: lunchmoney
    connectors.lunchmoney.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: lunchmoney
        config:
          type: object
          properties:
            accessToken:
              type: string
          required:
            - accessToken
      required:
        - connector_name
        - config
      title: lunchmoney
    connectors.mercury.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: mercury
        settings:
          type: 'null'
      required:
        - connector_name
        - settings
      title: mercury
    connectors.mercury.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: mercury
        config:
          type: object
          properties:
            oauth:
              anyOf:
                - type: 'null'
                  description: No oauth
                - type: object
                  properties:
                    clientId:
                      type: string
                    clientSecret:
                      type: string
                  required:
                    - clientId
                    - clientSecret
                  description: Configure oauth
              description: Oauth support
            apikeyAuth:
              type: boolean
              description: API key auth support
      required:
        - connector_name
        - config
      title: mercury
    connectors.merge.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: merge
        settings:
          type: object
          properties:
            accountToken:
              type: string
            accountDetails: {}
          required:
            - accountToken
      required:
        - connector_name
        - settings
      title: merge
    connectors.merge.connectorConfig:
      type: object
      properties:
        connector_name:
          type: string
          const: merge
        config:
          type: object
          properties:
            apiKey:
              type: string
          required:
            - apiKey
      required:
        - connector_name
        - config
      title: merge
    connectors.microsoft.connectionSettings:
      type: object
      properties:
        connector_name:
          type: string
          const: microsoft
        settings:
          type: object
          properties:
            oauth:
              type: object
              properties:
                credentials:
                  type: object
                  properties:
                    type:
                      $ref: '#/components/schemas/AuthMode'
                    api_key:
                      type:
                        - string
                        - 'null'
                    access_token:
                      type: string
                    refresh_token:
                      type: string
                    expires_at:
                      type: string
                      format: date-time
                    raw:
                      type: object
                      properties:
                        access_token:
                          type: string
                        expires_in:
                          type: number
                        expires_at:
                          type: string
                          format: date-time
                        refresh_token:
                          type:
                            - string
                            - 'null'
                        refresh_token_expires_in:
                          type:
                            - number
                            - 'null'
                        token_type:
                          type: string
                        scope:
                          type: string
                      required:
                        - access_token
                        - token_type
                  required:
                    - type
                    - raw
                connection_config:
                  type:
                    - object
                    - 'null'
                  properties:
                    portalId:
                      type:
                        - number
                        - 'null'
                    instance_url:
                      type:
[...]
