openapi: 3.1.0
info:
  title: OpenInt
  version: 1.0.0
servers:
  - url: https://api.openint.dev/v1
paths:
  /connector:
    get:
      operationId: listConnectors
      summary: List Connectors
      description: List all connectors to understand what integrations are available to configure
      security:
        - ApiKey: []
        - CustomerToken: []
      parameters:
        - in: query
          name: limit
          description: Limit the number of items returned
          schema:
            type: integer
            minimum: 0
            maximum: 500
            default: 50
            description: Limit the number of items returned
        - in: query
          name: offset
          description: Offset the items returned
          schema:
            type: integer
            minimum: 0
            default: 0
            description: Offset the items returned
        - in: query
          name: expand
          schema:
            type: array
            items:
              type: string
              enum:
                - schemas
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/core.connector'
                      properties:
                        integrations:
                          type: array
                          items:
                            $ref: '#/components/schemas/core.integration_select'
                  total:
                    type: integer
                    minimum: 0
                    description: Total number of items in the database for the organization
                  limit:
                    type: integer
                    minimum: 0
                    description: Limit the number of items returned
                  offset:
                    type: integer
                    minimum: 0
                    description: Offset the items returned
                  has_next_page:
                    type: boolean
                    description: Convenience flag = offset + limit >= total
                required:
                  - items
                  - total
                  - limit
                  - offset
                description: List of connectors
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Openint from '@openint/sdk';

            const client = new Openint({
              token: process.env['OPENINT_API_KEY_OR_CUSTOMER_TOKEN'], // This is the default and can be omitted
            });

            async function main() {
              // Automatically fetches more pages as needed.
              for await (const listConnectorsResponse of client.listConnectors()) {
                console.log(listConnectorsResponse.name);
              }
            }

            main();
        - lang: Python
          source: |-
            import os
            from openint import Openint

            client = Openint(
                token=os.environ.get("OPENINT_API_KEY_OR_CUSTOMER_TOKEN"),  # This is the default and can be omitted
            )
            page = client.list_connectors()
            page = page.items[0]
            print(page.name)
  /connector-config/{id}:
    get:
      operationId: getConnectorConfig
      security:
        - ApiKey: []
        - CustomerToken: []
      parameters:
        - in: path
          name: id
          description: The id of the connector config, starts with `ccfg_`
          schema:
            type: string
            pattern: ^ccfg_
            description: The id of the connector config, starts with `ccfg_`
          required: true
        - in: query
          name: expand
          schema:
            type: array
            items:
              type: string
              enum:
                - connector
                - connector.schemas
                - connection_count
              description: 'Fields to expand: connector (includes connector details), enabled_integrations (includes enabled integrations details)'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        type: string
                      created_at:
                        type: string
                      updated_at:
                        type: string
                      org_id:
                        type: string
                      display_name:
                        type:
                          - string
                          - 'null'
                      disabled:
                        type:
                          - boolean
                          - 'null'
                      metadata:
                        type:
                          - object
                          - 'null'
                        additionalProperties: {}
                        description: |2

                            JSON object can can be used to associate arbitrary metadata to
                            avoid needing a separate 1-1 table just for simple key values in your application.
                            During updates this object will be shallowly merged
                    required:
                      - id
                      - created_at
                      - updated_at
                      - org_id
                      - display_name
                      - disabled
                  - oneOf:
                      - $ref: '#/components/schemas/connector.acme-oauth2.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.aircall.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.confluence.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.discord.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.facebook.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.github.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.gong.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.google-calendar.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.google-docs.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.google-drive.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.google-mail.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.google-sheet.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.hubspot.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.instagram.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.intercom.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.jira.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.lever.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.linear.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.linkedin.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.notion.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.outreach.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.pipedrive.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.quickbooks.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.reddit.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.salesloft.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.sharepoint.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.slack.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.twitter.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.xero.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.zoho-desk.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.airtable.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.apollo.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.brex.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.coda.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.finch.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.firebase.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.foreceipt.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.greenhouse.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.heron.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.lunchmoney.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.mercury.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.merge.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.moota.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.onebrick.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.openledger.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.plaid.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.postgres.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.ramp.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.saltedge.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.splitwise.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.stripe.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.teller.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.toggl.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.twenty.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.venmo.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.wise.discriminated_connector_config'
                      - $ref: '#/components/schemas/connector.yodlee.discriminated_connector_config'
                    discriminator:
                      propertyName: connector_name
                      mapping:
                        acme-oauth2: '#/components/schemas/connector.acme-oauth2.discriminated_connector_config'
                        aircall: '#/components/schemas/connector.aircall.discriminated_connector_config'
                        confluence: '#/components/schemas/connector.confluence.discriminated_connector_config'
                        discord: '#/components/schemas/connector.discord.discriminated_connector_config'
                        facebook: '#/components/schemas/connector.facebook.discriminated_connector_config'
                        github: '#/components/schemas/connector.github.discriminated_connector_config'
                        gong: '#/components/schemas/connector.gong.discriminated_connector_config'
                        google-calendar: '#/components/schemas/connector.google-calendar.discriminated_connector_config'
                        google-docs: '#/components/schemas/connector.google-docs.discriminated_connector_config'
                        google-drive: '#/components/schemas/connector.google-drive.discriminated_connector_config'
                        google-mail: '#/components/schemas/connector.google-mail.discriminated_connector_config'
                        google-sheet: '#/components/schemas/connector.google-sheet.discriminated_connector_config'
                        hubspot: '#/components/schemas/connector.hubspot.discriminated_connector_config'
                        instagram: '#/components/schemas/connector.instagram.discriminated_connector_config'
                        intercom: '#/components/schemas/connector.intercom.discriminated_connector_config'
                        jira: '#/components/schemas/connector.jira.discriminated_connector_config'
                        lever: '#/components/schemas/connector.lever.discriminated_connector_config'
                        linear: '#/components/schemas/connector.linear.discriminated_connector_config'
                        linkedin: '#/components/schemas/connector.linkedin.discriminated_connector_config'
                        notion: '#/components/schemas/connector.notion.discriminated_connector_config'
                        outreach: '#/components/schemas/connector.outreach.discriminated_connector_config'
                        pipedrive: '#/components/schemas/connector.pipedrive.discriminated_connector_config'
                        quickbooks: '#/components/schemas/connector.quickbooks.discriminated_connector_config'
                        reddit: '#/components/schemas/connector.reddit.discriminated_connector_config'
                        salesloft: '#/components/schemas/connector.salesloft.discriminated_connector_config'
                        sharepoint: '#/components/schemas/connector.sharepoint.discriminated_connector_config'
                        slack: '#/components/schemas/connector.slack.discriminated_connector_config'
                        twitter: '#/components/schemas/connector.twitter.discriminated_connector_config'
                        xero: '#/components/schemas/connector.xero.discriminated_connector_config'
                        zoho-desk: '#/components/schemas/connector.zoho-desk.discriminated_connector_config'
                        airtable: '#/components/schemas/connector.airtable.discriminated_connector_config'
                        apollo: '#/components/schemas/connector.apollo.discriminated_connector_config'
                        brex: '#/components/schemas/connector.brex.discriminated_connector_config'
                        coda: '#/components/schemas/connector.coda.discriminated_connector_config'
                        finch: '#/components/schemas/connector.finch.discriminated_connector_config'
                        firebase: '#/components/schemas/connector.firebase.discriminated_connector_config'
                        foreceipt: '#/components/schemas/connector.foreceipt.discriminated_connector_config'
                        greenhouse: '#/components/schemas/connector.greenhouse.discriminated_connector_config'
                        heron: '#/components/schemas/connector.heron.discriminated_connector_config'
                        lunchmoney: '#/components/schemas/connector.lunchmoney.discriminated_connector_config'
                        mercury: '#/components/schemas/connector.mercury.discriminated_connector_config'
                        merge: '#/components/schemas/connector.merge.discriminated_connector_config'
                        moota: '#/components/schemas/connector.moota.discriminated_connector_config'
                        onebrick: '#/components/schemas/connector.onebrick.discriminated_connector_config'
                        openledger: '#/components/schemas/connector.openledger.discriminated_connector_config'
                        plaid: '#/components/schemas/connector.plaid.discriminated_connector_config'
                        postgres: '#/components/schemas/connector.postgres.discriminated_connector_config'
                        ramp: '#/components/schemas/connector.ramp.discriminated_connector_config'
                        saltedge: '#/components/schemas/connector.saltedge.discriminated_connector_config'
                        splitwise: '#/components/schemas/connector.splitwise.discriminated_connector_config'
                        stripe: '#/components/schemas/connector.stripe.discriminated_connector_config'
                        teller: '#/components/schemas/connector.teller.discriminated_connector_config'
                        toggl: '#/components/schemas/connector.toggl.discriminated_connector_config'
                        twenty: '#/components/schemas/connector.twenty.discriminated_connector_config'
                        venmo: '#/components/schemas/connector.venmo.discriminated_connector_config'
                        wise: '#/components/schemas/connector.wise.discriminated_connector_config'
                        yodlee: '#/components/schemas/connector.yodlee.discriminated_connector_config'
                    description: Connector specific data
                  - type: object
                    properties:
                      connector:
                        $ref: '#/components/schemas/core.connector'
                      integrations:
                        type: object
                        additionalProperties:
                          $ref: '#/components/schemas/core.integration_select'
                      connection_count:
                        type: number
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
  /connector-config:
    get:
      operationId: listConnectorConfigs
      summary: List Configured Connectors
      security:
        - ApiKey: []
        - CustomerToken: []
      parameters:
        - in: query
          name: limit
          description: Limit the number of items returned
          schema:
            type: integer
            minimum: 0
            maximum: 500
            default: 50
            description: Limit the number of items returned
        - in: query
          name: offset
          description: Offset the items returned
          schema:
            type: integer
            minimum: 0
            default: 0
            description: Offset the items returned
        - in: query
          name: expand
          schema:
            type: array
            items:
              type: string
              enum:
                - connector
                - connector.schemas
                - connection_count
              description: 'Fields to expand: connector (includes connector details), enabled_integrations (includes enabled integrations details)'
        - in: query
          name: connector_names
          schema:
            type: array
            items:
              $ref: '#/components/schemas/core.connector.name'
        - in: query
          name: search_query
          schema:
            type:
              - string
              - 'null'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      allOf:
                        - type: object
                          properties:
                            id:
                              type: string
                            created_at:
                              type: string
                            updated_at:
                              type: string
                            org_id:
                              type: string
                            display_name:
                              type:
                                - string
                                - 'null'
                            disabled:
                              type:
                                - boolean
                                - 'null'
                            metadata:
                              type:
                                - object
                                - 'null'
                              additionalProperties: {}
                              description: |2

                                  JSON object can can be used to associate arbitrary metadata to
                                  avoid needing a separate 1-1 table just for simple key values in your application.
                                  During updates this object will be shallowly merged
                          required:
                            - id
                            - created_at
                            - updated_at
                            - org_id
                            - display_name
                            - disabled
                        - oneOf:
                            - $ref: '#/components/schemas/connector.acme-oauth2.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.aircall.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.confluence.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.discord.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.facebook.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.github.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.gong.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.google-calendar.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.google-docs.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.google-drive.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.google-mail.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.google-sheet.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.hubspot.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.instagram.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.intercom.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.jira.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.lever.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.linear.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.linkedin.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.notion.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.outreach.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.pipedrive.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.quickbooks.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.reddit.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.salesloft.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.sharepoint.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.slack.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.twitter.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.xero.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.zoho-desk.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.airtable.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.apollo.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.brex.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.coda.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.finch.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.firebase.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.foreceipt.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.greenhouse.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.heron.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.lunchmoney.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.mercury.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.merge.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.moota.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.onebrick.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.openledger.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.plaid.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.postgres.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.ramp.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.saltedge.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.splitwise.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.stripe.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.teller.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.toggl.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.twenty.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.venmo.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.wise.discriminated_connector_config'
                            - $ref: '#/components/schemas/connector.yodlee.discriminated_connector_config'
                          discriminator:
                            propertyName: connector_name
                            mapping:
                              acme-oauth2: '#/components/schemas/connector.acme-oauth2.discriminated_connector_config'
                              aircall: '#/components/schemas/connector.aircall.discriminated_connector_config'
                              confluence: '#/components/schemas/connector.confluence.discriminated_connector_config'
                              discord: '#/components/schemas/connector.discord.discriminated_connector_config'
                              facebook: '#/components/schemas/connector.facebook.discriminated_connector_config'
                              github: '#/components/schemas/connector.github.discriminated_connector_config'
                              gong: '#/components/schemas/connector.gong.discriminated_connector_config'
                              google-calendar: '#/components/schemas/connector.google-calendar.discriminated_connector_config'
                              google-docs: '#/components/schemas/connector.google-docs.discriminated_connector_config'
                              google-drive: '#/components/schemas/connector.google-drive.discriminated_connector_config'
                              google-mail: '#/components/schemas/connector.google-mail.discriminated_connector_config'
                              google-sheet: '#/components/schemas/connector.google-sheet.discriminated_connector_config'
                              hubspot: '#/components/schemas/connector.hubspot.discriminated_connector_config'
                              instagram: '#/components/schemas/connector.instagram.discriminated_connector_config'
                              intercom: '#/components/schemas/connector.intercom.discriminated_connector_config'
                              jira: '#/components/schemas/connector.jira.discriminated_connector_config'
                              lever: '#/components/schemas/connector.lever.discriminated_connector_config'
                              linear: '#/components/schemas/connector.linear.discriminated_connector_config'
                              linkedin: '#/components/schemas/connector.linkedin.discriminated_connector_config'
                              notion: '#/components/schemas/connector.notion.discriminated_connector_config'
                              outreach: '#/components/schemas/connector.outreach.discriminated_connector_config'
                              pipedrive: '#/components/schemas/connector.pipedrive.discriminated_connector_config'
                              quickbooks: '#/components/schemas/connector.quickbooks.discriminated_connector_config'
                              reddit: '#/components/schemas/connector.reddit.discriminated_connector_config'
                              salesloft: '#/components/schemas/connector.salesloft.discriminated_connector_config'
                              sharepoint: '#/components/schemas/connector.sharepoint.discriminated_connector_config'
                              slack: '#/components/schemas/connector.slack.discriminated_connector_config'
                              twitter: '#/components/schemas/connector.twitter.discriminated_connector_config'
                              xero: '#/components/schemas/connector.xero.discriminated_connector_config'
                              zoho-desk: '#/components/schemas/connector.zoho-desk.discriminated_connector_config'
                              airtable: '#/components/schemas/connector.airtable.discriminated_connector_config'
                              apollo: '#/components/schemas/connector.apollo.discriminated_connector_config'
                              brex: '#/components/schemas/connector.brex.discriminated_connector_config'
                              coda: '#/components/schemas/connector.coda.discriminated_connector_config'
                              finch: '#/components/schemas/connector.finch.discriminated_connector_config'
                              firebase: '#/components/schemas/connector.firebase.discriminated_connector_config'
                              foreceipt: '#/components/schemas/connector.foreceipt.discriminated_connector_config'
                              greenhouse: '#/components/schemas/connector.greenhouse.discriminated_connector_config'
                              heron: '#/components/schemas/connector.heron.discriminated_connector_config'
                              lunchmoney: '#/components/schemas/connector.lunchmoney.discriminated_connector_config'
                              mercury: '#/components/schemas/connector.mercury.discriminated_connector_config'
                              merge: '#/components/schemas/connector.merge.discriminated_connector_config'
                              moota: '#/components/schemas/connector.moota.discriminated_connector_config'
                              onebrick: '#/components/schemas/connector.onebrick.discriminated_connector_config'
                              openledger: '#/components/schemas/connector.openledger.discriminated_connector_config'
                              plaid: '#/components/schemas/connector.plaid.discriminated_connector_config'
                              postgres: '#/components/schemas/connector.postgres.discriminated_connector_config'
                              ramp: '#/components/schemas/connector.ramp.discriminated_connector_config'
                              saltedge: '#/components/schemas/connector.saltedge.discriminated_connector_config'
                              splitwise: '#/components/schemas/connector.splitwise.discriminated_connector_config'
                              stripe: '#/components/schemas/connector.stripe.discriminated_connector_config'
                              teller: '#/components/schemas/connector.teller.discriminated_connector_config'
                              toggl: '#/components/schemas/connector.toggl.discriminated_connector_config'
                              twenty: '#/components/schemas/connector.twenty.discriminated_connector_config'
                              venmo: '#/components/schemas/connector.venmo.discriminated_connector_config'
                              wise: '#/components/schemas/connector.wise.discriminated_connector_config'
                              yodlee: '#/components/schemas/connector.yodlee.discriminated_connector_config'
                          description: Connector specific data
                        - type: object
                          properties:
                            connector:
                              $ref: '#/components/schemas/core.connector'
                            integrations:
                              type: object
                              additionalProperties:
                                $ref: '#/components/schemas/core.integration_select'
                            connection_count:
                              type: number
                  total:
                    type: integer
                    minimum: 0
                    description: Total number of items in the database for the organization
                  limit:
                    type: integer
                    minimum: 0
                    description: Limit the number of items returned
                  offset:
                    type: integer
                    minimum: 0
                    description: Offset the items returned
                  has_next_page:
                    type: boolean
                    description: Convenience flag = offset + limit >= total
                required:
                  - items
                  - total
                  - limit
                  - offset
                description: The list of connector configurations
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Openint from '@openint/sdk';

            const client = new Openint({
              token: process.env['OPENINT_API_KEY_OR_CUSTOMER_TOKEN'], // This is the default and can be omitted
            });

            async function main() {
              // Automatically fetches more pages as needed.
              for await (const listConnectionConfigsResponse of client.listConnectionConfigs()) {
                console.log(listConnectionConfigsResponse);
              }
            }

            main();
        - lang: Python
          source: |-
            import os
            from openint import Openint

            client = Openint(
                token=os.environ.get("OPENINT_API_KEY_OR_CUSTOMER_TOKEN"),  # This is the default and can be omitted
            )
            page = client.list_connection_configs()
            page = page.items[0]
            print(page)
  /connection/{id}:
    get:
      operationId: getConnection
      summary: Get Connection
      description: Get details of a specific connection, including credentials
      security:
        - ApiKey: []
        - CustomerToken: []
      parameters:
        - in: path
          name: id
          description: The id of the connection, starts with `conn_`
          schema:
            type: string
            pattern: ^conn_
            description: The id of the connection, starts with `conn_`
          required: true
        - in: query
          name: include_secrets
          schema:
            type: boolean
        - in: query
          name: refresh_policy
          description: 'Controls credential refresh: none (never), force (always), or auto (when expired, default)'
          schema:
            type: string
            enum:
              - none
              - force
              - auto
            description: 'Controls credential refresh: none (never), force (always), or auto (when expired, default)'
            default: auto
        - in: query
          name: expand
          schema:
            type: array
            items:
              type: string
              enum:
                - connector
              description: 'Fields to expand: connector (includes connector details)'
            default: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        type: string
                      customer_id:
                        type:
                          - string
                          - 'null'
                      connector_config_id:
                        type:
                          - string
                          - 'null'
                      integration_id:
                        type:
                          - string
                          - 'null'
                      status_message:
                        type:
                          - string
                          - 'null'
                      created_at:
                        type: string
                      updated_at:
                        type: string
                      display_name:
                        type:
                          - string
                          - 'null'
                      disabled:
                        type:
                          - boolean
                          - 'null'
                      status:
                        type:
                          - string
                          - 'null'
                        enum:
                          - healthy
                          - disconnected
                          - error
                          - manual
                          - unknown
                          - null
                      metadata:
                        type:
                          - object
                          - 'null'
                        additionalProperties: {}
                        description: |2

                            JSON object can can be used to associate arbitrary metadata to
                            avoid needing a separate 1-1 table just for simple key values in your application.
                            During updates this object will be shallowly merged
                    required:
                      - id
                      - customer_id
                      - connector_config_id
                      - integration_id
                      - created_at
                      - updated_at
                      - display_name
                      - disabled
                  - oneOf:
                      - $ref: '#/components/schemas/connector.acme-oauth2.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.aircall.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.confluence.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.discord.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.facebook.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.github.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.gong.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.google-calendar.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.google-docs.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.google-drive.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.google-mail.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.google-sheet.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.hubspot.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.instagram.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.intercom.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.jira.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.lever.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.linear.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.linkedin.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.notion.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.outreach.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.pipedrive.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.quickbooks.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.reddit.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.salesloft.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.sharepoint.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.slack.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.twitter.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.xero.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.zoho-desk.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.airtable.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.apollo.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.brex.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.coda.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.finch.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.firebase.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.foreceipt.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.greenhouse.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.heron.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.lunchmoney.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.mercury.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.merge.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.moota.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.onebrick.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.openledger.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.plaid.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.postgres.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.ramp.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.saltedge.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.splitwise.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.stripe.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.teller.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.toggl.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.twenty.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.venmo.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.wise.discriminated_connection_settings'
                      - $ref: '#/components/schemas/connector.yodlee.discriminated_connection_settings'
                    discriminator:
                      propertyName: connector_name
                      mapping:
                        acme-oauth2: '#/components/schemas/connector.acme-oauth2.discriminated_connection_settings'
                        aircall: '#/components/schemas/connector.aircall.discriminated_connection_settings'
                        confluence: '#/components/schemas/connector.confluence.discriminated_connection_settings'
                        discord: '#/components/schemas/connector.discord.discriminated_connection_settings'
                        facebook: '#/components/schemas/connector.facebook.discriminated_connection_settings'
                        github: '#/components/schemas/connector.github.discriminated_connection_settings'
                        gong: '#/components/schemas/connector.gong.discriminated_connection_settings'
                        google-calendar: '#/components/schemas/connector.google-calendar.discriminated_connection_settings'
                        google-docs: '#/components/schemas/connector.google-docs.discriminated_connection_settings'
                        google-drive: '#/components/schemas/connector.google-drive.discriminated_connection_settings'
                        google-mail: '#/components/schemas/connector.google-mail.discriminated_connection_settings'
                        google-sheet: '#/components/schemas/connector.google-sheet.discriminated_connection_settings'
                        hubspot: '#/components/schemas/connector.hubspot.discriminated_connection_settings'
                        instagram: '#/components/schemas/connector.instagram.discriminated_connection_settings'
                        intercom: '#/components/schemas/connector.intercom.discriminated_connection_settings'
                        jira: '#/components/schemas/connector.jira.discriminated_connection_settings'
                        lever: '#/components/schemas/connector.lever.discriminated_connection_settings'
                        linear: '#/components/schemas/connector.linear.discriminated_connection_settings'
                        linkedin: '#/components/schemas/connector.linkedin.discriminated_connection_settings'
                        notion: '#/components/schemas/connector.notion.discriminated_connection_settings'
                        outreach: '#/components/schemas/connector.outreach.discriminated_connection_settings'
                        pipedrive: '#/components/schemas/connector.pipedrive.discriminated_connection_settings'
                        quickbooks: '#/components/schemas/connector.quickbooks.discriminated_connection_settings'
                        reddit: '#/components/schemas/connector.reddit.discriminated_connection_settings'
                        salesloft: '#/components/schemas/connector.salesloft.discriminated_connection_settings'
                        sharepoint: '#/components/schemas/connector.sharepoint.discriminated_connection_settings'
                        slack: '#/components/schemas/connector.slack.discriminated_connection_settings'
                        twitter: '#/components/schemas/connector.twitter.discriminated_connection_settings'
                        xero: '#/components/schemas/connector.xero.discriminated_connection_settings'
                        zoho-desk: '#/components/schemas/connector.zoho-desk.discriminated_connection_settings'
                        airtable: '#/components/schemas/connector.airtable.discriminated_connection_settings'
                        apollo: '#/components/schemas/connector.apollo.discriminated_connection_settings'
                        brex: '#/components/schemas/connector.brex.discriminated_connection_settings'
                        coda: '#/components/schemas/connector.coda.discriminated_connection_settings'
                        finch: '#/components/schemas/connector.finch.discriminated_connection_settings'
                        firebase: '#/components/schemas/connector.firebase.discriminated_connection_settings'
                        foreceipt: '#/components/schemas/connector.foreceipt.discriminated_connection_settings'
                        greenhouse: '#/components/schemas/connector.greenhouse.discriminated_connection_settings'
                        heron: '#/components/schemas/connector.heron.discriminated_connection_settings'
                        lunchmoney: '#/components/schemas/connector.lunchmoney.discriminated_connection_settings'
                        mercury: '#/components/schemas/connector.mercury.discriminated_connection_settings'
                        merge: '#/components/schemas/connector.merge.discriminated_connection_settings'
                        moota: '#/components/schemas/connector.moota.discriminated_connection_settings'
                        onebrick: '#/components/schemas/connector.onebrick.discriminated_connection_settings'
                        openledger: '#/components/schemas/connector.openledger.discriminated_connection_settings'
                        plaid: '#/components/schemas/connector.plaid.discriminated_connection_settings'
                        postgres: '#/components/schemas/connector.postgres.discriminated_connection_settings'
                        ramp: '#/components/schemas/connector.ramp.discriminated_connection_settings'
                        saltedge: '#/components/schemas/connector.saltedge.discriminated_connection_settings'
                        splitwise: '#/components/schemas/connector.splitwise.discriminated_connection_settings'
                        stripe: '#/components/schemas/connector.stripe.discriminated_connection_settings'
                        teller: '#/components/schemas/connector.teller.discriminated_connection_settings'
                        toggl: '#/components/schemas/connector.toggl.discriminated_connection_settings'
                        twenty: '#/components/schemas/connector.twenty.discriminated_connection_settings'
                        venmo: '#/components/schemas/connector.venmo.discriminated_connection_settings'
                        wise: '#/components/schemas/connector.wise.discriminated_connection_settings'
                        yodlee: '#/components/schemas/connector.yodlee.discriminated_connection_settings'
                    description: Connector specific data
                  - type: object
                    properties:
                      connector:
                        $ref: '#/components/schemas/core.connector'
                      integration:
                        $ref: '#/components/schemas/core.integration_select'
                description: The connection details
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Openint from '@openint/sdk';

            const client = new Openint({
              token: process.env['OPENINT_API_KEY_OR_CUSTOMER_TOKEN'], // This is the default and can be omitted
            });

            async function main() {
              const response = await client.getConnection('conn_');

              console.log(response);
            }

            main();
        - lang: Python
          source: |-
            import os
            from openint import Openint

            client = Openint(
                token=os.environ.get("OPENINT_API_KEY_OR_CUSTOMER_TOKEN"),  # This is the default and can be omitted
            )
            response = client.get_connection(
                id="conn_",
            )
            print(response)
    delete:
      operationId: deleteConnection
      summary: Delete Connection
      description: Delete a connection
      security:
        - ApiKey: []
        - CustomerToken: []
      parameters:
        - in: path
          name: id
          description: The id of the connection, starts with `conn_`
          schema:
            type: string
            pattern: ^conn_
            description: The id of the connection, starts with `conn_`
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    pattern: ^conn_
                    description: The id of the connection, starts with `conn_`
                required:
                  - id
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Openint from '@openint/sdk';

            const client = new Openint({
              token: process.env['OPENINT_API_KEY_OR_CUSTOMER_TOKEN'], // This is the default and can be omitted
            });

            async function main() {
              const response = await client.deleteConnection('conn_');

              console.log(response.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from openint import Openint

            client = Openint(
                token=os.environ.get("OPENINT_API_KEY_OR_CUSTOMER_TOKEN"),  # This is the default and can be omitted
            )
            response = client.delete_connection(
                "conn_",
            )
            print(response.id)
  /connection:
    get:
      operationId: listConnections
      summary: List Connections
      description: List all connections with optional filtering. Does not retrieve secrets or perform any connection healthcheck. For that use `getConnection` or `checkConnectionHealth`.
      security:
        - ApiKey: []
        - CustomerToken: []
      parameters:
        - in: query
          name: limit
          description: Limit the number of items returned
          schema:
            type: integer
            minimum: 0
            maximum: 500
            default: 50
            description: Limit the number of items returned
        - in: query
          name: offset
          description: Offset the items returned
          schema:
            type: integer
            minimum: 0
            default: 0
            description: Offset the items returned
        - in: query
          name: connector_names
          schema:
            type: array
            items:
              $ref: '#/components/schemas/core.connector.name'
        - in: query
          name: customer_id
          description: The id of the customer in your application. Ensure it is unique for that customer.
          schema:
            type: string
            description: The id of the customer in your application. Ensure it is unique for that customer.
        - in: query
          name: connector_config_id
          description: The id of the connector config, starts with `ccfg_`
          schema:
            type: string
            pattern: ^ccfg_
            description: The id of the connector config, starts with `ccfg_`
        - in: query
          name: include_secrets
          schema:
            type: boolean
        - in: query
          name: expand
          schema:
            type: array
            items:
              type: string
              enum:
                - connector
              description: 'Fields to expand: connector (includes connector details)'
            default: []
            description: Expand the response with additional optionals
        - in: query
          name: search_query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      allOf:
                        - type: object
                          properties:
                            id:
                              type: string
                            customer_id:
                              type:
                                - string
                                - 'null'
                            connector_config_id:
                              type:
                                - string
                                - 'null'
                            integration_id:
                              type:
                                - string
                                - 'null'
                            status_message:
                              type:
                                - string
                                - 'null'
                            created_at:
                              type: string
                            updated_at:
                              type: string
                            display_name:
                              type:
                                - string
                                - 'null'
                            disabled:
                              type:
                                - boolean
                                - 'null'
                            status:
                              type:
                                - string
                                - 'null'
                              enum:
                                - healthy
                                - disconnected
                                - error
                                - manual
                                - unknown
                                - null
                            metadata:
                              type:
                                - object
                                - 'null'
                              additionalProperties: {}
                              description: |2

                                  JSON object can can be used to associate arbitrary metadata to
                                  avoid needing a separate 1-1 table just for simple key values in your application.
                                  During updates this object will be shallowly merged
                          required:
                            - id
                            - customer_id
                            - connector_config_id
                            - integration_id
                            - created_at
                            - updated_at
                            - display_name
                            - disabled
                        - oneOf:
                            - $ref: '#/components/schemas/connector.acme-oauth2.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.aircall.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.confluence.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.discord.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.facebook.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.github.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.gong.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.google-calendar.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.google-docs.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.google-drive.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.google-mail.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.google-sheet.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.hubspot.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.instagram.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.intercom.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.jira.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.lever.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.linear.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.linkedin.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.notion.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.outreach.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.pipedrive.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.quickbooks.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.reddit.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.salesloft.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.sharepoint.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.slack.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.twitter.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.xero.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.zoho-desk.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.airtable.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.apollo.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.brex.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.coda.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.finch.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.firebase.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.foreceipt.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.greenhouse.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.heron.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.lunchmoney.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.mercury.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.merge.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.moota.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.onebrick.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.openledger.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.plaid.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.postgres.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.ramp.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.saltedge.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.splitwise.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.stripe.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.teller.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.toggl.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.twenty.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.venmo.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.wise.discriminated_connection_settings'
                            - $ref: '#/components/schemas/connector.yodlee.discriminated_connection_settings'
                          discriminator:
                            propertyName: connector_name
                            mapping:
                              acme-oauth2: '#/components/schemas/connector.acme-oauth2.discriminated_connection_settings'
                              aircall: '#/components/schemas/connector.aircall.discriminated_connection_settings'
                              confluence: '#/components/schemas/connector.confluence.discriminated_connection_settings'
                              discord: '#/components/schemas/connector.discord.discriminated_connection_settings'
                              facebook: '#/components/schemas/connector.facebook.discriminated_connection_settings'
                              github: '#/components/schemas/connector.github.discriminated_connection_settings'
                              gong: '#/components/schemas/connector.gong.discriminated_connection_settings'
                              google-calendar: '#/components/schemas/connector.google-calendar.discriminated_connection_settings'
                              google-docs: '#/components/schemas/connector.google-docs.discriminated_connection_settings'
                              google-drive: '#/components/schemas/connector.google-drive.discriminated_connection_settings'
                              google-mail: '#/components/schemas/connector.google-mail.discriminated_connection_settings'
                              google-sheet: '#/components/schemas/connector.google-sheet.discriminated_connection_settings'
                              hubspot: '#/components/schemas/connector.hubspot.discriminated_connection_settings'
                              instagram: '#/components/schemas/connector.instagram.discriminated_connection_settings'
                              intercom: '#/components/schemas/connector.intercom.discriminated_connection_settings'
                              jira: '#/components/schemas/connector.jira.discriminated_connection_settings'
                              lever: '#/components/schemas/connector.lever.discriminated_connection_settings'
                              linear: '#/components/schemas/connector.linear.discriminated_connection_settings'
                              linkedin: '#/components/schemas/connector.linkedin.discriminated_connection_settings'
                              notion: '#/components/schemas/connector.notion.discriminated_connection_settings'
                              outreach: '#/components/schemas/connector.outreach.discriminated_connection_settings'
                              pipedrive: '#/components/schemas/connector.pipedrive.discriminated_connection_settings'
                              quickbooks: '#/components/schemas/connector.quickbooks.discriminated_connection_settings'
                              reddit: '#/components/schemas/connector.reddit.discriminated_connection_settings'
                              salesloft: '#/components/schemas/connector.salesloft.discriminated_connection_settings'
                              sharepoint: '#/components/schemas/connector.sharepoint.discriminated_connection_settings'
                              slack: '#/components/schemas/connector.slack.discriminated_connection_settings'
                              twitter: '#/components/schemas/connector.twitter.discriminated_connection_settings'
                              xero: '#/components/schemas/connector.xero.discriminated_connection_settings'
                              zoho-desk: '#/components/schemas/connector.zoho-desk.discriminated_connection_settings'
                              airtable: '#/components/schemas/connector.airtable.discriminated_connection_settings'
                              apollo: '#/components/schemas/connector.apollo.discriminated_connection_settings'
                              brex: '#/components/schemas/connector.brex.discriminated_connection_settings'
                              coda: '#/components/schemas/connector.coda.discriminated_connection_settings'
                              finch: '#/components/schemas/connector.finch.discriminated_connection_settings'
                              firebase: '#/components/schemas/connector.firebase.discriminated_connection_settings'
                              foreceipt: '#/components/schemas/connector.foreceipt.discriminated_connection_settings'
                              greenhouse: '#/components/schemas/connector.greenhouse.discriminated_connection_settings'
                              heron: '#/components/schemas/connector.heron.discriminated_connection_settings'
                              lunchmoney: '#/components/schemas/connector.lunchmoney.discriminated_connection_settings'
                              mercury: '#/components/schemas/connector.mercury.discriminated_connection_settings'
                              merge: '#/components/schemas/connector.merge.discriminated_connection_settings'
                              moota: '#/components/schemas/connector.moota.discriminated_connection_settings'
                              onebrick: '#/components/schemas/connector.onebrick.discriminated_connection_settings'
                              openledger: '#/components/schemas/connector.openledger.discriminated_connection_settings'
                              plaid: '#/components/schemas/connector.plaid.discriminated_connection_settings'
                              postgres: '#/components/schemas/connector.postgres.discriminated_connection_settings'
                              ramp: '#/components/schemas/connector.ramp.discriminated_connection_settings'
                              saltedge: '#/components/schemas/connector.saltedge.discriminated_connection_settings'
                              splitwise: '#/components/schemas/connector.splitwise.discriminated_connection_settings'
                              stripe: '#/components/schemas/connector.stripe.discriminated_connection_settings'
                              teller: '#/components/schemas/connector.teller.discriminated_connection_settings'
                              toggl: '#/components/schemas/connector.toggl.discriminated_connection_settings'
                              twenty: '#/components/schemas/connector.twenty.discriminated_connection_settings'
                              venmo: '#/components/schemas/connector.venmo.discriminated_connection_settings'
                              wise: '#/components/schemas/connector.wise.discriminated_connection_settings'
                              yodlee: '#/components/schemas/connector.yodlee.discriminated_connection_settings'
                          description: Connector specific data
                        - type: object
                          properties:
                            connector:
                              $ref: '#/components/schemas/core.connector'
                            integration:
                              $ref: '#/components/schemas/core.integration_select'
                      description: The connection details
                  total:
                    type: integer
                    minimum: 0
                    description: Total number of items in the database for the organization
                  limit:
                    type: integer
                    minimum: 0
                    description: Limit the number of items returned
                  offset:
                    type: integer
                    minimum: 0
                    description: Offset the items returned
                  has_next_page:
                    type: boolean
                    description: Convenience flag = offset + limit >= total
                required:
                  - items
                  - total
                  - limit
                  - offset
                description: The list of connections
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Openint from '@openint/sdk';

            const client = new Openint({
              token: process.env['OPENINT_API_KEY_OR_CUSTOMER_TOKEN'], // This is the default and can be omitted
            });

            async function main() {
              // Automatically fetches more pages as needed.
              for await (const listConnectionsResponse of client.listConnections()) {
                console.log(listConnectionsResponse);
              }
            }

            main();
        - lang: Python
          source: |-
            import os
            from openint import Openint

            client = Openint(
                token=os.environ.get("OPENINT_API_KEY_OR_CUSTOMER_TOKEN"),  # This is the default and can be omitted
            )
            page = client.list_connections()
            page = page.items[0]
            print(page)
    post:
      operationId: createConnection
      summary: Create Connection
      description: Import an existing connection after validation
      security:
        - ApiKey: []
        - CustomerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                connector_config_id:
                  type: string
                  pattern: ^ccfg_
                  description: The id of the connector config, starts with `ccfg_`
                metadata:
                  type: object
                  additionalProperties: {}
                customer_id:
                  type: string
                  description: The id of the customer in your application. Ensure it is unique for that customer.
                data:
                  oneOf:
                    - $ref: '#/components/schemas/connector.acme-oauth2.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.aircall.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.confluence.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.discord.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.facebook.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.github.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.gong.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.google-calendar.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.google-docs.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.google-drive.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.google-mail.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.google-sheet.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.hubspot.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.instagram.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.intercom.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.jira.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.lever.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.linear.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.linkedin.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.notion.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.outreach.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.pipedrive.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.quickbooks.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.reddit.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.salesloft.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.sharepoint.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.slack.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.twitter.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.xero.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.zoho-desk.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.airtable.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.apollo.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.brex.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.coda.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.finch.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.firebase.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.foreceipt.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.greenhouse.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.heron.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.lunchmoney.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.mercury.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.merge.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.moota.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.onebrick.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.openledger.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.plaid.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.postgres.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.ramp.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.saltedge.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.splitwise.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.stripe.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.teller.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.toggl.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.twenty.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.venmo.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.wise.discriminated_connection_settings'
                    - $ref: '#/components/schemas/connector.yodlee.discriminated_connection_settings'
                  discriminator:
                    propertyName: connector_name
                    mapping:
                      acme-oauth2: '#/components/schemas/connector.acme-oauth2.discriminated_connection_settings'
                      aircall: '#/components/schemas/connector.aircall.discriminated_connection_settings'
                      confluence: '#/components/schemas/connector.confluence.discriminated_connection_settings'
                      discord: '#/components/schemas/connector.discord.discriminated_connection_settings'
                      facebook: '#/components/schemas/connector.facebook.discriminated_connection_settings'
                      github: '#/components/schemas/connector.github.discriminated_connection_settings'
                      gong: '#/components/schemas/connector.gong.discriminated_connection_settings'
                      google-calendar: '#/components/schemas/connector.google-calendar.discriminated_connection_settings'
                      google-docs: '#/components/schemas/connector.google-docs.discriminated_connection_settings'
                      google-drive: '#/components/schemas/connector.google-drive.discriminated_connection_settings'
                      google-mail: '#/components/schemas/connector.google-mail.discriminated_connection_settings'
                      google-sheet: '#/components/schemas/connector.google-sheet.discriminated_connection_settings'
                      hubspot: '#/components/schemas/connector.hubspot.discriminated_connection_settings'
                      instagram: '#/components/schemas/connector.instagram.discriminated_connection_settings'
                      intercom: '#/components/schemas/connector.intercom.discriminated_connection_settings'
                      jira: '#/components/schemas/connector.jira.discriminated_connection_settings'
                      lever: '#/components/schemas/connector.lever.discriminated_connection_settings'
                      linear: '#/components/schemas/connector.linear.discriminated_connection_settings'
                      linkedin: '#/components/schemas/connector.linkedin.discriminated_connection_settings'
                      notion: '#/components/schemas/connector.notion.discriminated_connection_settings'
                      outreach: '#/components/schemas/connector.outreach.discriminated_connection_settings'
                      pipedrive: '#/components/schemas/connector.pipedrive.discriminated_connection_settings'
                      quickbooks: '#/components/schemas/connector.quickbooks.discriminated_connection_settings'
                      reddit: '#/components/schemas/connector.reddit.discriminated_connection_settings'
                      salesloft: '#/components/schemas/connector.salesloft.discriminated_connection_settings'
                      sharepoint: '#/components/schemas/connector.sharepoint.discriminated_connection_settings'
                      slack: '#/components/schemas/connector.slack.discriminated_connection_settings'
                      twitter: '#/components/schemas/connector.twitter.discriminated_connection_settings'
                      xero: '#/components/schemas/connector.xero.discriminated_connection_settings'
                      zoho-desk: '#/components/schemas/connector.zoho-desk.discriminated_connection_settings'
                      airtable: '#/components/schemas/connector.airtable.discriminated_connection_settings'
                      apollo: '#/components/schemas/connector.apollo.discriminated_connection_settings'
                      brex: '#/components/schemas/connector.brex.discriminated_connection_settings'
                      coda: '#/components/schemas/connector.coda.discriminated_connection_settings'
                      finch: '#/components/schemas/connector.finch.discriminated_connection_settings'
                      firebase: '#/components/schemas/connector.firebase.discriminated_connection_settings'
                      foreceipt: '#/components/schemas/connector.foreceipt.discriminated_connection_settings'
                      greenhouse: '#/components/schemas/connector.greenhouse.discriminated_connection_settings'
                      heron: '#/components/schemas/connector.heron.discriminated_connection_settings'
                      lunchmoney: '#/components/schemas/connector.lunchmoney.discriminated_connection_settings'
                      mercury: '#/components/schemas/connector.mercury.discriminated_connection_settings'
                      merge: '#/components/schemas/connector.merge.discriminated_connection_settings'
                      moota: '#/components/schemas/connector.moota.discriminated_connection_settings'
                      onebrick: '#/components/schemas/connector.onebrick.discriminated_connection_settings'
                      openledger: '#/components/schemas/connector.openledger.discriminated_connection_settings'
                      plaid: '#/components/schemas/connector.plaid.discriminated_connection_settings'
                      postgres: '#/components/schemas/connector.postgres.discriminated_connection_settings'
                      ramp: '#/components/schemas/connector.ramp.discriminated_connection_settings'
                      saltedge: '#/components/schemas/connector.saltedge.discriminated_connection_settings'
                      splitwise: '#/components/schemas/connector.splitwise.discriminated_connection_settings'
                      stripe: '#/components/schemas/connector.stripe.discriminated_connection_settings'
                      teller: '#/components/schemas/connector.teller.discriminated_connection_settings'
                      toggl: '#/components/schemas/connector.toggl.discriminated_connection_settings'
                      twenty: '#/components/schemas/connector.twenty.discriminated_connection_settings'
                      venmo: '#/components/schemas/connector.venmo.discriminated_connection_settings'
                      wise: '#/components/schemas/connector.wise.discriminated_connection_settings'
                      yodlee: '#/components/schemas/connector.yodlee.discriminated_connection_settings'
                  description: Connector specific data
                check_connection:
                  type: boolean
                  default: false
                  description: Perform a synchronous connection check before creating it.
              required:
                - connector_config_id
                - customer_id
                - data
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/core.connection_select'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Openint from '@openint/sdk';

            const client = new Openint({
              token: process.env['OPENINT_API_KEY_OR_CUSTOMER_TOKEN'], // This is the default and can be omitted
            });

            async function main() {
              const response = await client.createConnection({
                connector_config_id: 'ccfg_',
                customer_id: 'customer_id',
                data: { connector_name: 'acme-oauth2' },
              });

              console.log(response);
            }

            main();
        - lang: Python
          source: |-
            import os
            from openint import Openint

            client = Openint(
                token=os.environ.get("OPENINT_API_KEY_OR_CUSTOMER_TOKEN"),  # This is the default and can be omitted
            )
            response = client.create_connection(
                connector_config_id="ccfg_",
                customer_id="customer_id",
                data={
                    "connector_name": "acme-oauth2"
                },
            )
            print(response)
  /customer/{customer_id}/magic-link:
    post:
      operationId: createMagicLink
      summary: Create Magic Link
      description: Create a @Connect magic link that is ready to be shared with customers who want to use @Connect
      security:
        - ApiKey: []
        - CustomerToken: []
      parameters:
        - in: path
          name: customer_id
          description: The unique ID of the customer to create the magic link for
          schema:
            type: string
            minLength: 1
            description: The unique ID of the customer to create the magic link for
          required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                validity_in_seconds:
                  type: number
                  default: 2592000
                  description: How long the magic link will be valid for (in seconds) before it expires
                connect_options:
                  type: object
                  properties:
                    return_url:
                      type: string
                      title: Return URL
                      description: Optional URL to return customers after adding a connection or if they press the Return To Organization button
                    connector_names:
                      type: array
                      items:
                        $ref: '#/components/schemas/core.connector.name'
                      title: Connector Names
                      description: The names of the connectors to show in the connect page. If not provided, all connectors will be shown
                    view:
                      type: string
                      enum:
                        - add
                        - manage
                      title: Default View to load
                      description: The default view to show when the magic link is opened. If omitted, by default it will smartly load the right view based on whether the user has connections or not
                    debug:
                      type: boolean
                      title: Debug
                      description: Whether to enable debug mode
                    is_embedded:
                      type: boolean
                      title: Is Embedded
                      description: Whether to enable embedded mode. Embedded mode hides the side bar with extra context for the end user (customer) on the organization
[...]
