name: Validate (parallel)

on:
  push:
    branches: [main, production]
  pull_request:
  workflow_dispatch:

concurrency:
  group: validate-${{ github.ref }}
  cancel-in-progress: true

jobs:
  install-dependencies:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

  typecheck:
    runs-on: ubuntu-latest
    needs: install-dependencies
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      # - name: Setup upterm session
      #   if: always()
      #   uses: lhotari/action-upterm@v1

      - name: Run type checks
        run: pnpm run typecheck

  lint:
    runs-on: ubuntu-latest
    needs: install-dependencies
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Run lint
        run: pnpm run lint --quiet
        env:
          NODE_OPTIONS: --max-old-space-size=8192

  tests:
    runs-on: ubuntu-latest
    needs: install-dependencies
    timeout-minutes: 10
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_PORT: 5432
          POSTGRES_USER: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      neon-proxy:
        image: ghcr.io/timowilhelm/local-neon-http-proxy:main
        env:
          PG_CONNECTION_STRING: postgres://postgres:password@postgres:5432/postgres
        ports:
          - '4444:4444'
    env:
      NODE_OPTIONS: --max-old-space-size=8192
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      DATABASE_URL: postgres://postgres:password@db.localtest.me:5432/postgres
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Download environment variables
        run: |
          npm install --global vercel@latest
          vercel link --token $VERCEL_TOKEN --scope openint-dev --project v1 --yes
          vercel env pull --token $VERCEL_TOKEN ./apps/web/.env.local.orig
          cat ./apps/web/.env.local.orig | pnpm --silent bun scripts/escape-env.ts > ./apps/web/.env.local
      - name: Run migrations
        run: |
          pnpm migrate
      - name: Start dev servers
        run: |
          pnpm run web --port 4000 &
          pnpm wait-on tcp:4000
          npx inngest-cli@latest dev &
          pnpm wait-on tcp:8288
      - name: Run tests
        run: ./bin/shdotenv -q -e ./apps/web/.env.local pnpm run jest::ci

      - name: Setup upterm session
        if: always()
        uses: lhotari/action-upterm@v1

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: build-artifacts
          path: ./artifacts

  storybook:
    runs-on: ubuntu-latest
    needs: install-dependencies
    timeout-minutes: 5
    env:
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Need more than 1 commit https://www.chromatic.com/docs/github-actions/
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Download environment variables
        run: |
          npm install --global vercel@latest
          vercel link --token $VERCEL_TOKEN --scope openint-dev --project v1 --yes
          vercel env pull --token $VERCEL_TOKEN ./apps/web/.env.local.orig
          cat ./apps/web/.env.local.orig | pnpm --silent bun scripts/escape-env.ts > ./apps/web/.env.local

      - name: Build css file
        run: pnpm --dir packages/ui-v1 build-tailwind

      # Consider using official github action https://www.chromatic.com/docs/github-actions/
      # TODO: Stop auto-accept-changes once we are in a good state
      # - name: Publish storybook to chromatic
      #   run: ./bin/shdotenv -q -e ./apps/web/.env.local pnpm --dir packages/ui-v1 chromatic --only-changed --exit-zero-on-changes --auto-accept-changes
      #   env:
      #     CHROMATIC_SHA: ${{ github.sha }}
      - name: Publish to chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: packages/ui-v1
          onlyChanged: true
          exitZeroOnChanges: true
          autoAcceptChanges: main



  # slack-notification:
  #   runs-on: ubuntu-latest
  #   needs: [typecheck, lint, tests]
  #   if: always()
  #   steps:
  #     - name: Send Slack notification
  #       uses: 8398a7/action-slack@v3
  #       with:
  #         status: ${{ job.status }}
  #         fields: repo,message,commit,author,action,eventName,ref,workflow,job,took,pullRequest
  #       env:
  #         SLACK_WEBHOOK_URL: ${{ secrets.SLATIFY_SLACK_WEBHOOK_URL }}
